[2020-09-21 14:49] sgillies commented on #2000
Confirmed. From gdb:

[code]

[2020-09-21 20:43] sgillies commented on #2000
GDAL's `VRTWarpedDataset` destructor closes the GDAL dataset that we have passed to rasterio's `WarpedVRT` constructor. If that dataset was in a `MemoryFile` and that `MemoryFile` was closed first, `VRTWarpedDataset::CloseDependentDatasets()` will crash.

[2020-09-22 00:04] JanChytry opened #2002 "Rasterio stretches DN values of a DIMAP image unexpectedly"
## Actual and expected behaviour and steps to reproduce

I opened a Pleiades Satellite imagery, which is originally of the DIMAP format, using the image's XML file:

[code]

This image's maximum should be around 1300 in all bands. However, when I check out `q08.max()`, it always outputs `4095` which also represents the upper limit of Pleiades images, 2<sup>12</sup>.

I believe, rasterio stretches

[2020-09-22 00:13] sgillies commented on #2002
I'm not familiar with DIMAP. If rasterio reports that the max value is 4095, then GDAL is certainly extracting 4095 values from the file. Is 4095 the nodata value by any chance? Do you see a different max value from `sourcefile.read(masked=True)` ?

[2020-09-22 08:56] JanChytry commented on #2002
The max value of the `sourcefile.read(masked=True)` is the same. I am 100% sure, there is not even a single DN value of 4095 in the original image.

[2020-09-22 11:15] JanChytry commented on #2002
I think I solved the problem. Reading the file as `sourcefile.read().astype('float')` returns meaningful values. Testing on doing band algebra (computing NDVI from the image), it returned meaningful float results (both positive and negative values) as well.

[2020-09-22 14:02] sgillies commented on #2002
Looks like the problem is numpy usage and not rasterio. Keep in mind that the `dtype` attribute of a numpy ndarray only tells you what the data type is. Setting it to a new value won't convert your values as might expect. For example:

[code]

To me it seems like a bug in numpy that changing the dtype is allowed. `astype()` is what to use if you want to preserve the shape of your array.

[2020-09-22 14:02] #2002 closed

[2020-09-22 21:40] sgillies commented on #2000
I'm finding it difficult to write a test without contextily that will crash. GDAL may fail to delete in-memory files referenced by a VRT in some cases. Such a safety feature might depend on which format driver is being used. I'll look deeper in GDAL, but I don't think there will be a fix for this soon. Contextily needs a fix right away.

[2020-09-24 16:35] JanChytry commented on #2002
Exactly. This seems as a good workaround and a solution to this issue. Thanks!

[2020-09-25 20:05] scottstanie opened #2004 "rio warp and window read produce different sizes"
Hi, I apologize in advance if this is expected behavior, but this was confusing to me:

## Expected behavior and actual behavior.

I'm trying to grab a subset of a large raster (here it's a DEM, `../test_elevation_envi.dem`) using an extent lat/lon bounding box. The `gdalwarp` and `rio warp` commands both produce the size I expect, which is 1800 x 1440 (cols x rows)

[code]

However, I was origina

[2020-09-25 21:33] scottstanie commented on #2004
This seems to be something related to the `op` used to round/floor/ceil the boundaries, and possibly the `precision` used to round... but i can't get the simple example to give the right sizes:

[code]

There are other arguments passable to certain functions that make it work:
[code]

but none of these are used when creating a window like `src.window(*[-104.2, 31.6, -103.95, 31.8], precision=5)`.

[2020-09-28 02:08] snowman2 commented on #265
I have a draft PR for Fiona https://github.com/Toblerity/Fiona/pull/948 that might have some useful items to pull into a solution for `rasterio`.

[2020-09-28 20:26] sgillies opened #2007 "1.1.7 release"
Target date: 2020-09-29

[2020-09-28 22:24] sgillies commented on #2004
@scottstanie I'm sorry about ambiguity in the API and documentation. `dataset.window()`, as you've noticed, will generate windows with float offsets and lengths. The lengths need to be rounded to integers to match numpy. The rio-warp command rounds up, using `ceil()`, which can result in an extra column or row with no data in it in some cases. `dataset.read()` casts the lengths to `int`, which mig

[2020-09-29 01:36] sgillies commented on #2007
Test build here looks good: https://github.com/rasterio/rasterio-wheels/pull/57.

[2020-09-29 21:38] sgillies commented on #2007
Distributions are on PyPI. Share and enjoy!

[2020-09-29 21:38] #2007 closed

[2020-09-29 23:20] #2000 closed

[2020-10-01 01:22] snowman2 commented on #1980
If you wanted to take it a step further and attempt to add a `units` property, you might be able to use the [is_projected](https://github.com/mapbox/rasterio/blob/023836d4c9d808471fc1fef985ca92991c9efe16/rasterio/crs.py#L214) and [is_geographic](https://github.com/mapbox/rasterio/blob/023836d4c9d808471fc1fef985ca92991c9efe16/rasterio/crs.py#L203) methods to decide which one to return.

[2020-10-01 19:40] sgillies commented on #538
Related: https://github.com/OSGeo/gdal/pull/2991.

[2020-10-01 19:43] rouault commented on #538
not related. This will not help /vsicurl and friends that don't use CPLHTTPFetch(), but curl directly

[2020-10-01 19:49] sgillies commented on #538
Thanks for the clarification @rouault !

[2020-10-04 00:16] snowman2 opened #2009 "PROPOSAL: Use certify to set CURL_CA_BUNDLE"
https://pypi.org/project/certifi/

Example of what I am thinking:
[code]

I think this will help with the transition to using GDAL 3 and PROJ 7 in the wheels.

[2020-10-05 19:15] #265 closed

[2020-10-05 20:25] sgillies commented on #2009
@snowman2 this is useful right away! I'm going to do it.

[2020-10-05 23:26] sgillies commented on #1877
Related: I'm working on an API for clearing the VSI cache in #2011 .

[2020-10-06 22:07] #2009 closed

[2020-10-06 22:46] sgillies opened #2013 "Rasterio 1.2.0"
Let's do this before the end of October.

New features include:

* VSI cache clearing #1078
* API for driver metadata (like https://github.com/Toblerity/Fiona/pull/950)
* RPC support #1922
* More: https://github.com/mapbox/rasterio/milestone/95?closed=1

[2020-10-07 00:23] snowman2 commented on #2009
Thanks @sgillies :+1:

[2020-10-07 22:16] snowman2 commented on #2009
If you wait until GDAL 3.2 and PROJ 7.2 are released and include them in the wheels, you could instead set `GDAL_CURL_CA_BUNDLE` and `PROJ_CURL_CA_BUNDLE`.

[2020-10-08 23:06] dazza-codes commented on #1785
OK, so tried using a `moto[server]` option, something like a synchronous version of:
- https://gitlab.com/dazza-codes/aio-aws/-/blob/master/tests/aiomoto_services.py

The test code is something like:

[code]

The error from curl is like:

[code]

It seems to be impossible to get rasterio/gdal/curl to use the moto server endpoint.  The rasterio/gdal/curl request internals insist on inserting the bu

[2020-10-10 18:32] 00krishna opened #2015 "Rasterio error `An error occurred while writing a dirty block from GDALRasterBand::IRasterIO` even with Libtiff >4.0 installed on Windows."
## Expected behavior and actual behavior.

This is associated with BIGTIFF support in Rasterio. I was trying to compress a large GeoTIFF file on Windows 10 Home and Professional. The original file was 2GB in LZW compression and I was trying to convert it to JPEG compression. Practically speaking, that involves uncompressing the file in memory and then recompressing it. This process works just fine

[2020-10-11 00:09] snowman2 commented on #2009
The current implementation is great, this is just an idea bugging my brain:

 I found that `rasterio.Env(CURL_CA_BUNDLE=cacert.where())` and also worked for vsicurl. Another option could be to add `CURL_CA_BUNDLE=cacert.where()` to [default_options](https://github.com/mapbox/rasterio/blob/d7b2dd3ae64c55978e265fa9230732e88b1dc9ae/rasterio/env.py#L89) and also set the `PROJ_CURL_CA_BUNDLE` environme

[2020-10-11 14:02] cg-david opened #2017 "Rasterio.plot.show() cannot deal properly with RGB and uint16 data."
## Expected behavior and actual behavior.

Basically to `rasterio.plot.show()` to print any (masked) \*.tif file.

#### What I did:
I downloaded an RGB raster file (\*.tif-format) from the Sentinel-hub. The data had four layers in `uint16` format - which rasterio didn't like. After trying a simple `np.uint8(src.read())`\*\* and plotting the output with plt.imshow(), the output figure contained a l

[2020-10-12 12:38] iboates opened #2019 "rasterio.crs.CRS.from_authority() fails on Linux but not on Windows"
## Expected behavior and actual behavior.

[code]

When executing this code on Windows 10, it works. When executing on Linux (Ubuntu 18.04), It returns:

[code]

## Steps to reproduce the problem.

Execute this snippet on both target environments:

[code]

## Operating system

Windows 10 and Ubuntu Linux 18.04

## Rasterio version and provenance

1.1.7 installed from pip

pyproj is 2.6.1.post1 in

[2020-10-12 17:24] sgillies commented on #1785
@dazza-codes that sounds frustrating. I haven't tried alternate endpoints before. Could you check the comment at https://github.com/mapbox/rasterio/issues/1293#issuecomment-502651617 and see if the `AWS_VIRTUAL_HOSTING` config option needs to be set?

[2020-10-12 21:49] sgillies commented on #1811
@mark-boer the more I look at your example, the better it looks. I think we could annotate it a little more to make it clear that it is all about executing `compute()` concurrently. There's only one read and one write happening at any time, and depending on your hardware, perhaps only one disk operation at a time. And this example is totally fine and valuable: users need examples of concurrent ras

[2020-10-13 16:04] glostis commented on #1785
@sgillies from what I understood:
- with `AWS_VIRTUAL_HOSTING=True`, GDAL will build a URL that looks something like `mybucket.cname.domain.com` to access the bucket
- with `AWS_VIRTUAL_HOSTING=False`, the URL will be built like `cname.domain.com/mybucket`.

Some non-AWS S3 servers implement only one or the other route, so both need to be tested in order to know which one works.

@dazza-codes some

[2020-10-15 00:18] snowman2 commented on #2019
You need GDAL 3+ for `from_authority` to work. You can check this with:

[code]
or:
[code]

[2020-10-15 00:21] snowman2 commented on #2019
See also:
- https://gis.stackexchange.com/a/373658/144357
- https://pyproj4.github.io/pyproj/stable/crs_compatibility.html#rasterio

[2020-10-15 00:24] snowman2 commented on #1965
@sgillies would you be in opposed to a PR with the linting & pre-commit config files?

[2020-10-15 01:47] vincentsarago commented on #1965
IMO we should do this at the same time as https://github.com/mapbox/rasterio/issues/1774 so we can add types 🤷‍♂️

[2020-10-15 03:51] snowman2 commented on #1774
Python 3.6+ according to #1813

[2020-10-15 19:21] sgillies opened #2020 "1.1.8 release"
Target date: 2020-10-19.

[2020-10-15 19:49] 00krishna commented on #2015
Hey @sgillies just wanted to check if you had a chance to look at or replicate this issue yet? Thanks for your help.

[2020-10-16 00:10] sgillies commented on #1965
@snowman2 @vincentsarago would you be okay with waiting until after 1.2.0? I don't want anything getting in the way of a new minor release.

[2020-10-18 11:16] mark-boer commented on #1811
To be fair, the example was made entirely by Pablo Sanfilippo on the rasterio groups  :wink:. I'll update your suggestions today.

@sgillies Would parallel writing / reading differ when you are using a different virtual file system, such as VSICURL or VSIS3?

[2020-10-19 14:22] drewbo opened #2022 "Nodata mask doesn't match fill values with non-integer valued windows"
## Expected behavior and actual behavior.

When doing a windowed read with masking, the mask should match places where the data is equal to the fill value. This occurs when the window is integer valued but not otherwise. (the existence of the window methods `round_shape` and `round_offsets` make me think this is a known issue/expected behavior but I couldn't find any comments related to it)

## St

[2020-10-19 15:30] sgillies commented on #2015
@00krishna I don't use Windows or a Mac and so I'm not likely to be able to reproduce this. I've read indications on the internet that this error occurs when disks are full.

BTW, I recommend using https://rasterio.readthedocs.io/en/latest/api/rasterio.shutil.html?highlight=copy#rasterio.shutil.copy instead of inventing your own file copier.

[code]

[2020-10-19 18:14] 00krishna commented on #2015
@sgillies thanks for the very helpful comments. Hmm, I checked with the user and he has 100 GB empty space on his hard drive, and since I am using the windowed read/write, that should handle the RAM okay too right. I can try the updated copy code as you suggest and see if that works.

Do you know if there is a way to check which version of `Libtiff` that rasterio is using? Like I can check whether

[2020-10-19 19:50] sgillies commented on #2015
@00krishna rasterio's API doesn't expose the libtiff version. It's whatever GDAL links. I know that GDAL 3.1.x includes the source of libtiff 4.1.0, so I don't think there are inherent problems with the version. It may be worth your time to ask on the gdal-dev list. Others may have seen this error in different contexts and GDAL's lead developer is familiar enough with rasterio to be able to separa

[2020-10-19 20:55] snickell commented on #1178
@sgillies Do you know what the newer ticket # is? We're running into this issue, or something that looks identical, and would love to understand the current progress. Thanks!

[2020-10-19 21:42] snickell commented on #1178
We have a 6-band GeoTIFF output with the default settings from photoscan 1.3 (windows photogrammetry software).

What we notice is that whereas:
- `rasterio.open('photoscan13-raw.tif').read([6])` is clearly the alpha channel when we examine its content
- when we open the file in ENVI or QGIS we can see that they have band 6 marked as Alpha
- However: `rasterio.open('photoscan13-raw.tif').colorinte

[2020-10-19 21:45] snickell commented on #1178
We also notice that:
- when we use gdal (e.g. rasterio or gdalinfo) to load a 2 band (grayscale + alpha) GTiff output by Photoscan 1.3, `dataset_mask()` /does/ work correctly, and we don't get GDAL warnings
- HOWEVER, when we open the 6-band (alpha is band 6) GTiff made bny Photoscan 1.3 we get GDAL warnings:
[code]

I suspect this is the low-level error that is manifesting first as im.colorinterp

[2020-10-19 23:48] sgillies commented on #2022
@drewbo can you tell me more about your dataset? If I understand correctly, it has no mask, but has a nodata value? I should be able to reproduce this with rasterio's RGB.byte.tif file.

[2020-10-20 13:25] 00krishna commented on #2015
@sgillies Okay good to know. Yeah, I can post to the gdal-dev list and see if anyone has any insights. Thanks for the suggestion.

[2020-10-20 22:23] sgillies commented on #2022
@drewbo confirmed, thanks! This report and the examples are super helpful. My first hypothesis was that the problem would be around the edges of the window (off-by-one error always being a prime suspect), but in plotting `((data.data[0] == data.fill_value) == data.mask[0])` it seems that is not the case. Yellow is True, Purple is False in the figure below. The discrepancy is around the edge of 0 v

[2020-10-20 23:04] #1963 closed

[2020-10-21 01:58] sgillies commented on #2020
Done! https://pypi.org/project/rasterio/1.1.8/#files

[2020-10-21 01:58] #2020 closed

[2020-10-21 16:43] sgillies commented on #2022
BTW, this issue persists in GDAL 3.1.4RC2.

[2020-10-21 17:56] sgillies commented on #1178
@snickell here's the newer issue in the tracker: https://github.com/mapbox/rasterio/issues/1456. It's still open and it's a GDAL issue. QGIS is working around it. I'm not sure what choices it makes or if rasterio would make the same one.

[2020-10-22 20:39] sgillies commented on #1811
@mark-boer I don't have a good answer for that question. I think we should avoid putting such an example in the rasterio docs unless it comes from some actual running code with benchmarks and a thorough analysis of the problem space.

[2020-10-24 03:30] snowman2 commented on #1811
Thanks 👍

[2020-10-24 03:30] #1811 closed

[2020-10-25 02:58] sgillies commented on #2022
https://github.com/OSGeo/gdal/issues/3102 fixes the GDAL bug but won't be in a release until 3.2.0. I've made a patch for GDAL 3.1.4 that also applies to 2.4.4 and am testing it at https://github.com/rasterio/rasterio-wheels/pull/60. If this works, I'll make a 1.1.8 post-release with the GDAL patch.

[2020-10-25 18:07] sgillies opened #2024 "1.1.8post1 release"
We're going to patch GDAL 2.4.4 to fix GDAL issue #3101 and #2022. Wheels from https://github.com/rasterio/rasterio-wheels/pull/60. Target date: 2020-10-25.

[2020-10-25 19:28] sgillies commented on #2024
In fact, I used Matthew Brett's add_build.py to make wheels with new build tags and uploaded them to https://pypi.org/project/rasterio/1.1.8/#files.

[2020-10-25 19:28] #2024 closed

[2020-10-25 19:29] #2022 closed

[2020-10-27 20:01] bw4sz commented on #1686
I am also experiencing this error reading from dask workers. I believe if separate workers access the same file you will get this error.

[code]

[code]

Still searching for a lock mechanism to keep workers from interrupting, or waiting until file has been closed.

[2020-10-27 21:31] sgillies commented on #1686
@bw4sz if you have been building your own rasterio module (good for you!) you won't have the fix for this. The fix is in GDAL 3.1.x (3.1.3 or 3.1.4 specifically). I have patched the GDAL 2.4.4 library included in the rasterio wheels on PyPI, so that's another way to get it.

[2020-10-27 21:45] bw4sz commented on #1686
Thanks. I'll have a look. Right now I just reduced the number of workers,
but I haven't confirmed this works. I'll update requirements and see if I
can get GDAL > 3.1. Conda can be picky with geopandas and the rest of the
stack.

On Tue, Oct 27, 2020 at 2:31 PM Sean Gillies <notifications@github.com>
wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weeb

[2020-10-28 23:40] sgillies commented on #2013
End of October was too optimistic. I need to move the target to end of November. Sorry, everybody.

[2020-10-30 19:16] SalasSanchez commented on #1686
I have been running into the same issue, using rasterstats==0.15.0. I upgraded rasterio in my deploy to rasterio==1.1.8.

I am still getting the "'/vsis3/xxxx.tif' not recognized as a supported file format" error message, even with a single request, and with the latest rasterio. It does not recover until I redeploy.

@sgillies, under what conditions was your fix going to help?

I am still struggli

[2020-11-01 10:18] kokkytos opened #2026 "hdf4 not recognized as a supported file format"
I'm trying to open an HDF4 MODIS file with
`rio info MOD11A1.A2014152.h18v04.006.2016204003609.hdf
`
But I get an error.
Also, the problem occurs on Python
`with rio.open(HDF_FILE) as dataset:`
The OS is Ubuntu Focal on docker container. The HDF file is available through a docker volume on host OS.
(The same file is opened from another OS with conda environment).

The error message is:

**My envir

[2020-11-01 17:51] jdmcbr commented on #2026
@kokkytos If you installed with `pip install rasterio`, it includes a minimal GDAL version that doesn't include HDF4 support (see https://rasterio.readthedocs.io/en/latest/installation.html#installing-from-binaries), rather than using whatever system GDAL you have installed. If that's the case, you should use `pip install rasterio --no-use-wheel`.

[2020-11-01 17:55] jdmcbr commented on #2026
Also, I think https://rasterio.groups.io/g/main is the preferred forum for raising installation related issues, rather than the github issue tracker.

[2020-11-02 11:51] kokkytos commented on #2026
@jdmcbr  `--no-use-wheel` is not available any more (` no such option: --no-use-wheel)`.

 I used  `pip3 install rasterio --no-binary rasterio` but the problem still persists.

[2020-11-02 15:22] #2026 closed

[2020-11-03 06:43] underchemist opened #2028 "Accessing `rpcs` attribute with a dataset that does not have RPC metadata raises `KeyError`"
## Expected behavior and actual behavior.

Accessing `rpcs` attribute when dataset does not have RPC metadata should return `None` (following behavior when dataset does not have a crs). Instead, a `KeyError` is raised due to attempting to instantiate `RPC` with an empty dict.

## Steps to reproduce the problem.

open dataset that does not have RPC metadata defined in the RPC metadata domain, acces

[2020-11-04 13:53] daniel-j-h opened #2032 "Merging datasets introduces unexpected seams at the input dataset's borders"
Hey folks :wave: I have three rasters with different coverage (black=nodata), and want to merge them into a single raster where nodata values get reduced as much as possible, imputing nodata values from the input rasters.

I had a look at `rio merge` and it sounds perfect! :rocket: Merging thee input rasters, prefering the latest raster (by date):

    rio merge --nodata 0 20200928* 20200923* 2020

[2020-11-04 15:25] daniel-j-h commented on #2032
What I've also tried now is making use of the latest changes to `rio merge` to pass a resampling option; still seams, though.

[2020-11-04 18:19] SalasSanchez commented on #1686
@bw4sz Did you confirm the reduced number of workers fixed it? I did the same, but I still see  the issue pop up now and then.

[2020-11-05 18:36] bw4sz commented on #1686
Nope, i just checked back to this thread in case anyone else had. I am also
using rasterstats. I'm guessing this is an issue for that repo? It feels
like it is not closing the tile properly. Let's go to that repo?

On Wed, Nov 4, 2020 at 10:19 AM Salas Sanchez-Bennasar <
notifications@github.com> wrote:

--
Ben Weinstein, Ph.D.
Postdoctoral Fellow
University of Florida
http://benweinstein.weebly.c

[2020-11-05 23:06] bw4sz commented on #1686
Just leaving an update since I said I would. It _currently_ that this errors only occurs when working on dask workers. Outside of dask I cannot (yet) recreate it. Very hard to create a reproducible example in these circumstances. pip install rasterio == 1.1.8 did not change any behavior. I am meticulously rebuilding a gdal == 3.2.0 environment, since conda was being very particular. My sense right

[2020-11-06 08:21] dionhaefner commented on #1686
I lost overview over what configurations people are using, but our experience was this:

- Serial execution: ✔️
- Multi-threaded execution: ❌
- Multi-processing: ✔️

So we just ditched multithreading and use a process pool instead, haven't seen the error since.

[2020-11-11 12:32] daniel-j-h opened #2033 "`rio stack` library function missing"
Hey folks :wave: I have three single-channel rasters I want to stack, to get a dataset with three channels. The broader context is: I want the raster single-channel numpy arrays aligned and stacked in a single numpy array, where pixels correspond to each other.

And while there exists a `rio stack` command, I haven't found a corresponding library function to do this from Python.

Ideally `rio stac

[2020-11-11 16:17] sgillies commented on #2033
@daniel-j-h you're right, there's no API module about stacking. But there is a place reserved for it: https://github.com/mapbox/rasterio/pull/1322. And a conceptual framework: https://github.com/mapbox/rasterio/issues/1300.

[2020-11-11 18:11] manisandro opened #2034 "Test failures with gdal-3.2.0 + proj-7.2.0"
While working on packaging gdal-3.2.0 + proj-7.2.0 for Fedora, rebuilding python-rasterio against these results in the following test failures, which don't occur with gdal-3.1.4 + proj-6.3.2:

    =================================== FAILURES ===================================
    _________________________________ test_shapes __________________________________

    basic_image = array([[0, 0, 0, 0

[2020-11-11 18:24] sgillies commented on #2034
@manisandro yes, GDAL changed its polygonizer algorithm and now polygon rings are wound in the reverse direction. We made rasterio's test assertions too brittle and now they've broken.

[2020-11-11 18:26] manisandro commented on #2034
Thanks for the quick reply! Is it safe to ignore these test failures then?

[2020-11-11 18:41] brendan-ward commented on #2034
I didn't see the change in polygonizer in the GDAL changelog, only [note about dummy geotransform](https://github.com/OSGeo/gdal/blob/v3.2.0/gdal/NEWS#L139)

The set of coordinates is not the same (last failure):
[code]

Note vertex `[9., 8.]` in `y`.  Provided I'm seeing this correctly, this concerns me more than coordinate order.

The vertex order does not seem consistently changed (first failur

[2020-11-12 10:49] daniel-j-h opened #2035 "Unclear how resampled reading affects nodata"
Hey folks :wave: - I couldn't find anything in [the docs](https://rasterio.readthedocs.io/en/latest/topics/resampling.html) about this:

How do nodata values affect resampling, and how does resampling affect nodata values?

What I mean is
1. What happens if I upsample (e.g. x2) a raster with nodata values. For example if every second pixel has a nodata value. Will resampling ignore the nodata valu

[2020-11-12 18:02] #2028 closed

[2020-11-12 18:13] sgillies opened #2036 "src_crs parameter doesn't override src.crs in reproject()"
This would be a surprise if a user expected it to work.

[2020-11-12 20:47] sgillies commented on #2035
@daniel-j-h yes, indeed, we need to make this more clear. The GDAL project itself is not very explicit on the subject. There is another discussion about this in https://github.com/mapbox/rasterio/issues/1721.

The data returned by a call to `dataset.read(masked=False)` which resamples or does not resample is not informed by the dataset's mask. The same is true for the .data attribute of the masked

[2020-11-13 07:52] awa5114 opened #2037 "Local test run causes problems related to cython packages"
## Expected behavior and actual behavior.

I expected to run the warping tests after a fresh fork , clone and `pip install -r requirements.txt` but this did not work. I get an error instead:

[code]

## Steps to reproduce the problem.
 - Fork rasterio repository
 - clone to local machine
 - run `pip install -r requirements.txt` followed by `pip install -r requirements-dev.txt`
 - run `pytest tests

[2020-11-13 15:32] underchemist commented on #2037
I've run into similar issues before on windows, and have seemingly worked around it by installing rasterio in editable mode i.e. `pip install <args> -e .` I'm not sure why that works...

Other times a fresh virtualenv/conda env seems to help.

[2020-11-13 16:12] sgillies commented on #2037
@awa5114 you can't run the tests from the repo directory unless the project has been installed in editable mode. This is a consequence of the repo layout. We do this

[code]

and when pytest does `import rasterio`, Python's import machinery finds a rasterio package in the current working directory. A package that is missing the compiled extension modules. Other projects avoid this problem by struc

[2020-11-13 16:12] #2037 closed

[2020-11-14 05:23] awa5114 commented on #2037
Thanks for your responses. Editable mode doesn't do it. Here's the traceback:

[code]
I think this has to do with the fact I am using a windows machine. I have gdal installed on the active environment but according to the docs this is not enough. I tried to follow the docs by downloading the `release-1911-x64-gdal-3-1-3-mapserver-7-6-1` from [here](https://www.gisinternals.com/release.php) but the

[2020-11-14 05:31] underchemist commented on #2037
@awa5114 Windows is indeed a bit tricky for GDAL/rasterio. I've written this gist as a reference for myself https://gist.github.com/underchemist/a91fe2a9a130ab541be223265be21dcd

Note that I'm using conda here, but you can replace %CONDA_PREFIX% with the location of your GDAL installation. These extra steps are required because there are no wheels available on windows.

[2020-11-14 05:50] awa5114 commented on #2037
@underchemist thanks for your help. I am indeed using `conda`. I copied the command in your gist:

`pip install --global-option build_ext --global-option -I%CONDA_PREFIX%\Library\include --global-option -lgdal_i --global-option -L%CONDA_PREFIX%\Library\lib .`

When I press enter things lag for a bit longer in the"Installing Build Dependencies..." step but ultimately I get the same error as the one

[2020-11-14 05:59] underchemist commented on #2037
Oh, have you set the `GDAL_VERSION` environment variable? You can do so with `set GDAL_VERSION=X.Y.Z`. This is required since windows doesn't have `gdal-config` available for general introspection

Additionally, I've found that if i've installed the deps already through `pip install -r requirements.txt -r requirements-dev.txt` I can additionally specify `--no-use-pep517` and this makes the build p

[2020-11-14 06:16] awa5114 commented on #2037
@underchemist  sorry, but that didn't work either:

[code]

I could of course downgrade my python to 3.7 and install GDAL 2.4.2 but that can't be it right? Isn't rasterio compatible with the latest python and gdal?

[2020-11-14 06:19] awa5114 commented on #2037
I also see that another user has experienced this problem in a separate issue but there is not proposed solution:

https://github.com/mapbox/rasterio/issues/1963

[2020-11-14 06:34] underchemist commented on #2037
@awa5114 I can confirm that I can install rasterio with the latest gdal versions, though I think I've only tested with up to Python 3.8. Looking at the error you provided it seems like the failure was in finding the header file, which should be in the include directory passed to pip.

Sometimes, conda environments can get a bit messed up. Another possibility is to clean/remove and try from scratch

[2020-11-14 11:55] awa5114 commented on #2037
@underchemist I deleted my environment and created a new one. Then I reinstalled the requirements, followed by gdal using `conda install gdal` .  I also set the `GDAL_VERSION` environment variable manually. `cpl_conv.h` is still not there, and I get an enormous traceback with a multitude of warnings and the same error as above:

[code]

Why is `cpl_conv.h` not present? how can I install the repo o

[2020-11-14 16:33] underchemist commented on #2037
@awa5114 thanks for patience. I've replicated your workflow and I run into the same issue. Generally I did

[code]
but I get the cpl_convo.h not found. I tried to simplify things and  instead ran
[code]
which worked, however
[code]
failed ultimately due to not finding include files again. Despite the build_ext step it seems like the `install` step tries to build _shim extension.

[code]

Finally

[2020-11-14 17:01] awa5114 commented on #2037
Indeed that seems to work:

[code]

Perhaps you could update the gist with that?

However I am still facing the same issue with `pytest` in my original post:

[code]

That's the first thing. The second thing which is super confusing to me is why `conda list rasterio` returns the following:

[code]

I want to set up a development environment, so that I can work on the repo directly for educational

[2020-11-14 17:10] underchemist commented on #2037
As mentioned earlier, in order to run tests you'll have to install in editable mode i.e. `pip install .... -e .` This will allow you to run tests, and also do exactly what you want in terms of having the installed rasterio point to your working changes in the repository.

[2020-11-14 17:30] awa5114 commented on #2037
Allright. I think it now works. Starting from a fresh conda environment, I did the following:

 - `conda install python`
 - `pip install requirements.txt`
 - `pip install requirements-dev.txt`
 - `conda install gdal`
 - `pip install --no-use-pep517 --global-opt
ion build_ext --global-option -I%CONDA_PREFIX%\Library\include --global-option -lgdal_i --g
lobal-option -L%CONDA_PREFIX%\Library\lib -e .

[2020-11-14 17:38] underchemist commented on #2037
Just for your information, the editable mode is "installing" rasterio, but essentially just links to the files in your repository. This whole exercise has been in installing rasterio, and the editable mode doesn't change the fact that you're installing it. The source files are just located somewhere different than `site-packages`. So that's why it's appearing in `conda list` or `pip freeze`. This

[2020-11-16 18:24] underchemist commented on #410
I believe this can be closed with #2031

[2020-11-16 19:08] #410 closed

[2020-11-18 14:34] davedavemckay opened #2040 "Installation of geos and geos-devel appears to break rasterio path to gdal on CentOS 8?"
Hi, I had rasterio working fine on my system yesterday, but today it reports:

## Expected behavior and actual behavior.

ImportError: libgdal.so.27: cannot open shared object file; No such file or directory.

## Steps to reproduce the problem.

python -c "import rasterio"

## Operating system

CentOS 8

## Rasterio version and provenance

pip 20.2.4 (Python 3.9)

## Other stuff

The only change m

[2020-11-18 15:39] #2040 closed

[2020-11-18 15:41] sgillies commented on #2040
@davedavemckay sorry to be short, but please see https://github.com/mapbox/rasterio#support.

[2020-11-18 16:06] davedavemckay commented on #2040
OK, no problem.

[2020-11-18 22:06] sgillies opened #2041 "Cast nodata value before filling in rio calc"
At line 192, `res = res.filled(kwargs['nodata'])`, we need to convert that string to a numpy scalar or array of `res` dtype.

[2020-11-18 22:23] sgillies commented on #2019
Thanks @snowman2 !

[2020-11-18 22:23] #2019 closed

[2020-11-20 00:34] snowman2 opened #2044 "PROPOSAL: WKT Format Support"
Related:
- https://github.com/Toblerity/Fiona/issues/977
- https://github.com/Toblerity/Fiona/pull/979

Would be nice to have #2016 in before doing so.

[2020-11-20 16:52] daniel-j-h opened #2045 "Merge (and stack) multiple datasets should use best resolution possible"
Hey folks :wave: right now `merge` simply uses the first dataset's attributes - we therefore also use the resolution from the first dataset when we align all other datasets to the first one.

This is not ideal, because the first dataset might not have the highest resolution. Not using the highest resolution available means throwing away useful details and information.

Right now the user can work

[2020-11-20 20:04] dazza-codes opened #2046 "Support for ZSTD"
Is it possible to bundle an optional extra for support of ZSTD (or provide it by default) in a binary wheel installation?  This blog post indicates it has some performance advantages
- https://kokoalberti.com/articles/geotiff-compression-optimization-guide/
- https://github.com/kokoalberti/geotiff-benchmark/blob/master/Dockerfile

[code]

[code]

[code]

[2020-11-20 20:32] underchemist commented on #2046
Since you're in a conda environment, why not install gdal from conda-forge

[code]

which comes compiled with zstd support.

You can install rasterio from source, using your existing gdal installation.

[2020-11-20 21:14] dazza-codes commented on #2046
This issue is for the pip installs.  I already know about the option to use conda.  I have many use cases on AWS Lambda where a conda install is not an option.

[2020-11-21 23:43] snowman2 commented on #2046
@dazza-codes, for AWS Lambda you can build a custom GDAL setup and use `--no-binary rasterio` to install. An example of how to do that is here: https://github.com/developmentseed/geolambda

[2020-11-22 23:03] sgillies commented on #2046
See https://github.com/rasterio/rasterio-wheels/issues/23, which I just reopened.

[2020-11-22 23:03] #2046 closed

[2020-11-23 11:00] tofublock opened #2048 "Off-by-one error in merge.py with bounds"
## Expected behavior and actual behavior.

Trying to merge multiple hgt tiles with new bounds for a cropped output image raises a ValueError:

[code]

This does not happen when feeding a single input file into the merge function.

It seems to be a by-one error in determining temp_shape in rasterio/merge.py

Changing
https://github.com/mapbox/rasterio/blob/0746738acc8cb999107d87f90fc2a315e678aa8b/r

[2020-11-23 17:01] groutr commented on #2048
@tofublock, when I ran across this, I raised the precision and it resolved the problem.

[2020-11-23 19:35] tofublock commented on #2048
Good to know, thank you, I'll try that.

It sounds like a good workaround but if it's the intended usage it should probably be documented as such (docs just say `precision (float, optional) – Number of decimal points of precision when computing inverse transform.`) instead of raising an arbitrary `ValueError`. Also, shouldn't merge.merge decide on the minimum precision required to prevent easily p

[2020-11-23 20:37] tofublock commented on #2048
I tried your approach @groutr and it does seem to work for the few samples I've tried.

I'm wondering what the appropriate value to set it to is. Default is 10 **decimal points of precision**, which sounds like a lot to begin with.
Merging and cropping 10 hgt tiles took `<11: Error, 12: 2.7811s, 15: 2.7744s, 20: 2.8666s, 100: 3.0405s`, so it does have an impact on calculation time as well, unsurpr

[2020-11-24 00:33] sgillies commented on #2048
@tofublock thanks for reporting this. I'm going to mark this as something to resolve after 1.2.0.

Do we have any [gdal_merge.py](https://github.com/postmates/gdal/blob/master/scripts/gdal_merge.py) users here? Does it do the expected thing with these inputs?

[2020-11-30 16:39] Fanchengyan opened #2052 "warp.reproject() generate the wrong result!!!"
Initially, I used GDAL function `gdal.ReprojectImage()` for resampling. But its nodata value default  is  0. Then I try to use `rasterio.warp.reproject` to replace `gdal.ReprojectImage()` .

I find that **results between those two method are different !!!**

I checked the results pixel by pixel and found that **rasterio's results were faulty**

My job is to resample the uav data（0.2m） to the resol

[2020-12-01 08:25] hriihimaki commented on #1648
I am trying to use rio-rgbify to create some MapBox tiles following [this comment](https://github.com/mapbox/rio-rgbify/issues/19#issuecomment-404854512), but I crash to the above mentioned error. I also tried to go back to rasterio 1.0.12, but it results to another CRS error:
[code]

The (reprojected) raster CRS is "EPSG:3857"

[code]

Any ideas how to get forward? I am using rasterio 1.1.8, rio-

[2020-12-01 13:31] snowman2 commented on #1648
I would try installing the latest rasterio with `pip install rasterio --no-binary rasterio`

[2020-12-02 06:42] hriihimaki commented on #1648
That results to

`rasterio.errors.CRSError: The PROJ4 dict could not be understood. PROJ: proj_create: cannot expand init='epsg:3857' +type=crs`

[2020-12-02 13:58] snowman2 commented on #1648
`init='epsg:3857' +type=crs` this can only be understood by GDAL 3+ PROJ 6+. Also, it seems like the `init=` is missing the `+` before it.

[2020-12-02 16:28] sgillies commented on #1648
I'm going to lock this issue because it is going off topic. Please use the rasterio user discussion group we've linked in the project README.

[2020-12-02 22:46] himat opened #2053 "IReadBlock error"
## Expected behavior and actual behavior.

I expected to read a band from a file and an exception occurred. But I've read from the file before, so it is strange that it suddenly happened.

Here's the error
[code]

Could there be an issue with multiple processes trying to read the file at the same time?

I basically have a loop that reads 44 files from disk every iteration of a bigger process. The

[2020-12-02 22:48] himat commented on #2053
Oh one more thing is that because I am trying to keep this code as fast as possible, I'm actually keeping the raster datasets open throughout the lifetime of the program.

So before that loop above starts running in the dataloader, I do
[code]

And that `self.input_layer_ds_list` variable is what's access in the `__getitem__` loop above.

[2020-12-02 23:26] sgillies commented on #2053
@himat rasterio version 1.1.2 isn't supported anymore. Can you try to reproduce the error with version 1.1.8?

[2020-12-03 22:01] sgillies commented on #1078
Taking this off the 1.2.0 milestone. Explanation at the end of #2051 .

[2020-12-03 22:03] sgillies commented on #2013
As soon as #2054 is merged, I'm going to tag 1.2a1 and publish some dists to PyPI. Maybe later today.

[2020-12-04 00:22] sgillies commented on #2013
https://pypi.org/project/rasterio/1.2a1/#files

[2020-12-05 01:07] sgillies commented on #2013
Got some positive feedback already. Let's try for a 1.2b1 by 2020-12-15.

[2020-12-05 21:46] JLanghoff opened #2057 "Windows 10 64-bit running python 3.8.5 cannot install rasterio, earthpy and geopandas"
Dear all

Having trouble installing: Running Windows 10, 64-bit with python 3.8.5 cannot install rasterio, earthpy and geopandas from the neither conda nor conda-forge channels. Have tried running the Anaconda Prompt with and without administrator - same frozen solve result.

Hope you can help.

Best from Denmark
Jesper

Jesper Heidemann Langhoff
Adjunkt Ph.d., cand.scient. & fotojournalist pba.
U

[2020-12-05 23:08] #2057 closed

[2020-12-05 23:12] sgillies commented on #2057
Vague installation problems are not welcome here. This issue tracker is for rasterio software bugs only. If you're having problems with Anaconda packages or the Anaconda Python distribution, you have to take your questions directly to those projects.

[2020-12-08 09:55] sharon92 opened #2058 "Overwriting GTIFF Files fails"
## Expected behavior and actual behavior.

Task: Overwriting an existing Raster (GTIFF) [opened in ArcMap]

Error:
CPLE_AppDefinedError: Deleting ws_HQ100i.tif failed: Permission denied

Expected to overwrite the raster without any exception as was the case with rasterio 1.1.4
It works when the raster are not loaded in ArcMap.

In earlier rasterio version it worked even when the rasters were loade

[2020-12-08 15:18] felixdivo opened #2060 "Rendering issue in docs of class rasterio.env.Env"
The below example does not render properly, see [here](https://rasterio.readthedocs.io/en/latest/api/rasterio.env.html).

https://github.com/mapbox/rasterio/blob/1d43837d1591c7bc3cc87c97e45f153063103d57/rasterio/env.py#L55-L86

[2020-12-08 16:18] sgillies commented on #2058
@sharon92 I'm sorry, but we're not going to be able to solve this issue here. There's been no change in the way rasterio opens datasets to write since 1.1.4. Furthermore, we do not intend for rasterio to be able to delete a file is opened by another program.

[2020-12-08 16:18] #2058 closed

[2020-12-08 16:29] sharon92 commented on #2058
@sgillies hmm my virtual env with Rasterio 1.1.4 is also bundled with an older Gdal 3.0.2

My code currently catches error on raterio._io.pyx line 1113

`     _delete_dataset_if_exists(path)`

this however doesnt occur when i run it with 1.1.4 version. It updates the GTiff file.

Strange, but alright I will try to find a work around.

[2020-12-11 03:25] Kirill888 opened #2061 "Can't access requester pays buckets with `rio --aws-requester-pays info <url>` cli tool"
## Expected behavior and actual behavior.

Should be able to run something like this if correct AWS credentials are available

[code]

## Steps to reproduce the problem.

1. make sure you have correct credentials, command below should work

[code]
2. Now access same file with `rio`

[code]
and get output similar to

[code]

## Diagnosis

Problem is here:

https://github.com/mapbox/rasterio/blob/2e

[2020-12-11 04:56] dythbj opened #2063 "rasterio.errors.CRSError: The PROJ4 dict could not be understood. OGR Error code 5"
![image](https://user-images.githubusercontent.com/41282663/101865063-3c7c6400-3bb0-11eb-849c-5c6d604829a7.png)

Any ideas about this error?

[2020-12-11 17:33] #2061 closed

[2020-12-11 17:37] #2063 closed

[2020-12-11 17:38] #2053 closed

[2020-12-11 17:59] #1710 closed

[2020-12-11 18:01] sgillies commented on #1813
Done.

[2020-12-11 18:01] #1813 closed

[2020-12-11 18:04] sgillies opened #2064 "Python and Numpy version support for 1.2.0"
Rasterio 1.2.0 supports Python 3.6-3.9 and Numpy 1.15+ per #1813 and https://numpy.org/neps/nep-0029-deprecation_policy.html.

I propose we treat GDAL the same as Numpy, meaning support releases made within 24 months of our expected release date, with a minimum of 3 minor versions. That would mean supporting GDAL versions 3.2, 3.1, 3.0, 2.4, and 2.3 since 2.3.3 was released within 24 months of ras

[2020-12-11 18:05] #1918 closed

[2020-12-11 18:10] sgillies commented on #1986
To fully resolve this, we'll add an example to the docs.

[2020-12-11 18:34] lukecampbell opened #2065 "ERROR 4: .../name.tif: No such file or directory - For COG Driver"
## Expected behavior and actual behavior.
Expected:
Using `rasterio.open` in a write-mode on a non-existent file does not write `ERROR 4: .../name.tif: No such file or directory`.

Actual:
It writes `ERROR 4: .../name.tif: No such file or directory.`

## Steps to reproduce the problem.

[This branch](https://github.com/lukecampbell/rasterio/blob/error4/tests/test_write.py#L346-L358) contains the u

[2020-12-11 18:44] underchemist commented on #2065
COG does not support what GDAL calls `Create` mode, only `CreateCopy`. Functionally this means that COGs are generally translated from an existing dataset i.e. create a GTiff (on disk or in memory) and `rasterio.shutil.copy('in.tif', 'out.tif', driver='COG')

[2020-12-11 19:03] underchemist commented on #2065
https://gdal.org/drivers/raster/cog.html

[2020-12-11 19:41] lukecampbell commented on #2065
If the goal is to write directly to a TIFF that supports the Cloud Optimized GeoTIFF profile, which is characterized under the COG Driver, would it then be advised to write to a memory file using the GeoTIFF Driver and then copy using the COG driver as suggested by @underchemist ?

[code]

Is that the preferred method for creating a COG without first writing a standard GeoTIFF using the `GTiff` dr

[2020-12-11 19:42] lukecampbell commented on #2065
I would also like to include that the TIFF generated by writing using the COG driver with `open(pth, 'w', driver='COG', ...)` does produce a valid COG, despite the `ERROR 4: ...` message produced from GDAL.

[2020-12-11 21:33] underchemist commented on #2065
I'll just add that I can replicate this with GDAL 3.2.0, rasterio from master on Win 10.

[2020-12-11 22:45] #2034 closed

[2020-12-11 23:30] #1774 closed

[2020-12-13 03:41] himat commented on #2053
Sorry for the delay. I upgraded to 1.1.8 and the error actually happens instantly now (on 1.1.2, the IReadBlock error appeared after many iterations of reading the rasters, but it now failed on the first reading of the rasters).

[code]

I also confirmed that this is definitely an issue with reading the rasters while multiprocessing as when I ran the dataloader with a single process, it works tota

[2020-12-14 17:08] sgillies commented on #2053
@himat in a normal situation we can expect rasterio.open (aka GDALOpenEx) to take very little time.

[code]

There must be other factors in your case. Are you working with a very large directory of files? If so, see https://trac.osgeo.org/gdal/wiki/ConfigOptions#GDAL_DISABLE_READDIR_ON_OPEN. For example, if my RGB.byte.tif had hundreds or thousands of sibling files, I would expect the statistic ab

[2020-12-14 18:32] thomascoquet opened #2070 "Weird behavior with DEFLATE / predictor 2 / float64"
Hi Sean,

I just encountered this issue while working with floating arrays and in memory files.

### Versions
rasterio 1.1.8
gdal 2.4.4

### Reproduce
[code]

### Analysis
When outputting to file on disk, GDAL prints the following error:
`ERROR 1: PredictorSetup:Horizontal differencing "Predictor" not supported with 64-bit samples`

No bug with `array.astype('f4')`.

### Questions
- Warn as well w

[2020-12-14 19:12] sgillies commented on #2070
@thomascoquet I'll try the code soon. Meanwhile, what do you see if you replace `array = np.ones((5, 5))` with `array = np.ones((5, 5), dtype="uint8")`? I confess I know very little about the deflate predictor or its limitations.

[2020-12-14 22:15] thomascoquet commented on #2070
@thomascoquet Yes it works with another dtype as I have written in my message with `f4`!
So the bug is only with float 64 data type, sorry if I was not clear enough!

As the error message was about 64 bits samples, I tried with int 64 data types such as `i8`, but in this case, an exception is raised:
`TypeError: Unsupported dtype: int64`

[2020-12-14 23:24] sgillies commented on #2070
@thomascoquet thanks for the reply. I've tagged this as a GDAL issue upstream. I feel like GDAL should raise an exception if it can't accept the requested parameters instead of succeeding partially or ambiguously.

[2020-12-15 01:33] sgillies commented on #2064
Summarizing the wheel situation: Multibuild and Travis CI can cover Pythons 3.6-3.8 for manylinux and macos.

Travis CI and Python 3.9 + manylinux1 ARM64 just succeeded: https://travis-ci.com/github/rasterio/rasterio-wheels/jobs/459601126.

Travis CI isn't supporting Python 3.9 for macos yet, I see other projects switching to AppVeyor or GitHub Actions. I think we will eventually have to do so too

[2020-12-15 15:27] himat commented on #2053
I only have 44 total raster files in that directory with each raster being of size 643 MB. So it's not a large directory.

Using your line of `$ python -m timeit -s "import rasterio" "rasterio.open('tests/data/RGB.byte.tif')"` does print out around 2ms to load, but opening it from within a running python program does take an order of magnitude longer as below:
[code]
So it takes 24 ms.

And I'm re

[2020-12-15 15:28] himat commented on #2053
But the speed of opening the files themselves is not the concern.

The real issue is do you know why `TIFFReadEncodedStrip()` is failing when trying to read the raster files while multiprocessing?

[2020-12-15 16:48] sgillies commented on #2053
I do not know of any issues with multiple processes trying to read the file at the same time as long as there is no sharing of dataset objects or their file descriptors between processes.

I agree, you do want to keep dataset objects open as long as you safely can. I don't know anything about pytorch except that it uses the multiprocessing module and supports a worker initialization function. You

[2020-12-17 17:07] groutr commented on #2048
I'm running into this issue even with my workaround of increasing the precision. I'm merging layers from a model per timestep and some timesteps my output shape is (2761, 3240) and the rest of the timesteps the shape is (2760, 3240). This is a problem because some temporal calculations require that the array dimensions match and, unfortunately, about half the time, the array shapes are different.

[2020-12-21 17:31] snowman2 opened #2072 "Int64 and GDAL methods (dtypes.dtype_rev)"
## Expected behavior and actual behavior.

How should `Int64` arrays be handled when being passed to GDAL methods?

- A more helpful error message?
- Automatically convert to `int32/float64` with a warning?

## Steps to reproduce the problem.
When using `rasterio.warp.reproject` with an `int64` array. I get the error:
[code]
After doing some digging, I think the offending line is:
https://github.c

[2020-12-28 14:28] snowman2 commented on #2072
Ran into this again here: https://github.com/corteva/geocube/discussions/52

[2020-12-28 14:35] snowman2 commented on #2072
Related: https://lists.osgeo.org/pipermail/gdal-dev/2007-August/013818.html. That was back in 2007. I wonder if anything has changed that would make GDAL more interested in supporting this dtype.

[2020-12-28 14:47] snowman2 commented on #2072
More recent thread: https://trac.osgeo.org/gdal/ticket/6879. Seems to be a TODO, but not important.

[2020-12-28 14:55] snowman2 commented on #2072
This comment seems helpful:

It seems converting to `Float64` is a better idea than `Int32`.

[2020-12-29 22:13] sgillies opened #2073 "Remove reduction to +init=epsg:xxxx in CRS.to_proj4()"
See thread: https://rasterio.groups.io/g/main/message/683. PROJ's epsg file is gone in version 6, replaced by a sqlite proj.db, so it makes sense to stop reducing PROJ4 parameterizations to an EPSG file init.

[2020-12-30 07:36] nartb opened #2074 "Missing region in rasterio reprojection not experienced when using gdalwarp"
## Expected behavior and actual behavior.
I'm trying to reproject MODIS data in the form of a raster that covers the entire world using the CRS of the data to EPSG:4326 using the reproject function in rasterio. The raster before being reprojected uses a sinusoidal projection with meters as units and looks like this:
<img width="1321" alt="Screen Shot 2020-12-29 at 9 17 49 PM" src="https://user-ima

[2021-01-01 03:33] snowman2 commented on #2073
It might be worthwhile to add a warning about the change in behavior in 1.2 to use `to_epsg` and make to the switch in 1.3. I saw another instance of someone using `to_dict` to get the epsg code:

https://github.com/geopandas/geopandas/issues/1761#issue-777001063

[2021-01-01 03:36] snowman2 commented on #2073
Might also be useful to add a warning about the loss of CRS information when using PROJ strings: https://proj.org/faq.html#what-is-the-best-format-for-describing-coordinate-reference-systems

[2021-01-04 13:50] snowman2 commented on #2073
I had the thought that means this is only true for GDAL 3+. Any concerns implementing this with GDAL 2?

[2021-01-07 17:09] sgillies commented on #2074
@nartb can you share the source imagery?

[2021-01-07 17:54] sgillies commented on #2073
@snowman2 I'm not concerned about GDAL 2. I'm more concerned about breaking some user code. But since `to_epsg` has been the right way since 1.0.0 (see https://github.com/mapbox/rasterio/blob/master/CHANGES.txt#L639) I think we can do it without warning. Instead we'll have another beta release, announce on the list and in the change log, and do a little extra support in other forums.

[2021-01-07 20:22] sgillies commented on #2073
After closer inspection, I don't see a way to prevent [`OSRExportToProj4`](https://gdal.org/api/ogr_srs_api.html#_CPPv416OSRExportToProj420OGRSpatialReferenceHPPc) from returning "+init=epsg:xxxx" when the OSR object is initialized from an EPSG code. Furthermore, GDAL discourages the use of PROJ4 strings from now on. I think we'll do nothing about this issue expect to warn that PROJ4 projection st

[2021-01-08 06:08] nartb commented on #2074
@sgillies Sure! This was using the MCD15A2H.006 from https://e4ftl01.cr.usgs.gov. I believe I was specifically using the 2020.12.02 date for this raster. I downloaded all the tiles and used `pyModis.createMosaicGDAL()` to create the input raster that I was using for the reprojection.

[2021-01-08 06:23] nartb opened #2076 "createMosaicGDAL takes longer to make a single multi-band output than to make multiple single-band outputs"
## Expected behavior and actual behavior.
I'm mosiacking tiles into a global raster using `pyModis.createMosaicGDAL()` and ran into a weird situation. I needed three bands for my processing so I decided to create a single mosaic containing all three bands. This took ~45 minutes. I decided to try mosaicking each band separately and saving as a separate file in order to optimize some other part of m

[2021-01-08 15:42] sgillies commented on #2074
@nartb I don't have the time to learn how to use pymodis. Can you zip the file and attach it here? Is it smaller than 100 MB?

[2021-01-08 15:45] sgillies commented on #2076
Sorry, we don't take pymodis issues here. Follow the instructions at http://www.pymodis.org/info.html#how-to-report-a-bug.

[2021-01-08 15:45] #2076 closed

[2021-01-08 18:44] nartb commented on #2074
That's fair. Unfortunately it's ~3GB so I'm not sure how I'd be able to send it. I ended up just using GDAL to do the warping so if it's not a problem that's come up for others then maybe I had just been doing something wrong but I figured I'd bring it to your attention.

[2021-01-08 18:45] nartb commented on #2076
Whoops! Sorry about that. I thought I opened this for pyModis. My bad. It was late at night lol.

[2021-01-08 19:32] #2064 closed

[2021-01-08 20:46] lossyrob opened #2078 "Dataset.tags() call throws UnicodeDecodeError on GeoTIFF metadata readable by GDAL"
## Expected behavior and actual behavior.

Calling `.tags()` on a open dataset of a specific GeoTIFF file causes a `UnicodeDecodeError`. The dataset does contain misbehaving characters, but using GDAL directly as well as the GDAL python bindings reads the metadata without error.

The file is NASA HLS data converted from an HDF file into a COG - specifically from https://hls.gsfc.nasa.gov/data/v1.4

[2021-01-08 20:50] lossyrob commented on #2078
Looking into it briefly, the only difference I see is between the rasterio method of accessing the metadata and the GDAL python SWIG bindings is that GDAL decodes the encoded metadata tags with a call to GDALGetMetadata [here](https://github.com/OSGeo/gdal/blob/0941b0f7aaa5bff5fd12a6fed03d4e385c4dcae4/gdal/swig/include/MajorObject.i#L82-L86), and rasterio calls GDALGetMetadata and then uses [CPLPa

[2021-01-08 21:57] sgillies commented on #2074
@nartb I'm glad you reported this. Maybe we'll find a smaller dataset that can reproduce the problem. Meanwhile, I'll point out a usage detail that might help. When you want to specify the entire world at 0.05 degree resolution (`-tr 0.05 0.05 -te -180 -90 180 90`), do not use calculate_default_transform(). Instead, do this:

[code]

[2021-01-08 21:57] #2074 closed

[2021-01-09 00:06] sgillies commented on #2078
:wave: Happy New Year @lossyrob. I modified `tags()` to not convert the metadata to unicode and here's what I see in the GeoTIFF:

[code]

It's `ACCODE` and its value `b'LaSRCS2AV3.5.5 + LaSRCS2AV3.5.5\xfc\xffp\xd9)\xfe\x7f'` that are the problem.

gdalinfo reports:

[code]

I suspect `ACCODE=LaSRCS2AV3.5.5 + LaSRCS2AV3.5.5p` isn't correct either.

Making rasterio able to handle corrupted metadata

[2021-01-09 22:01] #2060 closed

[2021-01-09 22:08] sgillies commented on #2060
@felixdivo thanks for the report!

[2021-01-10 23:06] #2078 closed

[2021-01-11 01:01] sgillies commented on #2013
I'm building wheels for 1.2b2 now and will upload to PyPI later tonight or in the morning.

[2021-01-11 16:17] lossyrob commented on #2078
@sgillies happy new year to you!

I agree; looks like there's some corrupt metadata being carried over from the HDF file.

That makes sense - thank you for adding the error handling!

The user who encountered this was using `xarray.open_rasterio` to open the file; I think the workaround here will be a step that reads and then overwrites the metadata in the GeoTIFF with a sanitized version beforeha

[2021-01-11 16:35] sgillies commented on #2013
1.2 :bee: :two: https://pypi.org/project/rasterio/1.2b2/#files

[2021-01-11 16:55] sgillies commented on #2078
@lossyrob I forgot to add yesterday that I worked the fix into rasterio 1.2b2, which is on PyPI now. Using it on the GeoTIFF, we now get:

[code]

[2021-01-11 16:56] #2073 closed

[2021-01-11 16:58] sgillies opened #2079 "1.2b2 from wheel can't locate proj.db"
The PROJ search path isn't set properly. I had thought that the tests run by the wheel builder would find such bugs, but no.

[code]

[2021-01-11 17:00] lossyrob commented on #2078
Ah I see, I misinterpreted that commit - it emits a warning but still successfully converts. Many thanks!

[2021-01-11 20:29] sgillies commented on #2079
This looks like the culprit: https://github.com/mapbox/rasterio/blob/master/rasterio/_env.pyx#L372. Older, incompatible PROJ data previously installed on my system is being found and the data in the module is ignored.

[2021-01-11 20:47] vincentsarago commented on #2079
@sgillies I posted the same in https://rasterio.groups.io/g/main/message/673
@snowman2 replied that it might be linked to https://pyproj4.github.io/pyproj/stable/gotchas.html#internal-proj-error-sqlite-error-on-select but I haven't tried

[2021-01-11 20:54] snowman2 commented on #2079
Here is the search logic used by pyproj in case it is helpful: [docs](https://pyproj4.github.io/pyproj/stable/api/datadir.html#data-directory) | [code](https://github.com/pyproj4/pyproj/blob/552edb3613e471837e13143fb46fba6ff92621f6/pyproj/datadir.py#L52)

[code]

[2021-01-12 00:09] #2079 closed

[2021-01-12 00:15] sgillies commented on #2079
@snowman2 thanks! I think I've got something equivalent in #2080.

[2021-01-12 04:02] sgillies commented on #2013
1.2 :bee: :three: coming up in an hour...

[2021-01-12 15:48] sgillies commented on #2013
https://pypi.org/project/rasterio/1.2b3/#files

[2021-01-12 19:10] snowman2 commented on #2013
Any interest in bumping the GDAL version in the wheels to 3.2.1 and PROJ version to 7.2.1?

[2021-01-12 19:28] sgillies opened #2081 "Open README with UTF-8 encoding in setup.py"
Some non-ascii characters snuck into the README. I'm looking into that too.

[2021-01-12 19:31] #2081 closed

[2021-01-12 20:00] sgillies commented on #2013
@snowman2 good call! I'll do that for the 1.2b4 wheels I intended to upload this afternoon.

[2021-01-13 00:02] sgillies commented on #2013
Welp, GDAL 3.2.1 doesn't build on our wheel infra. Let's deal with this after 1.2.0.

[code]

[2021-01-13 01:47] sgillies commented on #2013
Reported upstream https://github.com/OSGeo/gdal/issues/3374. Removing the elastic driver support could be another option.

[2021-01-13 03:37] sgillies commented on #2013
And as to PROJ 7.2.1, I'm seeing some failures when running tests on the wheels. I think we're going to have to go with 7.2.0.

[code]

[2021-01-13 14:13] snowman2 commented on #2013
Well, at least it was able to uncover some issues to direct upstream :upside_down_face:. Thanks for giving it a try :+1:

[2021-01-13 17:04] snowman2 commented on #2013
@sgillies, it is strange that the issue does not also occur in PROJ 7.2.0. This is the behavior I see in both 7.2.0 and 7.2.1:
[code]

[2021-01-13 17:07] snowman2 commented on #2013
Seems to be more confident in 7,0.1:
[code]

[2021-01-13 17:09] sgillies commented on #2013
@snowman2 don't be too concerned. It's also quite possible that my trouble is very specific to the rasterio wheels. PROJ 7.2.1 has a new version of the EPSG database, right? It couldn't have removed 32618, that would be surprising.

[2021-01-13 17:11] snowman2 commented on #2013
It does have a new version of the database, but 32618 is still in there.

[code]

[2021-01-13 17:13] snowman2 commented on #2013
Side note, the `to_epsg` method picks from the top of a list of potential EPSG codes. So 32618 could have been lower in the list for some reason.

[2021-01-13 19:00] sgillies commented on #2013
I think I found the problem in the tests of the built wheels: I had forgotten to unset `PROJ_LIB`, which isn't needed anymore :facepalm:

[2021-01-14 18:51] sgillies commented on #2013
I upgraded PROJ and GDAL on my laptop to 7.2.1 and 3.2.1 and rasterio is broken. It's not just a busted build configuration.

[2021-01-14 18:54] sgillies opened #2082 "GDAL 3.2.1 and PROJ 7.2.1 break rasterio"
For example:

[code]

[2021-01-14 20:50] snowman2 commented on #2082
What happens with:
- [ ] GDAL 3.2.1 and PROJ 7.2.0
- [ ] GDAL 3.2.0 and PROJ 7.2.1

[2021-01-14 21:12] sgillies commented on #2082
Ack. I should have been paying closer attention to https://travis-ci.com/github/mapbox/rasterio/jobs/470975280 (GDAL master branch and PROJ 7.2.0) instead of freaking out about current events. The change shows up there.

From my laptop, using PROJ 7.2.1:

[code]

[code]

[2021-01-15 06:49] tjwebb opened #2083 "features.shapes fails on WarpedVRT with float64 dtype"
## Expected behavior and actual behavior.

For some reason, the same data loaded into a normal `DatasetReader` and `WarpedVRT` detect a different `dtype`:

[code]

`features.shapes()` fails with the error below when run against `vrt` due to the unsupported `float64` dtype.

## Steps to reproduce the problem.

on the same raster, this works:
[code]

and this does not:
[code]

## Operating system

O

[2021-01-15 15:07] daniel-j-h opened #2084 "WarpedVRT is lying to me: boundless reads not supported"
The function signature implies boundless reads are possible

https://github.com/mapbox/rasterio/blob/fde60624682b306f799c38247930f1efdba99178/rasterio/_warp.pyx#L1077-L1079

The boundless argument implies boundless reads are possible

https://github.com/mapbox/rasterio/blob/fde60624682b306f799c38247930f1efdba99178/rasterio/_warp.pyx#L1130-L1133

The fill value argument says to use it for boundless

[2021-01-15 15:36] vincentsarago commented on #2084
@daniel-j-h I can't find the original issue about this but in rio-tiler we had to stop using boundless read and adapt the warped VRT https://github.com/cogeotiff/rio-tiler/blob/master/rio_tiler/utils.py#L158

ref https://github.com/cogeotiff/rio-tiler/pull/45

[2021-01-15 17:54] daniel-j-h opened #2085 "--co tiled=false creation option getting ignored on a tiled input raster"
As per https://rasterio.readthedocs.io/en/stable/cli.html#creation-options there are `--co` creation options.

I have a use case where I get a `tiled=true` raster with blocksize x/y metadata, and I want to save it as a `tiled=false` raster.

I can replicate the behavior with a raster tif in this repo:

https://github.com/mapbox/rasterio/blob/fde60624682b306f799c38247930f1efdba99178/tests/data/rgb_

[2021-01-18 12:50] daniel-j-h opened #2086 "WarpedVRT not working with GCPs and no CRS set"
Helloo folks :wave:

## Expected behavior and actual behavior.

I have a dataset with GCPs and `crs` is unset as seen in the metadata below

[code]

When I use `WarpedVRT` on this dataset, I expect `WarpedVRT` to work - but it fails with

[code]

`rio warp` can handle this raster file just fine, but I need programmatic access to it with `WarpedVRT`.

Why does `WarpedVRT` expect a CRS being set and

[2021-01-18 13:21] vincentsarago commented on #2086
@daniel-j-h this is expected. I guess the philosophy of Rasterio is to let the user decide what they want to do instead of taking decision for them.

Here is how to do it https://github.com/cogeotiff/rio-tiler/blob/master/rio_tiler/io/cogeo.py#L639-L644

ref: https://github.com/mapbox/rasterio/pull/1749, https://github.com/mapbox/rasterio/pull/1749

[2021-01-18 13:47] daniel-j-h opened #2087 "`rio clip`'s boundless with-complement reads do not set nodata"
## Expected behavior and actual behavior.

When using `rio clip`'s `--with-complement` option on a raster where there is no nodata attribute set, the resulting raster will not have a nodata attribute set, even though the boundless read will read in invalid data. Here is the boundless read

https://github.com/mapbox/rasterio/blob/fde60624682b306f799c38247930f1efdba99178/rasterio/rio/clip.py#L162

b

[2021-01-18 13:59] daniel-j-h commented on #2086
What are the decisions to take here, when the way to go seems to be calculating the transform from GCPs and setting the source crs manually based on the gcp attribute? :thinking:

And if it is expected that the user does this manually, should we at least check for the GCP case and give the user a clear error message of what's going on here and what the options are?

[2021-01-19 03:33] sshuair opened #2088 "ERROR 4: xxx.png: No such file or directory when write the JPEG/PNG file"
I want to write the `JPEG/PNG` use RasterIO. I got the following error, but the `aaa.png` was generated successfully.

I'm curious what caused this, and is it possible to get rid of this error?

[code]

The code:
[code]

- OS System: MacOS 10.15.7
- RasterIO Version: 1.1.8

[2021-01-20 03:36] sgillies commented on #2082
Using OSRFindMatches seems to help.

[2021-01-20 04:21] sgillies commented on #2082
Though there is some ambiguity. GDAL finds two equally likely EPSG matches for the WKT in our test dataset.

[code]

[2021-01-20 14:52] snowman2 commented on #2082
That seems to match what I would expect. If you look at the logic in pyproj [here](https://github.com/pyproj4/pyproj/blob/552edb3613e471837e13143fb46fba6ff92621f6/pyproj/_crs.pyx#L2658-L2759) it could potentially return a list. Even recommended a minimum confidence of 70, which is why it no longer shows up in the `pyproj.CRS.to_epsg` method in the later versions (https://github.com/mapbox/rasterio

[2021-01-20 15:06] sgillies commented on #2082
@snowman2 so, in GDAL 3.2.0, the confidence for EPSG:32618 might have been > 70 and in GDAL 3.2.1 something has changed to make it less than < 70? I'm going to test this hypothesis in a few minutes.

If our test data set never was precisely EPSG:32618, or if the definition has evolved in recent years, I think it might make sense to update the test file to make it precisely EPSG:32618.

[2021-01-20 15:13] snowman2 commented on #2082
I agree 100%. I think with `r+` you should be able to update that file pretty easily. I think it is missing the EPSG code explicitly in the WKT file.

[2021-01-20 15:19] sgillies commented on #2082
GDAL 3.2.0 reports no list of candidate matches. It auto identifies the CRS as exactly EPSG:32618.

[2021-01-20 17:24] sgillies commented on #2082
I closed the upstream issue.

[2021-01-20 18:20] #2082 closed

[2021-01-20 18:21] sgillies commented on #2013
Okay, I think we're back on track for a 1.2b4 tomorrow morning.

[2021-01-21 03:28] sgillies commented on #2013
https://pypi.org/project/rasterio/1.2b4/#files

[2021-01-21 16:33] sgillies commented on #2013
Unless we find new bugs, let's plan for a 1.2.0 on 2021-01-25.

[2021-01-22 19:17] vincentsarago opened #2092 "WarpedVRT context exit doesn't not set the dataset as closed"
It's me again with a WarpedVRT bug (I'm sorry).

Basically I wanted to know the state of the WarpedVRT dataset after I exited the context manager, and it seems that the WarpedVRT is not set to `closed` but if I try to to `vrt.read()` rasterio will error with `RasterioIOError: Dataset is closed: WarpedVRT(tests/fixtures/cog_gcps.tif)`

[code]

System:
- Mac Os
- rasterio:  '1.2b4'`

[2021-01-22 19:37] vincentsarago commented on #2088
👋 @sshuair, I wasn't able to reproduce this error 🤷‍♂️. This doesn't seems to be a rasterio error but more a GDAL error. I remember seen those kind of message in the past, but the output file was still being created.

Can you:
- post the full error log (if it's a rasterio error, you should get much more lines than just `ERROR 4 ...`)
- tell what is your GDAL version (or if you installed rasterio f

[2021-01-22 19:50] vincentsarago commented on #2083
I knew, I saw this kind of error somewhere in the past: https://github.com/mapbox/rasterio/issues/1744 and https://github.com/cogeotiff/rio-cogeo/issues/85

Because GDAL gets the datatype from the NoData Value (which in your case is `-3.4028234663852886e+38`) the VRT datatype if going to be set to float64. To fix this you have to set `dtype=np.float32` or `dtype=src.dtypes[0]` with the `WarpedVRT`

[2021-01-22 19:56] vincentsarago commented on #2052
@Fanchengyan can you be more specific about what it wrong?

From experience, wrapping using GDAL and Rasterio doesn't produce exactly the same but close enough to be acceptable.

[2021-01-22 20:07] sgillies commented on #2083
Thanks @vincentsarago :pray:

[2021-01-22 20:29] sgillies commented on #2088
@sshuair would you be willing to try rasterio 1.2b4 from PyPI and see if the error persists?

[2021-01-22 21:37] #2092 closed

[2021-01-23 03:23] sshuair commented on #2088
@vincentsarago @sgillies
I have created new env use conda, and install the rasterio 1.2b4. But the `ERROR 4..` still exists.

- env:
[code]
- full log
[code]
- Q: tell what is your GDAL version (or if you installed rasterio from wheels)
	- A: install from pip wheels
- Q: make sure the file isn't created in your system
	- A: the `aaa.png` file is created in the file system

[2021-01-23 03:36] vincentsarago commented on #2088
I've seen it in the past (#2065, #1659). As weird as it seems I wouldn't worry to much about this!

[2021-01-23 03:44] sshuair commented on #2088
I have tried the docker, the `ERROR 4...` also exits, and the file is created.

Checkout the log:

[code]

[2021-01-24 20:21] #2015 closed

[2021-01-24 20:21] #2083 closed

[2021-01-24 20:24] #2088 closed

[2021-01-24 20:24] sgillies commented on #2088
This will be fixed in 1.2.0. Thanks for the report @sshuair !

[2021-01-24 20:32] sgillies commented on #2084
WarpedVRT boundless reads were disallowed so that users wouldn't be exposed to GDAL bugs. See #1266 and #1378. There have been changes in GDAL since that may have improved the situation, but I have not yet checked.

Certainly we could provide a more truthful method signature.

[2021-01-24 20:36] sgillies commented on #2085
Indeed this is a bug. What makes it tricky is that `tiled=false` isn't a valid GDAL creation option. According to https://gdal.org/drivers/raster/gtiff.html#creation-options, the GeoTIFF driver only supports "YES" or nothing.

[2021-01-24 20:55] sgillies commented on #2086
@daniel-j-h it's possible that GDALAutoCreateWarpedVRT will do what you expect if we change the code in the class's constructor to pass NULL to GDAL instead of failing.

[2021-01-24 20:56] #1997 closed

[2021-01-24 21:24] #2086 closed

[2021-01-24 21:25] sgillies commented on #2086
This turned out to be an easy fix. GDAL does what we expect.

[2021-01-24 21:53] #2085 closed

[2021-01-24 21:53] sgillies commented on #2085
Solved!

[2021-01-25 14:56] sgillies commented on #2013
Done! Release note sent to the user group. Thanks, everyone.

[2021-01-25 14:56] #2013 closed

[2021-01-25 14:59] vincentsarago commented on #2013
![image](https://user-images.githubusercontent.com/10407788/105722680-ecedbf80-5ef3-11eb-9a24-17424b0e14d9.gif)

👏 Thanks for the hard work @sgillies

[2021-01-25 18:03] philvarner opened #2094 "Error "Cannot find proj.db" with rasterio 1.2.0 gdal 2.4 python 3.7"
## Expected behavior and actual behavior.

In a gdal 2.4 python 3.7 image, we didn't have rasterio pinned to a version. Previously, the build used 1.1.8 and worked, and this morning it updated to 1.2.0 and started having failures.  Pinning to 1.1.8 fixed the issue, so it is clearly a change in 1.2.0.

Expected behavior is to run tests cleanly.

Actual behavior this this error thrown:

[code]

## S

[2021-01-25 18:14] sgillies commented on #2094
@philvarner can you check to see if PROJ_LIB is set in your environment? If it is, can you delete it and see if the error persists?

What you report is consistent with an improperly set PROJ_LIB. For example, on my laptop, using the new wheel:

[code]

If I set PROJ_LIB to point at proj data from a previous version. I see the same proj error.

[code]

[2021-01-26 15:50] philvarner commented on #2094
I spent some more time reproducing it.  This isn't something we actually need to fixed, as we're fine staying on 1.1.8 for now, and instead upgrading to a newer docker image and GDAL version. Just documenting that this case doesn't work is probably sufficient.

The image we're using (remotepixel/amazonlinux:gdal2.4-py3.7) has been superseded by a better one (lambgeo/docker-lambda) @vincentsarago -

[2021-01-26 16:05] vincentsarago commented on #2094
😱, those image are really old, yes you should move to the one created by lambgeo.

you are right, there is no proj.db file for PROJ 5.2. The image you are using are setting PROJ_LIB and GDAL_DATA path so if you are setting `--no-binary rasterio==1.2.0` when you are doing your install, you should be fine. if you don't you will need to delete the env (PROJ_LIB and GDAL_DATA), but then there is no ad

[2021-01-26 19:06] sgillies commented on #2094
This looks solved. I'm going to add something in the FAQ about `PROJ: proj_create_from_database: Cannot find proj.db`.

[2021-01-26 19:06] #2094 closed

[2021-01-27 14:47] abpoll opened #2095 "Reproject is bilinearly interpolating even though reprojection is on a snapped grid and integer multiple of resolution"
## Expected behavior and actual behavior.
Raster A is a rasterized shape file at 15m resolution and Raster B is a clipped image snapped to the extent of Raster A but could be at a different resolution. In this particular case, Raster B is at 30m resolution. I have a preprocessing step where I rasterize the image Raster B is based on with burn = 1 and nodata = 0 to get Raster B. If I call gdal_tran

[2021-01-27 15:55] sgillies commented on #2095
@abpoll we don't support version 1.0.28 anymore. Can you try to reproduce this problem with 1.2.0?

[2021-01-27 21:22] arimeyer opened #2096 "Clarification on usage with QGIS"
Hi,

We're looking to simplify our code for a QGIS plugin to use Rasterio/Shapely in place of GDAL/OGR.  Shapely is included in the standard QGIS distribution, but Rasterio is not (not sure why).  In any case, I found on
 https://rasterio.readthedocs.io/en/latest/topics/switch.html :
GDAL’s bindings (gdal for the rest of this document) and Rasterio are not entirely compatible and should not, witho

[2021-01-27 23:03] vincentsarago commented on #2096
@arimeyer the GitHub issues are used to reports Bugs. For help or feature requests I encourage you to start a thread in https://rasterio.groups.io/g/main/topics

[2021-01-28 01:15] sgillies commented on #2096
@vincentsarago is right, we'd rather field these questions in the discussion group. so I will close this. I'm certain that until rasterio is included with QGIS, shared library compatibility ("DLL Hell") will be a problem for your plugin. For a compiled program like QGIS, it's fairly simple to make sure that only one instance of a library is loaded, this is the job of the linker. In a Python progra

[2021-01-28 01:15] #2096 closed

[2021-01-28 15:34] abpoll commented on #2095
@sgillies Sorry for my delay I had issues updating my conda environment. The issue does persist with 1.2.0

[2021-01-29 01:00] BnJam opened #2097 "Error output for calculate_default_transform"
Error output from calculate_default_transform has words "notbe" together as such with gcps and rpcs.

[2021-01-31 05:38] tjwebb opened #2099 "unioned block windows polygonize as if they were not unioned"
## Expected behavior and actual behavior.

I'm calling `windows.union()` on a set of windows in order to do fewer file reads. This works, but when I use `features.shapes()` to polygonize the block, there are no polygons connected across these block windows (when they should be). Instead, the result of `shapes()` appears as if I called `shapes()` individually on each block window separately, rather

[2021-02-01 06:54] #2099 closed

[2021-02-01 06:54] tjwebb commented on #2099
User error

[2021-02-03 15:02] thomascoquet opened #2102 "GDAL Creation Option : tuple type"
Hi Sean!

Not sure it is bug, maybe rather something not yet implemented :-)

I encountered a small issue when trying the new COG driver with rasterio.
I cannot pass an extent as a list or a tuple. Instead, I need to format it as a string.

Thanks, Thomas

Does not work:
[code]

Works:
[code]

Full:
[code]

Error:
[code]

rio 1.2.0 / gdal 3.1 on ubuntu

[2021-02-03 16:43] thomascoquet commented on #2102
Same for `resampling`, `overview_resampling`, `warp_resampling` where I need to pass `rasterio.warp.Resampling.bilinear.name` instead of `rasterio.warp.Resampling.bilinear`.

[2021-02-04 00:39] tjwebb opened #2103 ""Cannot find proj.db" after upgrading to 1.2.0"
## Expected behavior and actual behavior.

Immediately after upgrading to rasterio 1.2.0, `crs.from_epsg()`
[code]

downgrading to rasterio 1.1.8 fixes the problem. I've tried this on two different machines. Same behavior with a fresh install of rasterio 1.2.0 on a clean VM. The problem goes away immediately after downgrading to 1.1.8.

[2021-02-04 00:48] vincentsarago commented on #2103
@tjwebb This has been reported multiple time (https://github.com/mapbox/rasterio/search?q=Cannot+find+proj.db&type=issues) and I think most of the time it's because people have PROJ_LIB set and have installed Rasterio using `wheels`.

I would suggest to share more information about your install process and/or make sure about your environment: https://github.com/mapbox/rasterio/blob/master/docs/faq

[2021-02-04 04:16] groutr commented on #2048
@tofublock the precision ultimately is used to compute an epsilon
https://github.com/mapbox/rasterio/blob/a1cb28a77ebca80c8a804f24d09350e02ed9bf63/rasterio/transform.py#L233

I believe this is incorrect. I believe the machine's epsilon value should be used here. For precision=10, the epsilon computed is 8.000000000000001e-11. However, the actual epsilon of my machine is 2.220446049250313e-16 (obta

[2021-02-04 07:34] tofublock commented on #2048
@groutr Wow, that really bugged you. ;) Good find!
Your initial workaround seems to work okay for me as I have not noticed any errors (plus, my application is really uncritical), but I might go back to change it to your solution. Did you do anything other than change eps to sys.float_info.epsilon?

[2021-02-04 14:48] TomAugspurger opened #2104 "WarpedVRT is unexpected scaling the data"
## Expected behavior and actual behavior.

I'm using `rasterio.vrt.WarpedVRT` to create a WarpedVRT of a dataset. I notice that the values in the warped dataset have been somehow scaled so that they're generally smaller magnitude than expected.

## Steps to reproduce the problem.

[code]

If we inspect `warped`, the `mean` is lower than I would expect. (These files are a bit large. You might want

[2021-02-04 15:11] TomAugspurger commented on #2104
In case it's relevant, here's what is I think the equivalent transformation using `gdal`.

[code]

Reading that in shows a mean of

[code]

[2021-02-04 15:13] groutr commented on #2048
@tofublock, yes, the only substantial change was the epsilon. I fiddled around with rounding in different places, but ultimately that had no effect in the final merge.
What clued me into what was happening was when I started getting artifacts in an animation that appeared at the window boundaries. I would see 1px wide lines on some frames where the domain boundaries met. I only tested this on one

[2021-02-04 16:04] WalidGharianiEAGLE opened #2105 "updating the transform of a geotiff does not work properly"
## Expected behavior and actual behavior.

I m trying to shift/translate a geotiff by updating the transform. I expected when doing so using rasterio reproject but instead the new updated geotiff was poorly translated. In the other hand this operation works fine using gdal.

## Steps to reproduce the problem.

I included in this repo https://github.com/WalidGharianiEAGLE/rasterio_test/tree/master

[2021-02-04 17:18] sgillies commented on #1992
@aj-kaufmann sorry about the delay in responding. The end of 2020 was kinda chaotic for me. In searching the web I came across https://bugs.python.org/issue36427 and this

In your traceback, I see `CPLError ()`, so indeed a rasterio callback can be involved. We do register a rasterio extension module function with libgdal so that GDAL's error handler will activate Python's logging or raise a Pytho

[2021-02-04 17:19] #2097 closed

[2021-02-04 17:33] sgillies commented on #2102
@thomascoquet `rasterio.open()` in 1.2.0 doesn't support the COG driver, which is unique in that it's meant to be write-only and has special features to support overview warping. It could be good to try https://rasterio.readthedocs.io/en/latest/api/rasterio.shutil.html?highlight=copy#rasterio.shutil.copy instead.

[2021-02-04 17:48] sgillies commented on #2103
@vincentsarago thank you. In one of those other issues I promised to update the FAQ and I am going to do that right now.

[2021-02-04 17:55] #2103 closed

[2021-02-04 17:55] sgillies commented on #2103
https://github.com/mapbox/rasterio/blob/master/docs/faq.rst#why-cant-rasterio-find-projdb-rasterio-from-pypi-versions--120

[2021-02-04 17:56] sgillies commented on #2094
https://github.com/mapbox/rasterio/blob/master/docs/faq.rst#why-cant-rasterio-find-projdb-rasterio-from-pypi-versions--120

[2021-02-04 17:58] thomascoquet commented on #2102
Are there plans to support it? Before I was manually reprojecting and stitching to a grid, creating overviews and using `shutil.copy`.
At the exception of the extent and the resampling, it works very nicely with rasterio though!

[2021-02-04 18:50] sgillies commented on #2104
Confirmed with 1.2.0 on my laptop. The WarpedVRT class uses a different GDAL function than the GDAL warp utility does, but rasterio shouldn't be this far off.

@TomAugspurger if I pass `resampling=rasterio.enums.Resampling.average` to the WarpedVRT constructor instead of the default `nearest` I get a number much closer to what we expect. I'm not sure whether this is a rasterio or GDAL bug yet.

[2021-02-04 18:54] sgillies commented on #2105
@WalidGharianiEAGLE remember that rasterio transform is an instance of `affine.Affine` and GDAL's geotransforms are only arrays and the ordering is different. The values look fine to me. Can you be more specific about what you expect to see and how the results are different?

[2021-02-04 19:45] groutr commented on #2048
Results:
Below is the eye of a hurricane with pressure data. It is already at the native resolution of the destination domain. The old epsilon triggered a resampling by incorrectly computing the window size. Taking the difference of that region of the destination domain with the source domain, we can see that there are some significant differences (the max magnitude of the difference being about 3

[2021-02-04 19:57] tjwebb commented on #2103
I'm installing rasterio with `pip install rasterio`. `$PROJ_LIB` is not set to anything on either of the machines I've tested.

[2021-02-04 20:52] WalidGharianiEAGLE commented on #2105
@sgillies Im basically trying to reposition/translate a satellite scene to its true position by applying the needed x/y shift. As you can see from my script the transform was updated according to the ordering from rasterio and GDAL. To illustrate the problem, here i provided two outputs executed from gdal and rasterio displayed in qgis where the red line is just reference road where the output sce

[2021-02-04 21:27] TomAugspurger commented on #2104
Thanks for confirming. I'll check out the other resampling methods as a workaround for now.

[2021-02-04 21:56] sgillies commented on #2104
@vincentsarago have you ever run into a problem like this, in wrapping a COG up in a WarpedVRT?

[2021-02-04 22:03] sgillies commented on #2048
@groutr indeed, would love to see a PR!

[2021-02-04 22:16] drnextgis commented on #2105
@WalidGharianiEAGLE you don't need to do reprojection. What you need is just to assign a new geotransform to your raster using either `rio edit-info` utility or programmatically :

1.
[code]
2.
[code]

[2021-02-04 22:17] sgillies commented on #2105
@WalidGharianiEAGLE thank you, I see. And after a closer look at your notebook, I see your rasterio usage is incorrect. Here is the correct way to shift and update the transform of a geotiff.

[code]

There is no need to calculate a default transform and extent for warping and no need to reproject.

In the future, please bring questions like this to the discussion group that is linked in the READM

[2021-02-04 22:17] #2105 closed

[2021-02-04 22:40] vincentsarago commented on #2104
FYI: When you set `nodata=0`, you get the almost the same results.

[code]

I think the problem comes from the COG metadata. rasterio/gdal

[code]
☝️ this interprets the last band as being an alpha band .... but it's not an alpha band (thanks ESRI) (ref: https://github.com/awslabs/open-data-registry/pull/576#issuecomment-653062451) it's the NIR band.

This is how the band 4 looks like
![](https://

[2021-02-05 06:51] WalidGharianiEAGLE commented on #2105
@drnextgis @sgillies Thank you for the great feedback! now it works properly by updating the transform. I would like to ask if it is possible to write the geotiff in a new file instead of updating the transform on the same file. I tried to do so but I get `read-only attribute`. @sgillies next time will definitely bring this in the discussion group, just i was thinking that it might it a bug worth

[2021-02-05 06:58] drnextgis commented on #2105
Just create a copy of the original file and update its transform.

[2021-02-05 09:15] WalidGharianiEAGLE commented on #2105
@drnextgis Yes sure that could be done, but I found an easy way:
`with rasterio.open('./orbview_data/orbview_3.tif', 'r') as data:
    img = data.read()

    with rasterio.open('./orbview_data/orbview_3', 'w',
                       driver='GTiff',
                       height=data.shape[0], width=data.shape[1],
                       count=data.count,
                       dtype='uint16',

[2021-02-05 14:44] TomAugspurger commented on #2104
Fantastic, thanks @vincentsarago! I vaguely recall seeing a warning about interpreting a band as alpha when I was doing something with the gdal CLI...

Just confirming here: you're saying that there's a problem with the metadata in the actual COG. If that were fixed, then rasterio / GDAL would handle things just fine without the `nodata=0, add_alpha=False`? If that's the case, then I think we're g

[2021-02-05 15:01] vincentsarago commented on #2104
Yes, as mentioned in https://github.com/awslabs/open-data-registry/pull/576#issuecomment-653062451 the creator of the file should have made sure to force the 4th band to be interpreted as undefined (instead of alpha). This is because (to my knowledge) GDAL will always interpret 4 bands, byte data being RGBA (instead of RGBN in our case).

Yes I think so.

👌

Yes, it's only because the metadata don

[2021-02-05 15:12] TomAugspurger commented on #2104
Thanks again for the help.

We'll get the COG metadata fixed for the NAIP data stored on Azure. Apologies for the false alarm, and thanks for the help!

[2021-02-05 15:12] #2104 closed

[2021-02-05 20:10] groutr commented on #2095
@sgillies I wonder if the might somehow be related my findings in #2048 (https://github.com/mapbox/rasterio/issues/2048#issuecomment-773015164)

[2021-02-09 07:22] groutr opened #2108 "Using numpy in rasterio.transform"
## Expected behavior and actual behavior.
I expect transforms (`rowcol` and `xy`) operations to be fast for large numbers of points.

## Steps to reproduce the problem.
Call `rowcol` or `xy` with a large number of points and observe that it is slow. Since rasterio already depends on numpy, could numpy based versions of `rowcol` and `xy` be added to rasterio?
Doing the transform computation in nump

[2021-02-10 22:27] sgillies commented on #2048
Resolved by #2106 and #2109

[2021-02-10 22:27] #2048 closed

[2021-02-11 21:12] sgillies commented on #2108
@groutr excellent idea!

[2021-02-11 21:41] groutr commented on #2108
I'll work on creating numpy based transform functions to coexist with the existing functions.

[2021-02-11 22:13] drnextgis opened #2112 "rio clip gives unexpected results or fails on rotated rasters"
Let's say we have two rasters: one with rotation and another regular raster without rotation. If open them in QGIS you can see that the one raster intersects another one:

![image](https://user-images.githubusercontent.com/866124/107702862-29266b80-6cbb-11eb-8aff-c0cbecf2f3b4.png)

And let's say we need to crop rotated raster by the bounds of the regular one. If we try to do that with `gdal_transl

[2021-02-12 19:34] sgillies commented on #2112
Indeed, clipping is naive, and warping is required for rotated rasters. Would it be acceptable if clipping failed clearly in the case of rotated rasters and we documented that warping to clip is the better option for cropping a rotated raster?

[2021-02-15 15:59] sgillies commented on #2112
See also fb55ddc and 1f3eea9.

[2021-02-16 13:25] thomascoquet opened #2117 "CPLReleaseMutex: Error = 1 (Operation not permitted)"
(Env: GDAL 3.2.1 rio 1.2.0 ubuntu)

Hi Sean,
Just noticed what I would call a bug. Here's a script to reproduce (you might need to run it a couple of times, it happens 80% of the time on my laptop).

[code]

Strangely, it happens only if:
- `GDAL_DISABLE_READDIR_ON_OPEN` is not `False` (`True` or `EMPTY_DIR`)
- the boto3 session is shared between threads.

Error message is `CPLReleaseMutex: Error

[2021-02-16 13:30] vincentsarago commented on #2117
We have seen this now multiple time, and seems to happens on threads and multi process.

Might also be like https://github.com/mapbox/rasterio/issues/1686

[2021-02-16 16:43] sgillies commented on #2117
@thomascoquet can you try switching to c.f.ThreadPoolExecutor and not share the boto3 session? As I recall, they are not thread safe. You could create a new one in the initializer of each worker thread.

[2021-02-17 16:11] thomascoquet commented on #2117
@vincentsarago  Like you I have seen this issue several times as well, but I don't recall exactly what was wrong. I posted the issue as I tried to narrow it down.

@sgillies You are totally right that boto sessions are not thread-safe, I tried to protect the boto session at several locations with mutex during `AWSSession` creation and `env.__enter__()`. Ultimately, I created a new session in each

[2021-02-17 19:03] sgillies commented on #2117
Interestingly, I cannot reproduce the related issue I reported in https://github.com/OSGeo/gdal/issues/2278#issue-572223496 with GDAL 3.2.0.

[2021-02-18 17:32] sgillies commented on #2117
I'm going to close this one because I can't reproduce it with a program that uses boto3 sessions and Python threads correctly.

Neither the c.f or multiprocessing versions of the program below produce the error with GDAL 3.2.1 on my computer (Python 3.7.5).

[code]

[2021-02-18 17:33] #2117 closed

[2021-02-18 19:22] sgillies opened #2118 "1.2.1 release"
Bug fixes. Target date: 2021-02-21.

[2021-02-18 19:39] dazza-codes opened #2119 "Failure to retry a read for an s3-COG (GeoTIFF on AWS s3)"
When a rasterio reads from S3 and it hits an s3 throttle limit (503), some code to wrap the reader in a retry block fails to retry (sample function code below).  It appears as though rasterio/GDAL has registered the dataset as some kind of missing dataset (s3 object) and will refuse to retry reading it.

[code]

Sample function to read/retry a COG metadata:
[code]

Are there better ways to use ras

[2021-02-18 19:44] sgillies commented on #2119
This sounds related to #1877 and https://github.com/OSGeo/gdal/issues/2294, but must be subtly different.

[2021-02-18 20:26] dazza-codes commented on #2119
Comment / question on those links:
- semantics for HTTP (/vsis3) on a 503 (retry could work) is different from 403/404 (don't bother retry, not authorized or does not exist)
  - a 503 unit-test would help to clarify what is going on in gdal caching
  - https://github.com/OSGeo/gdal/blob/master/autotest/gcore/vsis3.py seems to be place these things are tested and a quick search did not find any tes

[2021-02-19 20:37] vincentsarago opened #2121 "Performance downgrade since 1.2.0 due to non cached CoordinateTransformation"
👋 This is not the first time we are raising issue about GDAL 3.2/PROJ 7 but today I think I have clues of what's going on.

ref:
- https://github.com/cogeotiff/rio-tiler/issues/346
- https://github.com/developmentseed/titiler/discussions/216
- https://github.com/lambgeo/docker-lambda/issues/2 (◀️ this was due to SQLite3 version)

At one point  I found 👇 (which I had already read in the past but di

[2021-02-19 20:58] vincentsarago commented on #2121
🤦  Ok I should have checked before posting this but seems that GDAL is also behaving similarly 😭

### GDAL 3.2 PROJ 7.1 (centos)
[code]

<details>

[code]

</details>

### GDAL 2.4 PROJ 5

[code]

<details>

[code]

</details>

So maybe this is a GDAL issue 🤷‍♂️

[2021-02-22 15:35] sgillies commented on #2121
@vincentsarago I'm going to close this since you've shown gdalwarp is also slower. Since GDAL and PROJ are so dependent on sqlite now, I would guess that's the place to look for speedups. Check that proj.db is adequately indexed and optimized, try some fancy configurations, maybe check for query syntax in PROJ.

[2021-02-22 15:35] #2121 closed

[2021-02-22 16:04] vincentsarago commented on #2121
thanks @sgillies, I've opened an issue on GDAL 🤞

[2021-02-24 01:20] dazza-codes opened #2123 "Support for GDAL_HTTP_VERSION 2 on s3-COGs"
From https://trac.osgeo.org/gdal/wiki/ConfigOptions#GDAL_HTTP_VERSION

GDAL_HTTP_VERSION
(GDAL >= 2.3) Can be set to 1.0, 1.1, 2 or 2TLS to specify which HTTP version to use. Will default to 1.1 generally (except on some controlled environments, like Google Compute Engine VMs, where 2TLS will be the default). Support for HTTP/2 requires curl 7.33 or later, built against nghttp2. "2TLS" means that

[2021-02-24 01:23] vincentsarago commented on #2123
@dazza-codes rasterio wheels do come with curl+nghttp2 https://github.com/rasterio/rasterio-wheels/blob/master/config.sh#L115-L146 but AWS S3 doesn't support HTTP2

[2021-02-24 01:27] dazza-codes commented on #2123
Thanks, I couldn't determine whether this was a feature request, a bug, or just a question.  Found a related SO about s3 and HTTP/S 2 at https://stackoverflow.com/questions/45471590/serve-s3-resources-via-http-2

[2021-02-24 01:30] #2123 closed

[2021-02-24 05:01] dazza-codes commented on #2119
This might not be an optimal pattern, but it's a first pass at a function to read s3-COG metadata with actual retries:

[code]

[2021-02-24 12:25] ldesousa opened #2124 "MemoryError plotting raster histogram"
## Expected behavior and actual behavior.

I expected a histogram and got an exception instead.

## Steps to reproduce the problem.

[code]

## Operating system

Ubuntu 20.04

## Rasterio version and provenance

Version 1.1.3-1 installed from the official Ubuntu repositories:

[code]

[2021-02-24 15:46] sgillies commented on #2124
@ldesousa show_hist is unsophisticated and requires the entire dataset to be loaded into memory. In your case, your dataset is ~62 GB, too large. Hence the error. I'm marking this as a bug because we should raise a more specific and clear rasterio exception when this happens.

[2021-02-24 19:03] ldesousa commented on #2124
@sgillies Uncompressed this dataset is "only" 15 GB (including no data cells), which in this 32 GB RAM system should not be a problem. Beyond the issue of trying to load up the whole thing into memory there seems to be also a problem with the data type.

[2021-02-24 20:50] drnextgis opened #2125 "Add option to rio warp to eliminate rotation"
gdalwarp:

[code]

rio warp:

[code]

[2021-02-24 21:15] sgillies commented on #2125
I see! When rio-warp has no `--dst-crs`, this is essentially a no-op. gdalwarp has different default behavior that we should definitely, yes, add an option for.

[2021-02-26 09:58] loicdtx opened #2126 "rasterio 1.2.0 - fiona conflict"
When trying to import both `fiona` and `rasterio` in the same program I get the `Unable to open EPSG support file gcs.csv ... ` error.

[code]

Both fiona and rasterio are manylinux wheels, and this happens on two different systems (both linux).
It does not happen with earlier versions of rasterio.

[2021-02-26 15:08] sgillies commented on #2126
@loicdtx the rasterio 1.2.0 wheels on PyPI contain GDAL 3.2.0 while the fiona 1.8.18 wheels contain GDAL 2.4.4. GDAL 2 and 3 are incompatible. I'm sorry to say that you'll need to pin rasterio to < 1.2.0 unless you build rasterio and fiona from source.

[2021-02-26 15:08] #2126 closed

[2021-02-28 14:37] Fanchengyan commented on #2052
I tested the difference between result of  `gdal.ReprojectImage` and `rasterio.warp.reproject`. It show that `bilinear` method produce the different result, but `nearest`,`max`,`min`,`med`, produce the same reuslt. Here is my test code. **Although the difference in this example is not very big, but in some special cases, this kind of accuracy error will lead to the conclusion of the study**

[code

[2021-03-01 17:02] sgillies commented on #2119
Below https://gdal.org/user/virtual_file_systems.html#vsicurl-http-https-ftp-files-random-access I found this sentence.

`Starting with GDAL 2.3, the GDAL_HTTP_MAX_RETRY (number of attempts) and GDAL_HTTP_RETRY_DELAY (in seconds) configuration option can be set, so that request retries are done in case of HTTP errors 429, 502, 503 or 504.`

It's my understanding that this can also be used for vsis

[2021-03-01 22:02] dazza-codes commented on #2119
If it does, how does rasterio expose any HTTP status codes that could allow consuming code to try to make smarter decisions about how to handle IO errors?  If it does not yet, would it be possible for rasterio to expose HTTP status codes on any `/vsis3` read requests?  There only seems to be a message available on a rio IOError, e.g.

[code]

The HTTP response might be buried too deep in the libra

[2021-03-02 04:48] dazza-codes commented on #2119
I'll report back when some requests hit 503s on s3-COG reads after I've run some load tests with some updated settings to explore the use of
[code]

BTW, `CPL_CURL_VERBOSE=1` is very useful for debugging and profiling.  When reading some unknown number of points with `src.sample` from an s3-COG, it can dramatically reduce the number of `GET` requests for partial-content on s3 by setting the curl c

[2021-03-02 17:34] drnextgis commented on #2118
It seems we are a little bit behind the schedule.

[2021-03-02 18:02] sgillies commented on #2118
Yes. I am living in the interesting times that Chamberlain warned about. I'm going to set a new target for tomorrow, 2021-03-03.

[2021-03-03 15:24] #2041 closed

[2021-03-03 15:24] #2112 closed

[2021-03-03 16:48] sgillies commented on #2095
I'm going to optimistically close this one. We can reopen if it persists in 1.2.1.

[2021-03-03 16:48] #2095 closed

[2021-03-03 16:48] sgillies commented on #2118
It's tagged and wheels are building now.

[2021-03-03 17:15] groutr commented on #2095
@sgillies I can attempt to reproduce this issue with 1.2.1 within the next few days.

[2021-03-03 20:13] dazza-codes commented on #2119
Update - it seems to work with `GDAL_HTTP_MAX_RETRY`.  That might be all that is required to close this ticket; maybe it could be transformed into a documentation issue; possible candidates to update include:
- https://rasterio.readthedocs.io/en/latest/topics/vsi.html#aws-s3
- https://rasterio.readthedocs.io/en/latest/topics/configuration.html
- https://rasterio.readthedocs.io/en/latest/topics/dat

[2021-03-03 21:55] sgillies commented on #2118
:speaking_head: https://pypi.org/project/rasterio/1.2.1/#files

[2021-03-03 21:55] #2118 closed

[2021-03-04 02:09] snowman2 opened #2127 "Python 3.6 Support"
EOL is December 2021: https://devguide.python.org/#status-of-python-branches

- numpy dropped support June 2020 [ref](https://numpy.org/neps/nep-0029-deprecation_policy.html)
- xarray dropped support in 0.17.0 (http://xarray.pydata.org/en/stable/whats-new.html#breaking-changes)
- conda-forge support will be dropped soon [ref](https://github.com/conda-forge/rasterio-feedstock/pull/184#issuecomment-

[2021-03-04 19:53] vincentsarago opened #2128 "update docs about python and GDAL versions support"
ref: https://rasterio.readthedocs.io/en/latest/index.html

ref: https://rasterio.readthedocs.io/en/latest/installation.html#dependencies

I'll try to start a PR today

[2021-03-05 10:11] rrsc1234 opened #2131 "Issue while performing "build_overviews" for a TIFF file using rasterio"
Hi. While going through the Rasterio Document, I am trying to build overview file corresponding to my TIFF file using the following code:

`
from rasterio.enums import Resampling
import rasterio

factors = ['2', '4', '8', '16']

dst = rasterio.open(r'C:\Users\user\Desktop\Clip_2018_Apr_Stacked.tif', 'r+')
dst.build_overviews(factors, Resampling.average)
dst.update_tags(ns = 'rio_overview', resampl

[2021-03-05 10:14] #2131 closed

[2021-03-05 10:17] rrsc1234 commented on #2131
I found the error. I did a mistake while defining "factors" as list of "string" when it should be list of "integer".

[2021-03-08 06:09] rrsc1234 commented on #416
Hi.. can you share the code what exact changes needs to be done to generate file.tif.ovr?

[2021-03-08 10:49] rrsc1234 opened #2132 "Create external overview (.ovr) file using Rasterio"
Hi. I have a tiff file (file.tif) file for which using the following code I am able to generate overviews internally for the tiff file (no separate file.tif.ovr file):

`from rasterio.enums import Resampling`
`import rasterio`

`factors = [2, 4, 8, 16]`

`dst = rasterio.open(r'C:\Users\user\Desktop\t2.tif', 'r+')`
`dst.build_overviews(factors, Resampling.average)`
`dst.update_tags(ns = 'rio_overvi

[2021-03-08 16:37] sgillies commented on #2132
Internal overviews are the GDAL default for GeoTIFFs. Look for `TIFF_USE_OVR` under https://gdal.org/drivers/raster/gtiff.html#configuration-options for more details. This should do the trick:

[code]

[2021-03-08 16:37] #2132 closed

[2021-03-08 16:38] sgillies commented on #2132
By the way, this issue tracker is not for help and support on software usage. Please see the project README and issue template.

[2021-03-15 20:10] vincentsarago commented on #2044
In addition to WKT2 support it would also be nice to add the new PROJJSON support https://proj.org/specifications/projjson.html, available since PROJ 6.2 and gdal 3.1 https://github.com/OSGeo/gdal/blob/release/3.1/gdal/ogr/ogr_srs_api.h#L506

[2021-03-15 20:29] sgillies commented on #2044
All these projection flavors are a drag. One should be plenty.

[2021-03-16 00:33] snowman2 commented on #2044
@sgillies, I agree that there are quite a few options for projection representations. But, PROJ JSON is one I think merits consideration for support. It is the JSON version of WKT2 and it makes parsing and building the complex CRS structures much more pleasant of an experience.

It is used under the hood for [CRS building in pyproj [ref](https://pyproj4.github.io/pyproj/stable/build_crs.html).

[2021-03-16 16:28] sgillies commented on #2044
I overreacted yesterday. If it's already in GDAL, we might as well.

[2021-03-16 21:14] snowman2 opened #2134 "PROPOSAL: rasterio.crs.CRS PROJ JSON Support"
... it would also be nice to add the new PROJJSON support https://proj.org/specifications/projjson.html, available since PROJ 6.2 and gdal 3.1 https://github.com/OSGeo/gdal/blob/release/3.1/gdal/ogr/ogr_srs_api.h#L506

_Originally posted by @vincentsarago in https://github.com/mapbox/rasterio/issues/2044#issuecomment-799718727_

Current methods on `pyproj.CRS` class:
- [CRS.to_json](https://pyproj

[2021-03-17 13:27] HatemMn commented on #1963
I confirm tha the above solution works perfectly.

[2021-03-17 14:45] remi-braun opened #2135 "Merge with `min` and `max` methods results in empty arrays"
Hello,

I tried to merge tif images with the `max` method but I was surprised to see its outputing an empty array:
![2021-03-17_15h39_11](https://user-images.githubusercontent.com/67311115/111485814-3c53ad80-8737-11eb-90e4-68237c83027c.png)

Then I tried with other methods, `min` has the same results when the other methods work just fine:
![2021-03-17_15h39_29](https://user-images.githubuserconten

[2021-03-17 19:57] sgillies commented on #2135
@remi-braun can you share your datasets? It's possible that we do have a bug here.

[2021-03-18 07:55] remi-braun commented on #2135
My datasets hare here (small one, one float, one int32):
[rasterio_merge_bug.zip](https://github.com/mapbox/rasterio/files/6162187/rasterio_merge_bug.zip)

I think you can try it with every TIF file you find as the same pattern has happen on all my tests.

**Note**: I just ran the merge function on python 3.7 on Windows, with rasterio 1.2.0 and it works on these datasets :)

[2021-03-18 16:26] sgillies commented on #2135
Thanks @remi-braun ! We made some changes in 1.2.1. This might be related to #2101.

[2021-03-19 09:26] hovhanns opened #2136 "Resampling works different compared with cv2"
I'm trying to downsample the image using rasterio's read method (out_shape parameter). It gives me some results but compared with another resampling approach (cv2 resize) it works differentially. Both are using CUBIC interpolation method.

## Expected behavior and actual behavior.

I expected to have similar results

## Steps to reproduce the problem.

[code]
##here we have two arrays _resized_cv2

[2021-03-19 14:46] sgillies commented on #2136
@hovhanns can you reproduce the problem with rasterio 1.2.1? 1.1.5 is no longer supported. Also, since I have neither cv2 or your source data or the code that you've used to produce the diff result, there's little for me to go on. Can you plot the resized arrays and paste some screenshots in a comment?

We're not aware of any major problems with cubic resampling as implemented in GDAL. There may b

[2021-03-22 12:50] hovhanns commented on #2136
Hi @sgillies, thanks for your response.
Here is the result images
![image](https://user-images.githubusercontent.com/17962453/111992027-638eee00-8b2e-11eb-8227-aa4b5d36953e.png)

I have tried GDAL too and it gives the same result as Rasterio.
I think this can be just the implementation difference.

[2021-03-22 17:19] sgillies commented on #2136
@hovhanns thank you for the images. To my eye, it looks like the GDAL resampled imagery is brighter, or the cv2 resampled imagery is dimmer. Would you be willing to print statistics of each? Such as the mean, min, max, and variance of each? And is this imagery 8 bits per channel? 16?

[2021-03-23 07:48] hovhanns commented on #2136
This is the statistics of the images
**Rasterio Stats**
mean    2966.112548828125
variance        2468316.25
max     19275.48046875
min     757.3638305664062
**CV2 stats**
mean    2966.077392578125
variance        2528621.25
max     20615.177734375
min     -1064.603515625

The mosaic data type is float32. But the source image dtype is uint16.

[2021-03-23 17:30] sgillies commented on #2136
It seems like this is an implementation difference. Size of the kernel or something. I found more detail about the GDAL algorithm here: http://erouault.blogspot.com/2014/10/warping-overviews-and-warped-overviews.html.

[2021-03-23 17:30] #2136 closed

[2021-03-24 21:27] cpaton8 opened #2137 "Resampling sum method missing in most recent release"
I was thrilled to discover rasterio now supports the sum resampling method but discovered that this commit isn't reflected in the conda distribution (e.g. digging into the downloaded enums.py file the sum=13 line is missing in the Resampling class). The commit that implemented this was merged to the main branch in February and there was a release in early March so I believe it should be in the mos

[2021-03-24 23:46] vincentsarago commented on #2137
@sgillies It seems that https://github.com/mapbox/rasterio/pull/2089 was merged to `master` but not to `maint-1.2` I'm not sure if this intentional

Maybe this was tagged to 1.2.1 but was postponed (and put to master) to wait for gdal 3.3 (per https://github.com/mapbox/rasterio/pull/2056)

[2021-03-25 19:09] sgillies commented on #2137
@vincentsarago @cpaton8 we can backport this for maint-1.2 and 1.2.2.

[2021-03-30 19:04] carlodef opened #2138 "Unexpected difference in `from_bounds` between 1.2.1 and 1.2.0"
Hello! It seems that `rasterio.windows.from_bounds` output with rasterio 1.2.1 differs from the output it has with 1.2.0. Is that expected?

[code]
gives this output with rasterio 1.2.0 (the window is empty, as expected):
[code]

and gives this different output with rasterio 1.2.1 (the window is unexpectedly not empty):
[code]

## Operating system

macOS 10.15.5

## Rasterio version and provenance

[2021-03-31 19:04] sgillies commented on #2137
Resolved by a715da9a07b2ac294a5197207937956ec8e1746f.

[2021-03-31 19:04] #2137 closed

[2021-03-31 20:51] #2044 closed

[2021-03-31 20:54] snowman2 commented on #1608
Every time numpy releases a new version I run into #1741 (as do others on my team). It would be really nice to have this. Is this something you would consider for 1.3?

[2021-03-31 20:55] snowman2 commented on #1608
From pygeos: https://github.com/pygeos/pygeos/blob/master/pyproject.toml#L6-L11

[2021-03-31 20:59] snowman2 commented on #1608
This project looks very useful: https://github.com/scipy/oldest-supported-numpy (referenced by @jorisvandenbossche

You could just do:
[code]
And it will all be taken care of. This is a really nice future compatible method for doing this as when this package updates, the latest pins come along with it.

[2021-04-01 22:25] sgillies opened #2140 "1.2.2 release"
Target date: 2021-04-05.

[2021-04-01 22:29] sgillies commented on #2140
- [ ] close issues
- [ ] build wheels
- [ ] publish to PyPI

[2021-04-02 15:41] snowman2 commented on #1608
Addressed in #2143 for anyone who runs across this.

[2021-04-02 21:09] adamjstewart commented on #1683
I'm running into this same problem, even with the latest version of the docs. Here is the code snippet:
[code]
If I run `gdalinfo` on the resulting file:
[code]
Note that the "Upper Left" coordinate is actually south of the "Lower Left" coordinate, same for "Upper Right" and "Lower Right". Is this expected?

[2021-04-05 20:10] snowman2 opened #2144 "ENH: Antimeridian support for transform_bounds"
Recently added to pyproj.Transformer in master (https://github.com/pyproj4/pyproj/pull/810; https://github.com/pyproj4/pyproj/pull/817; https://github.com/pyproj4/pyproj/pull/818):

- min/max functions [ref](https://github.com/pyproj4/pyproj/blob/cccc897a2186766c3cb9040cf80ba1e450b1b298/pyproj/_transformer.pyx#L324-L494)
- _transform_bounds [ref](https://github.com/pyproj4/pyproj/blob/cccc897a2186

[2021-04-05 21:45] dazza-codes commented on #2103
This is a real bug in rasterio with binary wheels and not just a user-error, it should not be a closed issue.  When there is no env-var set for `PROJ_LIB` and the pip install provides all the binary wheels libs for rasterio, `rio` should be finding it's own libraries without any errors.  The FAQ does not really cover the work required to fix this bug.

[code]

[2021-04-06 20:52] sgillies commented on #2135
I've reproduced this and have a fix coming.

[2021-04-06 21:54] sgillies commented on #2138
@carlodef thanks for reporting this! The behavior in version 1.2.0 was undefined. In version 1.2.2 we will require the bounds to be consistent with the transform and raise an exception if they are not, as in this case.

[2021-04-06 22:31] sgillies commented on #1661
The extra step in rio-clip which transforms bounds when the dataset and the --like dataset have different projections is preventing the ValueError in disjoint_bounds from occuring. I'm going to close this issue up. We can reopen if it is still a problem in version 1.2.

[2021-04-06 22:31] #1661 closed

[2021-04-06 22:36] sgillies commented on #1908
@drnextgis did this get resolved in GDAL?

[2021-04-06 22:39] sgillies commented on #2032
I think this was fixed in 1.2.1 and I forgot to follow up here.

[2021-04-06 22:39] #2032 closed

[2021-04-06 22:52] sgillies commented on #2065
I've determined that this is a duplicate of #2088, which was fixed in version 1.2.0.

[2021-04-06 22:52] #2065 closed

[2021-04-06 23:06] sgillies commented on #2084
I'm going to close this as a won't fix. The boundless keyword argument was introduced in error and was left in the signature so that user code calling the method with `boundless=False` wouldn't be broken. But we couldn't allow calls with `boundless=True` to succeed.

[2021-04-06 23:06] #2084 closed

[2021-04-06 23:29] sgillies commented on #2084
Fixed this one after all :)

[2021-04-07 00:35] sgillies commented on #2087
Got a fix for this in 3e1765c.

[2021-04-07 00:35] #2087 closed

[2021-04-07 03:23] sgillies commented on #2140
Wheels are building tonight. Will publish on 2021-04-07.

[2021-04-07 08:04] RocketFlash opened #2146 "How to disable warnings from GDAL"
Hi!

Every time I read a tiff file I get a warning:
[code]

How to disable warnings?

[2021-04-07 13:46] #2135 closed

[2021-04-07 13:46] #2138 closed

[2021-04-07 13:46] #2036 closed

[2021-04-07 13:52] sgillies commented on #2146
We don't accept usage questions in this issue tracker. See https://github.com/mapbox/rasterio#support.

[2021-04-07 13:52] #2146 closed

[2021-04-07 13:54] sgillies commented on #2140
Release announcement sent to the list.

[2021-04-07 13:54] #2140 closed

[2021-04-07 13:54] sgillies commented on #1608
Done!

[2021-04-07 13:54] #1608 closed

[2021-04-07 15:31] sgillies commented on #2103
@dazza-codes I can't reproduce what you see in a fresh Python environment

[code]

Can you run the command above and paste the output in here?

[2021-04-07 18:48] snowman2 opened #2147 "BUG: PROJ 8+ test_target_aligned_pixels fails"
From: https://github.com/conda-forge/rasterio-feedstock/pull/194/

[code]

Relevant deps:
[code]

[2021-04-07 20:53] blindjesse opened #2148 "Unable to write to Azure blob"
The following code:
[code]
Gives this error:
[code]
Using rasterio version 1.2.2, gdal 3.2.1. The environment options `AZURE_STORAGE_ACCOUNT`, `AZURE_STORAGE_ACCESS_KEY`, and `CPL_VSIL_USE_TEMP_FILE_FOR_RANDOM_WRITE` are set correctly.

A proposed solution is [here](https://github.com/mapbox/rasterio/compare/master...blindjesse:az_error).

[2021-04-07 21:17] vincentsarago commented on #2148
@blindjesse to my knowledge Rasterio doesn't support write operation for VSI drivers are for https://github.com/mapbox/rasterio/issues/1159#issuecomment-532800520

[2021-04-07 21:25] blindjesse commented on #2148
Thanks that is interesting. I guess I took the AWS-specific error handing in the vicinity of my proposed fix (which is working for me) as an indication that there was some support for VSI drivers. But maybe it's just for [AWS](https://rasterio.readthedocs.io/en/latest/topics/vsi.html).

[2021-04-08 14:10] MrDrinkwater opened #2149 "Rasterio fails at open a multiband geotiff"
I am trying to crop a multiband .tif (created with gdalwrp) with a shapefile defining a rectangular area.
I tried to use rasterio following an example from module's documentation:

[code]
And this is what I get:

`with rasterio.open(oi_path + 'OI_resamp'+str(years[y])+'.tif') as src:
    out_image, out_transform = rasterio.mask.mask(src, shapes, crop=True)
Traceback (most recent call last):

  Fil

[2021-04-12 22:04] felixdivo commented on #2138
@sgillies The change in 5b10c8d154f691db0173f93f0f4490a20bd08229 disallows zero-width windows. Is that intended behavior? It is at least not documented that this does not work (I looked [here](https://rasterio.readthedocs.io/en/latest/api/rasterio.windows.html#rasterio.windows.Window)).

[2021-04-12 22:36] sgillies commented on #2138
@felixdivo no, not intended. Thank you for pointing this out!

[2021-04-13 00:26] geospatial-jeff opened #2151 "rasterio profile returns invalid `blockxsize` for warped vrts"
## Expected behavior and actual behavior.

I expect the rasterio profile for a WarpedVRT to report the correct blocksize.

## Steps to reproduce the problem.

I start with a VRT where each image in the file has a blocksize of 128x128.  I created mine with [stac-vrt](https://stac-vrt.readthedocs.io/en/latest/#) but this happens with other VRTs as well.  When I open this file and check the block siz

[2021-04-13 00:54] vincentsarago commented on #2151
more weirdness

[code]

[2021-04-13 01:30] vincentsarago commented on #2151
ok so the 128x128 block size for the VRT is expected (this is configurable in GDAL).

What's weird for us is the 128x512 in the warpedVRT which I guess comes from https://github.com/OSGeo/gdal/blob/fec15b146f8a750c23c5e765cac12ed5fc9c2b85/gdal/frmts/vrt/vrtwarped.cpp#L378-L389

[2021-04-13 01:56] #2151 closed

[2021-04-13 10:02] muaali opened #2152 "rasterio.errors.RasterioIOError: path/to/image.tif not recognized as a supported file format"
Hi,
Facing a non-systematic random error `rasterio.errors.RasterioIOError` while reading the `.tif` files using

[code]
The error states :
[code]
I cannot seem to reproduce the error, it is very random. Sometimes it occurs earlier, sometimes late. I have tried to read all the raster files separately in a loop and it seems fine. But when I spin my machine learning model, it causes issues. [Here](ht

[2021-04-13 18:14] felixdivo commented on #2138
Thanks @sgillies for the quick reply! :) Now I can revert the temporary and ugly "fixes" in my private repo.

Some tests might've caught these changes a bit earlier... ;)

[2021-04-13 18:41] jdmcbr commented on #2138
@felixdivo Adding a test is a great way to contribute and show your gratitude towards an invaluable open source project.

[2021-04-13 19:04] sgillies commented on #2138
Okay, no more comments needed here.

[2021-04-13 23:30] sgillies commented on #2148
Let's be clear, GDAL doesn't support directly writing GeoTIFFs to cloud storage: https://gdal.org/user/virtual_file_systems.html#vsis3-aws-s3-files. This is more because of constraints of cloud storage. It does have a feature by which you can write to a temp file that is subsequently put to cloud storage. I've made this same kind of design decision in one place in rasterio and regret it. I believe

[2021-04-13 23:30] #2148 closed

[2021-04-13 23:37] blindjesse commented on #2148
Thanks for confirming. Looks like waiting for the possible fsspec-based I/O may be the best option.

[2021-04-14 00:35] vincentsarago opened #2153 "Missing `RMS` support in build_overviews"
https://github.com/mapbox/rasterio/blob/3c630f8a30d31ceb61aa52ad3ab96f4fc25f2ecd/rasterio/_io.pyx#L1794-L1801

https://github.com/OSGeo/gdal/blob/3d32de21b79ab7e09024f55a0e6740f00318dd3e/gdal/gcore/gdaldataset.cpp#L1908-L1909

[2021-04-14 15:02] sgillies commented on #2149
@MrDrinkwater the error message indicates to me that this is either a case of corrupted data or some incompatibility between libtiff versions used to write and read the data. Since I don't know which versions you have on your system, I will not speculate further. I recommend asking on the rasterio support group (linked in the project readme and issue template) or the gdal-dev group to see what oth

[2021-04-14 15:02] #2149 closed

[2021-04-14 15:02] sgillies commented on #2153
@vincentsarago add it if you want it for 1.2.3.

[2021-04-14 15:03] sgillies opened #2154 "1.2.3 release"
Target date: 2021-04-28.

[2021-04-14 20:51] vincentsarago commented on #2153
@sgillies I'm kinda unhappy with how the available resampling values for overviews is stored in a dict within the `build_overviews` method, which then leads to https://github.com/mapbox/rasterio/blob/3c630f8a30d31ceb61aa52ad3ab96f4fc25f2ecd/rasterio/rio/overview.py#L74

What do you think about creating a specific enum for the Overview specific Resampling values? (which could then be referenced in

[2021-04-14 23:26] sgillies commented on #2153
@vincentsarago yes, for sure, let's do better. It's not immediately clear to me that another enum makes this situation better. It might, though. Worth a draft PR, for sure.

[2021-04-16 06:15] RichardScottOZ commented on #2152
[code]

This fails on Windows 10, works perfectly fine on Ubuntu (18.04).  So similar.

[2021-04-16 07:55] CyanBC opened #2155 "Projecting global WGS84 Geodetic raster to Projected raster World Eckert IV has broken results."
## Expected behavior and actual behavior.
Attempt to project a geodesic WGS84 global raster to WGS84 World Eckert IV Projection results in mis-projected, or broken results. Since I'm here anyway, I tested a few other projections for undesirable results. These are listed in the code below. But my main problem is Eckert IV, which I need for research purposes (If it was aesthetic I would just use a d

[2021-04-16 15:28] sgillies commented on #2155
@CyanBC I, too, see data repeated in the corners. But I do not see any scrambling.

[code]

![Figure_1](https://user-images.githubusercontent.com/33697/115047346-a924a980-9e95-11eb-83c2-72cc55d268c5.png)

Here's the source image:

![wo](https://user-images.githubusercontent.com/33697/115032881-0c5b0f80-9e87-11eb-8e71-04b8ad936500.jpg)

The rio-warp command does not fill in the corners.

`rio warp

[2021-04-16 15:36] sgillies commented on #2155
The rio-warp command sets the GDAL `CHECK_WITH_INVERT_PROJ` config option to true by default, while WarpedVRT does not. If you want the same results, you'll need to do something like the following.

[code]
![Figure_1](https://user-images.githubusercontent.com/33697/115048360-b726fa00-9e96-11eb-91fe-67f35d44a42b.png)

[2021-04-16 15:38] #2155 closed

[2021-04-19 02:27] CyanBC commented on #2155
Thank you for the help. rasterio.Env(CHECK_WITH_INVERT_PROJ=True) corrects the issue for both cases.

with rasterio.Env(CHECK_WITH_INVERT_PROJ=True), rasterio.vrt.WarpedVRT(src_rast, **vrt_options) as dst_rast:
and
with rasterio.Env(CHECK_WITH_INVERT_PROJ=True), rasterio.open(direct_reproject, 'w', **kwargs, nbits=1) as dst:

Resolve both issues.

[2021-04-20 00:26] sgillies opened #2156 "ERR_BIAS and ERR_RAND in GDAL 3.3.0"
New RPC params from https://github.com/OSGeo/gdal/pull/3494 are failing our tests against GDAL 3.3.0beta1 because of https://github.com/mapbox/rasterio/blob/master/tests/test_rpcs.py#L160.

[2021-04-20 16:07] #2156 closed

[2021-04-21 16:52] hovhanns opened #2159 "Different results from reading data from memory file and dataset"
## Expected behavior and actual behavior.
I have a case when I need to do some processing with data then read it using some overview. For that purpose, I used memory files to have especially rasterio's overview algorithms worked.
The strange thing is that reading the same content from the memory file and actual file gives me different results.

Below is a simplified script, that just reads the con

[2021-04-22 06:58] hovhanns commented on #2159
Here are the images
![image](https://user-images.githubusercontent.com/17962453/115669677-96104e80-a359-11eb-9f97-479ab47363ce.png)

Also, the histogram distance of the images is 0.049.

[2021-04-22 09:59] hovhanns commented on #2159
After some investigation, I found the following. The diff comes from the _compress_ algorithm. My imagery uses **deflate** compression, but the memory file loads the information which already decompressed. So reading resized data from the memory file(that contains all the decompressed data) and from the dataset (where data is compressed) gives the difference.

[2021-04-22 15:31] sgillies commented on #2159
@hovhanns thanks for the update. I was about to ask if you would be willing to modify your program to close `mem_ds` before reading from it again, and report on the results. I've read in the GDAL source that some format drivers may not write out all data until the dataset object is closed. When you open `mem_ds` to read, there may be some metadata missing, for example.

Is your TIFF tiled or strip

[2021-04-22 15:55] ran-pelta opened #2160 "Different results between `rasterio 1.1.5` to `rasterio 1.2.1` when using `rasterio.features.shapes`"
Hi,

I'm getting different results between `rasterio 1.1.5` to `rasterio 1.2.1` when using `rasterio.features.shapes`.

I'm not sure if it is possible to attach here the raster I'm using in order for others to reproduce this issue, but it's a relatively small raster so I'll "print" it here:

[code]

raster shape:
`(18, 27)`

raster profile:
[code]

Then I do:
[code]

When I use  `rasterio 1.1.5`

[2021-04-22 15:56] hovhanns commented on #2159
@sgillies Thanks for your response.
My TIFF is tiled.
About closing **mem_ds** and then reading throws exception like
`rasterio.errors.RasterioIOError: Dataset is closed: /vsimem/37f99faf-d7ed-40e5-8cee-852ee1c10c44/37f99faf-d7ed-40e5-8cee-852ee1c10c44.tif` is there any way t read again the data without losing the written information?

[2021-04-22 17:21] sgillies commented on #2159
@hovhanns the in-memory TIFF should be closed and re-opened. It's a consequence of using a formatted in-memory file and I don't see a way around it.

Like this:

[code]

[2021-04-22 17:35] sgillies commented on #2160
@ran-pelta please use the rasterio discussion group that is linked from the issue template and the readme. This is a known issue with the GDAL library: https://github.com/mapbox/rasterio/issues/2034.

[2021-04-22 17:35] #2160 closed

[2021-04-22 22:58] dazza-codes commented on #2103
Yes, also cannot reproduce it on a clean "pure pip" env, which now has rio 1.2.2 (previously 1.2.1).  (The `rio insp` command above is also OK on this env.)

[code]

[2021-04-23 00:04] sgillies commented on #2103
@dazza-codes thanks, good to know. GDAL and PROJ are pretty gnarly to work with. If rasterio or fiona ever make the situation worse, that's gotta be fixed.

[2021-04-23 06:57] hovhanns commented on #2159
@sgillies  After closing and reopening it gives the same result.
[code]
here `mem_open_tile` and `mem_ds_tile` are the same arrays.

As I noticed memfile.open() ignores compress parameter, and after closing it writes data without compressing, thus we are getting diff.

[2021-04-23 20:44] groutr opened #2161 "Merge failure because of strange src_window"
After upgrading to rasterio 1.2.1 from 1.1.8, the merge functionality has broken for me. The breakage seems to center around the source window that get computed. I'm having trouble making sense of the values in the src_window and dst_window.

I get the following error from `copy_first`:
[code]

Digging merge.py, I discover this situation:
Source bounds: `BoundingBox(left=-20.5075, bottom=8.3035000

[2021-04-23 21:08] groutr commented on #2161
`region.shape = (9, 0, 0)` indicates to me that the src_window does not overlap with the destination domain.

With rasterio 1.1.8, `trows = 0` and `tcols = 0` which means that `temp.shape = (9, 0, 0)` (instead of (9, 464, 3049))
It looks to me that the culprit is actually dst_window.

[2021-04-23 21:26] sgillies commented on #2161
Can you try 1.2.2, which had some window changes (https://github.com/mapbox/rasterio/blob/master/CHANGES.txt#L22), and if you still see something that looks like a bug, make a little program I can run to reproduce it?

Negative offsets in windows aren't a problem on their own, because we have a concept of a "boundless read", but they might be a sign of a bug in some contexts.

[2021-04-26 11:29] itati01 opened #2163 "Empty mosaic with floating point tiffs"
## Expected behavior and actual behavior.

I am using ```rasterio.merge.merge()``` to mosaic adjacent raster files. The input files are floating point tiffs with -3.4e+38 being the nodata value. In the overlapping parts, I expected that nodata (i.e. the boundary of one raster) is replaced by the values of another raster. Unfortunately, the output is empty, i.e. all values are -3.4e38. This also ha

[2021-04-26 19:58] sgillies commented on #2163
@itati01 thanks for the report and the testing file. This will be fixed in version 1.2.3.

[2021-04-26 20:18] sgillies commented on #2159
@hovhanns `memfile.open()` doesn't ignore the compress parameter, it falls into the `**kwargs``. See in this example.

[code]

[2021-04-26 20:18] #2159 closed

[2021-04-26 21:45] sgillies commented on #2153
@vincentsarago I'm going to rename OverviewResampling to _OverviewResampling for 1.2.3. We'll use it internally but won't make it a part of the "public" API until 1.3.0.

[2021-04-26 21:55] sgillies commented on #2154
l'm making the call to move this ahead to today :smiley:

- [ ] close issues
- [ ] tag
- [ ] build wheels and publish

[2021-04-26 22:09] vincentsarago commented on #2153
Good to me @sgillies

[2021-04-27 00:43] groutr commented on #2161
Two test file and an example script to reproduce the issue can be downloaded here: [https://www.mediafire.com/file/zzl94sif8qymki1/merge_window.tar.xz/file](https://www.mediafire.com/file/zzl94sif8qymki1/merge_window.tar.xz/file)

An oddity that I discovered, and what I believe to be the root of this issue:

Destination bounds: (-98.13, 24.285000000000004, -66.24, 45.45)
Intersection: (-20.5075, 2

[2021-04-27 00:45] groutr commented on #2161
#2162 tried to remedy this, however, instead of checking the windows, I should have been checking the bounding boxes.

[2021-04-27 01:32] sgillies commented on #2154
Done!

[2021-04-27 01:32] #2154 closed

[2021-04-27 06:01] hovhanns commented on #2159
@sgillies
Then why I'm getting different results? Shouldn't they work the same way? I mean reading directly from the dataset compared with reading from a memory file.

[2021-04-27 15:39] groutr opened #2165 "disjoint_bounds odd behavior"
[code]
The source for disjoint_bounds suggests that this should raise a ValueError because the bounds are not oriented the same way. However, no exception is raised and an incorrect result is returned.

These specific bounds were extracted from the test `test_rasterize_existing_output`

[2021-04-27 15:54] groutr commented on #2165
I suggest the following function be added to coords.py
[code]

then the check in `disjoint_bounds` becomes:
[code]

Does it makes sense to "re-orient" a bounding box so that left < right and bottom < top (swapping values as needed)? For example re-orienting bound2 would result in `BoundingBox(left=0.0, bottom=0.0, right=10.0, top=10.0)` and bound1 would remain unchanged.

[2021-04-27 17:57] sgillies commented on #2159
I don't see a difference with the rgb_deflate.tif file. Is it possible that your dataset has overviews?

[2021-04-27 22:07] Klemet opened #2167 "rasterio.mask.mask : ValueError: width and height must be > 0 with a correct polygon if crop = True"
## Expected behavior and actual behavior.

I'm trying to get the values of pixels that touch a polygon, using the rasterio.mask.mask function.

This usually work; however, for some small polygons, I get a `ValueError: width and height must be > 0 with a correct polygon` **if** is want to crop the mask to the small polygon. If I do not use "crop", or if I use the "pad" option with the "crop" option

[2021-04-28 10:47] hovhanns commented on #2159
@sgillies yes my dataset has overviews.

[2021-04-28 15:52] sgillies commented on #2159
@hovhanns ah, I believe that's the explanation for the difference. You're doing a read that sub-samples, right? With the original dataset GDAL will therefore read from the overviews, which may have been constructed using a smoothing kernel. Rasterio's write method doesn't copy overviews, and so with the in-memory file you are reading sub-samples from the nearest pixel.

[2021-04-28 17:05] sgillies commented on #2167
@Klemet we don't support rasterio 1.1.0 anymore. Can you try to reproduce the problem with 1.2.2?

[2021-04-28 19:34] Klemet commented on #2167
Thanks you for the advice, @sgillies ! Installing rasterio 1.2.2 proved troublesome, as my installation of Miniconda really didn't want to update it. The update of rasterio also broke Spyder (that I use for python scripts), but in the end, rasterio 1.2.2 seemed to be able to fix the issue.

I'll consider it solved. Thank you for your consideration !

[2021-04-28 19:34] #2167 closed

[2021-04-30 11:10] Dimplejain23 opened #2169 "read Geotiff from Azure blob using rasterio"
I am trying to get the bounding box and footprints of Geotiff available on Azure Blob using rasterio. It would be very helpful if you suggest me the better way or share any documents of rasterio with Azure Blob.
@sgillies @perrygeo @brendan-ward

Thank You

[2021-04-30 11:18] drnextgis commented on #2169
[code]

[2021-05-02 08:56] xylar commented on #2147
Just a note that this is the equivalent conda-forge PR after the 1.2.3 release: https://github.com/conda-forge/rasterio-feedstock/pull/196

I believe the same tests are still failing.

[2021-05-03 08:43] Dimplejain23 commented on #2169
@drnextgis  As follow the code, getting this error:

[code]

[2021-05-03 08:51] drnextgis commented on #2169
If you use publicly available blob then code should be slightly different:

[code]

[2021-05-03 09:47] Dimplejain23 commented on #2169
Thanks for the quick response @drnextgis I am not working with public blob. Is there any other configuration required for this code block?

[2021-05-03 10:01] drnextgis commented on #2169
https://gdal.org/user/virtual_file_systems.html#vsiaz

[2021-05-03 10:35] Dimplejain23 commented on #2169
Thank You @drnextgis  now issue got resolved. I was doing something wrong in configuration.

[2021-05-03 10:43] sid-ks commented on #2119
Hi all.

Just tried a rasterio.open on one of the Sentinel-1 GRD files in the Requester-Pays bucket.

[code]
with open and "src.meta" gives the following output.

[code]

I then tried rioinfo on it which gave a similar answer -

[code]
The output is big, hence please check the public link below -
https://slack-files.com/THYJKEA2F-F0212GD2AV7-a64f861704

then I also tried a simple gdal_translate, w

[2021-05-03 11:22] sid-ks commented on #2119
Just a follow up - May be important.

The same above codes do not give any errors in other requester-pays bucket, such as Landsat Collection 2.

[2021-05-03 16:08] sgillies commented on #2147
Note to self: don't write any more post-warp pixel tests, they're inherently flaky.

[2021-05-03 16:10] sgillies commented on #2119
I deleted some irrelevant comments. Please don't do this, people. Use the discussion group linked in the README under "support".

[2021-05-03 16:46] snowman2 commented on #2154
Thanks for the release! When will the changes be expected to be in master?

[2021-05-03 18:53] #2163 closed

[2021-05-03 18:53] sgillies commented on #2154
Thanks for the poke @snowman2 , it's done in 5e3fa33.

[2021-05-03 18:57] snowman2 commented on #2154
Thanks @sgillies :+1:

[2021-05-03 19:46] pwheimann opened #2171 "Sampling GeoTIFFs underload via a VRT causing intermittent errors."
Hi,

I'm not sure if this is a bug or just something that shouldn't work, It may also be in GDAL itself and not Rasterio, but since I'm using Rasterio and a Python environment I thought I'd try here first.

I am running an HTTP API to retrieve values from raster cells given an input lng/lat. I am serving ~75 COG-formatted GeoTIFFs from an AWS S3 bucket. I'm using a VRT created for the GeoTIFFs wit

[2021-05-03 20:05] vincentsarago commented on #2171
👋 @pwheimann we kindly ask question to be asked in https://rasterio.groups.io/g/main/topics and use GitHub issue to report bug in rasterio code it self. what you are experiencing doesn't seems to be a problem with rasterio it self.

The problem with FastAPI is that every `def` (non-async) function will be run in a thread pool and I'm not sure GDAL will be really happy about accessing a VRT opened

[2021-05-03 20:08] pwheimann commented on #2171
Sorry, I can close this...it wasn't clear to me if was potentially a bug or not.

[2021-05-03 20:11] pwheimann commented on #2171
Not a bug.

[2021-05-03 20:11] #2171 closed

[2021-05-03 20:45] groutr commented on #2165
@sgillies Do you have any thoughts on this? According to https://github.com/mapbox/rasterio/issues/525#issue-116584307, would `disjoint_bounds` need the transform to accurately interpret the sides of the bounding box (checking if y in the transform is positive or negative)?

In the absence of a transform, can we make the assumption that `BoundingBox(0, 10, 10, 0) == BoundingBox(0, 0, 10, 10)` sinc

[2021-05-04 15:00] kmpham commented on #1569
Hi sgillies, have the same problem, but the link you posted... I am still confused of what to do to solve it. Can you please give me some guidance, I am on Windows. Thanks!

[2021-05-04 16:22] sgillies commented on #2165
@groutr in what situation do you run into this? I've never encountered datasets flipped left-to-right.

The BoundingBox class is only a data class. I don't think we should add any new methods to it.

Making the disjoint test correct for all possible combinations of bounding boxes probably requires affine transform and CRS information. Unless there's a really big problem here that affects a lot of

[2021-05-04 16:58] groutr commented on #2165
I'm not suggesting rewriting the test, though perhaps it should inspected to make sure it's a valid test. I'm pointing out that an existing test should cause disjoint_bounds to raise an exception, but it doesn't. I'm suggesting that we fix `disjoint_bounds` so that its result can actually be trusted.

The code in `disjoint_bounds` implicitly makes the assumption that left < right and bottom < or >

[2021-05-04 17:37] groutr commented on #2165
To succinctly summarize:
A bounding box of (0, 10, 10, 0) and a bounding box of (0, 0, 10, 10) describe the same region of the Cartesian plane. To fix `disjoint_bounds` I'm suggesting that it be able to switch between representations of the bounding box so that it can return an accurate result.

My approach to fixing this looks like this:
[code]
The intersection function I feel will be useful in #

[2021-05-05 10:48] neon-ninja opened #2174 "TypeError/WindowError/white lines in merged raster after upgrading from version 1.2.0 to 1.2.3"
Hi,

I wrote some Python code using rasterio.merge to merge some DEM TIF tiles in a zip file. The code worked fine in rasterio version 1.2.0, but breaks after upgrading to 1.2.3. The HTML output from a Python Jupyter notebook illustrating this problem can be found here:
https://uoa-eresearch.github.io/land_use/rasterio_merge_test. The ipynb source for this can be found at https://github.com/UoA-eR

[2021-05-05 14:47] konstantinos2018 opened #2175 "rasterio.fill.fillnodata gives incorrect output when using smoothing_iterations value greater than 0"
## Expected behavior and actual behavior.

I would like to interpolate the NoData (NaN) values of an image using `rasterio.fill.fillnodata(image=image, mask=(~np.isnan(image)), max_search_distance=max_search_distance, smoothing_iterations=smoothing_iterations)`. What I expect as output is an image with most of the NoData values being filled (depending on the `max_search_distance`). When I use `smo

[2021-05-05 15:11] groutr commented on #2174
@neon-ninja Numpy considers casting from float32 to int16 to be unsafe, meaning that it cannot guarantee that values are preserved thru that cast. In 1.2.0, when copying data from a raster to the final output, an unsafe cast was performed. In rasterio 1.2.1, that changed to casting rule to 'same_kind' (the default casting rule for copyto). I guess the question here is, do you really want to be cas

[2021-05-05 17:43] groutr commented on #2165
A comparison of existing and proposed solutions.

[code]
My approach
[code]

My proposed solution passes the test suite which is somewhat puzzling.

[2021-05-05 18:03] groutr commented on #2165
I'm not suggesting that we add methods to BoundingBox. I like that BoundingBox is just a namedtuple.

[2021-05-05 21:35] neon-ninja commented on #2174
@groutr thanks for your response.

This dataset measures elevation in meters above sea level, and ranges from -30 to 882.6465, with a nodata value of -32767. As such, it should fit within an int16 safely, and I'm ok with dropping fractional meters (a vertical resolution of 1m is fine for me). Incidentally, any DEM (that uses meters above sea level) in the world should fit with an int16, as the tal

[2021-05-05 22:09] groutr commented on #2174
Regarding the WindowError, it looks like you are facing the exact issue that I reported in #2161. There is a PR #2162 which should fix that particular issue.

As for the TypeError, in general, rasterio doesn't know the range of data you are processing. My suggestion is to use the default setting (which derives the dtype from your first input raster) and then cast the merge result to int16.

[2021-05-06 15:17] groutr commented on #2174
I ran your example with my changes in #2162 and it does prevent the WindowError.

The white lines issue is a little trickier. Somehow, the alignments are 1px off.

For example, tiles FK and FL (which are the lower left and lower center tiles in the 3x3 grid):
I think this is a corner case with how the window is being calculated. If we look at the intersection of the bounding boxes for FK and FL
[c

[2021-05-11 08:43] drnextgis opened #2176 "Add "--precision" argument for rio clip"
When I do `rio clip` rasterio throws an exception:
[code]
But if we open the raster and bounds in QGIS we can see that they are intersected:
![image](https://user-images.githubusercontent.com/866124/117784620-0b2dc000-b244-11eb-9208-adbe7ea73b86.png)

It seems like a rounding issue and using negative precision value leads to a bigger [eps](https://github.com/mapbox/rasterio/blob/5e3fa33943fad02c18

[2021-05-12 08:27] robmarkcole opened #2178 "Please add support for arm64v8 on conda"
## Expected behavior and actual behavior.
I am on an M1 Mac and building a docker image based on`arm64v8/python:3.8-slim`. I wish to install via https://anaconda.org/conda-forge/rasterio but arm64v8 is not currently supported

[2021-05-12 10:17] vincentsarago commented on #2178
Hi @robmarkcole,

I think the issue needs to be raised over https://github.com/conda-forge/rasterio-feedstock. The rasterio maintainers are not responsible for the conda package.

[2021-05-12 10:28] robmarkcole commented on #2178
Thanks @vincentsarago

created https://github.com/conda-forge/rasterio-feedstock/issues/197

[2021-05-12 10:28] #2178 closed

[2021-05-15 00:20] sgillies opened #2179 "Allow any type casting in merge"
#2101 introduced a casting issue reported in #2174. I suggest we call copyto with `casting="unsafe"` to revert to the behavior in version 1.2.0.

cc @groutr

[2021-05-17 11:43] thomascoquet opened #2180 "Issues with signed byte handling"
## Expected behavior and actual behavior.

Hi Sean,

I encountered unexpected behaviors when using the singed byte data type.

1. Looks like when writing then reading the nodata value, it is set to 0 if < 0 (does not happen with nodata > 0).
2. When using a WarpedVRT, the array is casted to `u1`, making it impossible to check the nodata value (still in `i1`).
Thanks, Thomas

## Steps to reproduce

[2021-05-17 14:49] sgillies commented on #2180
@thomascoquet to save signed bytes you will need to exercise one of the GeoTIFF drivers creation options, see https://gdal.org/drivers/raster/gtiff.html#creation-options.

[2021-05-17 19:22] groutr commented on #2179
My two cents, FWIW: I think that whatever the default, there should be a way to make it more strict/loose depending on the users needs. The added strictness is purely by accident as I was not aware at the time that default casting behavior was 'same_kind'. My use cases welcome the added strictness, but I understand it might be to everyone's liking.

I suggest some alternative solutions as ways to

[2021-05-17 20:44] sgillies commented on #2165
@groutr I disagree with the following statement.

Bounding boxes are always ordered like (lower left x, lower left y, upper right x, upper right y). Your bounding boxes above would have to be from different coordinate systems to both be bounding boxes of real rasters. Accounting for differences in CRS is not within the scope of rasterio.coords.

[2021-05-18 01:33] vincentsarago commented on #2165
Late to the party, but I agree with @sgillies here. I think is there is one thing to do is to raise an error if the bbox is not well ordered.

[2021-05-18 08:17] thomascoquet commented on #2180
@sgillies Tried with and without the option, it does not change anything on my computer.

FIY, without the option I get:
[code]

[2021-05-18 16:33] sgillies commented on #2180
@thomascoquet I apologize for misdiagnosing this yesterday. So, support for signed bytes was added in https://github.com/mapbox/rasterio/pull/1595. Use of the creation option shouldn't be needed.

I reproduced your result with `nodata=-1`. That smells fishy.

I'm not sure GDAL's warped VRT feature supports unsigned bytes at all. I'm going to classify that as another issue.

[2021-05-18 17:16] marcobasilicoTRE opened #2181 "load modified geotiff from AWS S3 bucket"
I'm using rasterio to load raster images from AWS s3 bucket.
I add here a code example:

[code]

No issue in reading data with these lines.

If the raster object is changed and I want to load it again, I see the previous data and not the updated one.
It seems that data is taken from the cache in memory.
I tried to switch off any cache option as well as I tried to reset the cache, but it is NOT pos

[2021-05-18 17:21] marcobasilicoTRE commented on #2181
'3.2.2'

[2021-05-18 17:30] sgillies commented on #2181
@marcobasilicoTRE can you try disabling the curl and vsi caches *before* the first request?

[2021-05-19 19:29] groutr commented on #2165
I agree that an error should be raised if a bounding box is not well ordered. Perhaps BoundingBox should become similar to Window class where there is some validation upon instantiation (https://github.com/mapbox/rasterio/blob/maint-1.2/rasterio/windows.py#L524-L525).

Does this well-ordering mean that left< right and bottom < top?

[2021-05-20 08:31] scottyhq opened #2182 "CInt16 rasters promoted to np.complex128 dtype"
## Expected behavior and actual behavior.

I've noticed rasterio promotes CInt16 to np.complex128 when Tifs are read in, inflating the memory footprint, which is problematic for SAR data.

This does not happen using GDAL python bindings directly. I'm wondering if would be straightforward to instead map to np.complex64 as GDAL does by default? I'm guessing this is a straightforward fix, in which ca

[2021-05-20 09:26] marcobasilicoTRE commented on #2181
@sgillies thank you for your replay.
I've created this script to try what suggested and to let reproduce you this issue:

`#!/usr/bin/env python
import boto3
import rasterio as rio
from rasterio.session import AWSSession
from osgeo.gdal import VSICurlClearCache

bucket_name = "........"
orig_key_name = "TEST/testx.tif"
key_name = "TEST/testx.tif"
f_raster = "s3://{}/{}".format(bucket_name, key_nam

[2021-05-20 16:33] sgillies commented on #2182
@scottyhq this project has had a blind spot when it comes to complex integers. Could you check if changing the values in the forward mapping of types from `complex_` to `complex64` in these two lines https://github.com/mapbox/rasterio/blob/master/rasterio/dtypes.py#L38-L39 suffices?

[2021-05-20 19:19] drnextgis opened #2183 "Resampling causes change of max value"
[code]

I expected to get the same or at least close value as in the original raster.

[2021-05-20 19:36] drnextgis commented on #2183
I need to ask first. But it seems not a rasterio issue because I can reproduce it with GDAL:
[code]
Will ask in the mail list.

[2021-05-20 20:39] sgillies commented on #2165
@groutr no, not always. Often yes. But it will depend on the way the dataset is georeferenced, and GDAL doesn't forbid south-up datasets or dataset flipped left to right.

[2021-05-20 21:02] drnextgis commented on #2183
It is clear now that changing of max value is caused by broken overviews. But the thing I fail to understand is why rasterio does window reading from overview even if dataset is opened with `OVERVIEW_LEVEL=-1`:
[code]

[2021-05-20 21:16] sgillies commented on #2179
I've resolved this and we'll have the behavior of 1.2.0 back in version 1.2.4.

[2021-05-20 21:32] drnextgis commented on #2183
Support of disabling overviews with `OVERVIEW_LEVEL=-1` has been added in GDAL 3.3.0 so it is not available in the current rasterio wheel which is built with older version of GDAL:
[code]

[2021-05-20 21:32] #2183 closed

[2021-05-20 21:47] drnextgis commented on #2183
@sgillies would it be possible to make a next release of rasterio with GDAL 3.3.0?

[2021-05-20 22:22] scottyhq commented on #2182
Thanks for the pointer @sgillies . Yes I've confirmed that simple change fixes the *reading*.

If you write a complex64 file back to disk however it becomes CFloat32 instead of the original CInt16, likely because the mapping is not 1:1 (complex64 -> CInt16, CInt32, CFloat32). In anycase, I'm mostly concerned with reading at this point, should I open a PR to make the change?

[2021-05-21 16:28] sgillies commented on #2161
I've attempted to resolve this in 72a8945.

[2021-05-21 16:34] sgillies commented on #2182
@scottyhq I'm in the rasterio code this morning and will take care of it. Thanks for the report and the follow up!

[2021-05-24 16:54] sgillies opened #2184 "1.2.4 release"
Bug fixes and an upgrade of the libs in the wheels. Target date: 2021-05-31.

[2021-05-24 19:11] drnextgis commented on #2184
Today is already 2021-05-24 🤔

[2021-05-24 19:14] sgillies commented on #2184
Typo fixed :laughing:

[2021-05-24 23:30] scottyhq commented on #2182
@sgillies do you think this is straightforward enough to sneak into the 1.2.4 release (#2184) ?

[2021-05-25 18:09] sgillies commented on #2182
@scottyhq cint16 read into a complex64 array, yes. The writing side is complicated by some poor choices I made in the past, but I might be able to fix that, too.

[2021-05-26 03:23] sgillies commented on #2147
I'm pretty sure this is related to https://github.com/OSGeo/PROJ/pull/2397 or https://github.com/OSGeo/PROJ/issues/2425 or https://github.com/OSGeo/PROJ/issues/2413. I've marked the test as expected to fail.

[2021-05-26 22:41] sgillies commented on #2184
I've updated the rasterio wheel-building project (in the Mapbox org) to use GEOS 3.9.1 and GDAL 3.3.0 with a patch for https://github.com/OSGeo/gdal/pull/3786 (otherwise GDAL doesn't build). All the builds and tests are passing.

All the issues in the 1.2.4 milestone have been closed by PRs. There may be time to fix a few other bugs before Monday. Jump on in if you can :smiley:

[2021-05-27 06:21] iliasmachairas commented on #2152
Hello,

I have the same issue. I have attached the error message. The gdal version which rasterio uses in my case is 3.1.4. Rasterio version is 1.2.1. I use Jupyter notebook. The weird thing is that rasterio was able to open that file before but not anymore.

My code
`import rasterio as rio`
`rio.open('top_soil_NLD/interpolation_clay_sand_silt/interpolated_clay.tiff')`

Error Message

`` ---------

[2021-05-27 17:05] sgillies commented on #2152
GDAL's "not recognized as a supported file format" message is misleading. The common factor here seems be the use of conda environments. The most common problem with conda environments is that when you incrementally update or add new packages, they can become inconsistent and conflicts can be introduced. These conflicts could manifest as a "not recognized as a supported file format" error. I sugge

[2021-05-28 17:17] sgillies opened #2188 "Support click 8"
Which also means updating our cligj requirement.

[2021-05-28 21:45] ischneider opened #2189 "DatasetReader.read can segfault when using out_shape that doesn't match band count"
## Expected behavior and actual behavior.

Attempting to read from a 5 band, 16 bit tiff, I used `read(out_shape=(3,100,100))` and expected to get an array back but instead got:

[code]

## Steps to reproduce the problem.

I was able to reproduce using a simple script working w/ a local tiff, as well as via `rio insp` where I first discovered it while testing against a COG.

## Operating system

U

[2021-05-29 08:56] drnextgis opened #2190 "WarpedVRT class is not guarded against unsupported resampling algorithm"
WarpedVRT class is not guarded against unsupported resampling algorithm as it is done [here](https://github.com/mapbox/rasterio/blob/abb9f6c6b6018c82e219207d2b208ecf51e836c6/rasterio/warp.py#L294).

[code]

[2021-05-29 22:11] sgillies commented on #2189
Confirmed and fixed. Thanks @ischneider !

[2021-05-31 19:32] sgillies commented on #2176
@drnextgis I predict that I would regret exposing `--precision` like this. It's a hack and it would be harder to get rid of it if we expose it to more users. I would prefer to try to make the logic and math more correct in our code.

[2021-05-31 22:16] sgillies commented on #2184
Done! https://pypi.org/project/rasterio/1.2.4/#files

[2021-05-31 22:16] #2184 closed

[2021-05-31 23:11] #2179 closed

[2021-05-31 23:11] #2188 closed

[2021-05-31 23:11] #2189 closed

[2021-05-31 23:11] #2190 closed

[2021-05-31 23:11] #2176 closed

[2021-05-31 23:12] #2147 closed

[2021-05-31 23:12] #2182 closed

[2021-05-31 23:12] #2161 closed

[2021-06-02 16:43] remi-braun opened #2192 "Rasterize seems broken (doesn't fill the given polygon)"
## Expected behavior and actual behavior.

Rasterize used to fill the inside of a polygon with the `default_value` value and the outside with the `fill` value.
Now it seems it doesn't recognize the polygon anymore ans set the whole array to the `fill` value

## Steps to reproduce the problem.

Here an example vector: [example.zip](https://github.com/mapbox/rasterio/files/6586314/example.zip)
![202

[2021-06-03 03:45] snowman2 opened #2194 "ENH: Use GDALAutoCreateWarpedVRTEx with GDAL 3.2+"
Currently `GDALAutoCreateWarpedVRT` used in `WarpedVRTReaderBase`

https://gdal.org/doxygen/gdalwarper_8h.html#a9a56ffc9c0b2540e9ed4db118ab0d866

Adds transformer options: https://gdal.org/doxygen/gdal__alg_8h.html#a94cd172f78dbc41d6f407d662914f2e3

Would likely be able to add support for this for using this method with GDAL 3.2+ and warning if transformer options passed in with earlier versions.

[2021-06-03 14:11] groutr commented on #2165
Revisiting this, it occurred to me that my concept of bounding box (which I thought was supported by the names of the arguments "left", "bottom", "right", and "top") is that we have a region bounded by four line equations. Under this concept, swapping the "bottom" and "top" line equations is equivalent to re-labeling and doesn't change the region of the bounding box.

According to your explanation

[2021-06-07 04:44] idanmiara commented on #2128
Hi @vincentsarago
I've updated the sections about the python version before seeing that you said you are working on this.

Are you working on updating the gdal info on the docs?

[2021-06-07 05:01] idanmiara commented on #1965
Sounds like a good idea @snowman2 are you going to go for the same approach as in pyproj?

[2021-06-07 08:20] idanmiara commented on #1965
Now that Python<3.6 was dropped...
https://github.com/mapbox/rasterio/pull/2200

[2021-06-07 13:12] snowman2 commented on #1965
Yep, that is the plan. Sounds like it is time to add the config files. Feel free to add a PR with the changes if I don't get to it sooner.

[2021-06-07 17:12] vincentsarago commented on #2128
@idanmiara I didn't had the time to work on this 🤦
feel free to work on it if you can/want 🙏

[2021-06-08 04:15] groutr commented on #2165
@sgillies If a bounding box is always ordered as two pairs of coordinate points, describing the lower left and upper right corners, is that "lower left" in the Cartesian plane or "lower left" relative to the CRS? For example, with the bound box (0, 10, 10, 0), the point (0, 10) is not "lower left" of (10, 0) in the Cartesian plane. Relative to the CRS, where we flip the y-axis, (0, 10) still isn't

[2021-06-08 15:09] fwfichtner opened #2202 "Off-by-one error when merging with bounds"
## Expected behavior and actual behavior.

This is very similar to https://github.com/mapbox/rasterio/issues/2048, but we are still getting the following error for some AOIs when we are trying to merge with bounds:

[code]

This might be related to rounding or in one of the transformations, but I could not figure it out.

## Steps to reproduce the problem.

[code]

If the AOI is slightly different

[2021-06-09 00:27] sgillies commented on #1965
Please let me take care of linting. There are so many other places to help with rasterio. If contributors would help more with fixing reported bugs, I would have more time to do the general gardening of the project.

[2021-06-09 13:49] snowman2 commented on #1965
@sgillies, the plan for this issue is to add configuration files without actually running linting on any of the files. Then, as PRs are made, the linting can be run on the changeset of each commit similar to blacken. See more info about it here: https://pre-commit.com/

 pre-commit is used by many projects. Here are some examples:
- pandas [config](https://github.com/pandas-dev/pandas/blob/master/

[2021-06-09 18:14] cmarshak commented on #78
Hi Rasterio team,

I cannot determine if rasterio (or another related library) has the ability to build a VRT as is possible with the python bindings of `gdal` shown [here](https://gis.stackexchange.com/a/314580).

The examples in the [docs](https://rasterio.readthedocs.io/en/latest/topics/virtual-warping.html) using WarpedVRT seem to assume we should have an existing rasterio dataset representing

[2021-06-09 19:03] sgillies commented on #78
@cmarshak https://rasterio.groups.io/g/main is usually a better place to ask questions like this, but as I did hint at future support for writing VRTs above, I will follow up.

A VRT is XML. GDAL's Python bindings abstract away the XML part and offers a BuildVRT function with 17 different optional arguments that let you create different kinds of VRTs. That's a lot of options, but I suspect they on

[2021-06-09 20:52] scottyhq commented on #2194
Thanks for looking into this @snowman2 ! Just want to copy from the linked rioxarray issue that this would be especially useful for advanced Ground Control Point (GCP) options such as using a thin-plate-spline (`gdalwarp -tps`).

There seem to be at least 3 pathways for working with GCPs currently in rasterio, and it's a bit confusing to understand limitations and tradeoffs of each, is the followi

[2021-06-09 21:51] groutr commented on #2202
@sgillies When the output width and height are computed from the bounds (https://github.com/mapbox/rasterio/blob/master/rasterio/merge.py#L237-L240), the comment leads me to believe that the new `dst_e` and `dst_s` will be greater than or equal to the original `dst_e` and `dst_s` provided by the user.

In this particular case, the `dst_s = 47.94` and after it is adjusted becomes `dst_s = 47.939722

[2021-06-10 00:17] snowman2 commented on #2194
That is correct if:
1. GDAL 3.2+
2. Don't provide `transform`, `width`, `height` as inputs to `WarpedVRT`

[2021-06-10 06:09] groutr commented on #2202
Interesting tidbit about round that might be relevant here:

[code]

[2021-06-10 09:43] vincentsarago opened #2203 "sync requirements.txt and setup.py"
👋 requirements.txt and setup.py don't match up (at least for the click version). I guess pinning the version in requirements.txt and not in setup.py is a choice but I think the version should match when set in setup.py.

`requirements.txt`
https://github.com/mapbox/rasterio/blob/f9225ea2a9a99a8601a42e8e284e914497176c0c/requirements.txt#L1-L11

`setup.py`
https://github.com/mapbox/rasterio/blob/f92

[2021-06-10 09:51] chl916185 commented on #1835
How to install it under Conda?

[2021-06-10 20:06] openSourcerer9000 commented on #2103
I'm seeing this same issue across the GIS py universe. After banging my head against the wall the entire day on it, this is what worked for me:

The issue first popped up after installing PostGIS. A second PROJ version is what's screwing things up. I am on Windows with a conda env. The issue only happened in a jupyter kernel for some reason, and it ran all the way up the stack: pyproj, rasterio, r

[2021-06-10 20:10] openSourcerer9000 commented on #1850
I'm seeing this same issue across the GIS py universe. After banging my head against the wall the entire day on it, this is what worked for me:

The issue first popped up after installing PostGIS. A second PROJ version is what's screwing things up. I am on Windows with a conda env. The issue only happened in a jupyter kernel for some reason, and it ran all the way up the stack: pyproj, rasterio, r

[2021-06-11 00:47] sgillies commented on #2202
@fwfichtner thanks for the code snippet. I was able to reproduce this and am close to a fix.

[2021-06-11 00:51] sgillies commented on #2203
@vincentsarago remember that the requirements.txt file is only for use with the project's CI builds. We don't include it in source distributions. I'll update next time I take a hard look at our CI builds.

[2021-06-11 02:25] sgillies opened #2205 "Merge is prone to off-by-one pixel errors"
This issue is a PSA as much as anything else. If you use rasterio's merge tool to make a mosaic of source datasets that are not mutually pixel aligned, you are likely to see off-by-one errors. This is because we do our compositing using a numpy array, with integer indexes, as a canvas. Whereas GDAL's gdal_merge.py uses a GDAL dataset as a canvas and can tap into GDAL's resampling I/O.

cc @groutr

[2021-06-11 02:38] scottyhq opened #2206 "CInt16 Data without NoData is set to -10000000000.0 instead of None"
https://github.com/mapbox/rasterio/pull/2185 seems to have solved #2182 except for one issue. For files that *do not* have a NoData value set (sentinel1 SLC tifs for example), rasterio sets 'nodata' to -10000000000.0 instead of None. I had a look at the files changed in the PR above but am not sure where nodata gets set, but modifying the test function reproduces the issue:
https://github.com/mapb

[2021-06-11 06:17] vincentsarago commented on #2203
👍 @sgillies, IMO it could be confusing for user trying to debug. We rencently had an issue with click 8, all coming down to Rasterio update and the first reflex what to check requirements.txt instead of setup.py. Maybe we could add a comment in `requirements.txt` mentioning that those are use only in CI?

[2021-06-11 06:41] fwfichtner commented on #2202
This looks great, thank you very much!

[2021-06-11 13:15] sgillies commented on #2203
For reference, the rasterio project follows the practrice described in https://packaging.python.org/discussions/install-requires-vs-requirements/.

Setup `install_requires` specifies the *minimal* needs of rasterio in an *abstract* way. There are no indexes or paths specified. It is intended to be compatible with many different user environments.

The requirements and requirements.dev files define

[2021-06-11 15:51] sgillies commented on #2203
Resolved by 4039835.

[2021-06-11 15:51] #2203 closed

[2021-06-11 17:22] sgillies commented on #2144
@snowman2 I can't think of how GDAL would allow a dataset to have bounds (the coordinates at the 4 image corners) that cross the antimeridian, but as a general purpose utility this would be welcome.

[2021-06-11 17:41] snowman2 commented on #2144
I have run into satellite tiles that cross the antimeridian. The source projection allows it, but when getting the bounds in geographic coordinates, the antimeridian causes troubles.

[2021-06-11 18:01] sgillies commented on #2165
@groutr rasterio's semantics for "bounds" are unclear. It's a problem.

A dataset's `bounds` property is intended to represent what [gdalinfo shows](https://gdal.org/programs/gdalinfo.html#example), the coordinates of the image corners. In this sense, "upper left" means raster index 0, 0 and "lower right" means raster index (nrows, ncols). Rasterio tries to condense this information into left, bot

[2021-06-11 18:09] sgillies commented on #2174
@neon-ninja @groutr I tried to sum up the state of the merge tool in #2205.

[2021-06-11 18:20] sgillies commented on #2175
@konstantinos2018 It could be a GDAL issue. Do you see the same or different behavior with gdal_fillnodata.py? (see https://github.com/OSGeo/gdal/issues/1184)

[2021-06-11 18:28] sgillies commented on #2181
@marcobasilicoTRE I see something in your code: `vsil_cache_str =  "s3://{}/".format(bucket_name)` may not match anything since GDAL doesn't understand the "s3" URI scheme. Can you try `vsil_cache_str =  "/vsis3/{}/".format(bucket_name)` ?

[2021-06-11 19:03] snowman2 commented on #2127
Sounds good  👍

[2021-06-11 19:04] sgillies commented on #2192
@remi-braun this may be a misunderstanding about the default value for rasterize's `transform` argument (see https://rasterio.readthedocs.io/en/latest/api/rasterio.features.html?highlight=rasterize#rasterio.features.rasterize). It might be better if transform defaulted to the extent of the inputs, but it does not. In your case, it looks like all your shapes fall outside the default extents of the

[2021-06-11 19:05] #2192 closed

[2021-06-11 20:53] sgillies commented on #2206
@scottyhq thanks for the report! This will be fixed in 1.2.5.

[2021-06-14 07:41] cipri-tom commented on #1913
@underchemist is there a limitation for nor importing all rasterio sub-modules when we do `import rasterio` ?

I believe it would be nice to have everything available upon the first import, and I believe it is a matter of exposing them in `rasterion/__init__.py`, under the `__all__` name.

The main counterexample to not importing everything, for me, is that doing:

[code]
does not allow me to use

[2021-06-14 12:13] marcobasilicoTRE commented on #2181
@sgillies thank you so much for your support.
I confirm you that using what you suggested the issue is fixed.
It is necessary just to open the session using the only option CPL_VSIL_CURL_NON_CACHED
to fix this issue. I add here the code:

[code]

[2021-06-14 14:28] sgillies opened #2209 "Improve VSI cache control"
It's possible to dodge GDAL's VSI caching now, but as it's been pointed out in #2181, there are rough edges. Patterns that GDAL expects may not match what a user has passed to rasterio.open and the configuration option usage is a bit weird. From a Python user's standpoint it could be preferable to represent the cache as an object instead of an on/off config option.

[2021-06-14 14:39] #2181 closed

[2021-06-14 15:28] sgillies commented on #2180
@thomascoquet I finally have wrapped my head mostly around this one. Rasterio's write method accepts an int8 array, but int8 is not a first-class type as far as GDAL is concerned. To me, it appears that when we call [GDALRasterBand::RasterIO](
https://gdal.org/doxygen/classGDALRasterBand.html#a75d4af97b3436a4e79d9759eedf89af4) the values in the int8 array are converted to uint8, but by truncating

[2021-06-15 00:58] sgillies commented on #2180
This issue is tough. I have a fix, but that fix breaks other parts of rasterio.

[2021-06-16 11:33] samsammurphy commented on #2058
@sharon92 thanks for posting

a potential work around:

[code]

then save new geotiff to same filepath

[2021-06-16 11:40] sharon92 commented on #2058
@samsammurphy thanks

[code]

I used a similar workout for this issue. I can update the Raster without Permission errors due to it being open on ArcMap. Although I have to close and open ArcMap again to actually see the changes.

[2021-06-17 10:58] grouny opened #2210 "rasterio compliance with GDAL 3.3.0 ?"
Hi,
Currently rasterio is not compliant with GDAL 3.3.0 released few days ago.
[code]

Do you expect to release a version compliant with latest version of GDAL in the coming days?
thanks

[2021-06-17 11:29] vincentsarago commented on #2210
@grouny please open an issue in https://github.com/conda-forge/rasterio-feedstock

we don't manage conda deployment here.

[2021-06-17 16:09] sgillies commented on #2180
@thomascoquet was a GDAL bug, fixed by https://github.com/OSGeo/gdal/pull/3999. We can expect the fix in version 3.3.1.

[2021-06-17 16:09] #2180 closed

[2021-06-17 16:10] #2210 closed

[2021-06-17 16:11] sgillies commented on #2210
The rasterio 1.2.4 wheels on PyPI include GDAL 3.3.0. The versions are compatible.

[2021-06-17 17:27] sgillies commented on #2125
@drnextgis with no destination crs, res, or bounds provided, we reach this line https://github.com/mapbox/rasterio/blob/master/rasterio/rio/warp.py#L264. The src transform, with rotation, is copied over to the dst dataset.

For now, the workaround is to provide destination bounds, which gets us to https://github.com/mapbox/rasterio/blob/master/rasterio/rio/warp.py#L251 and a non rotated transform.

[2021-06-17 22:50] sgillies opened #2211 "1.2.5 release"
Target date: 2021-06-21.

[2021-06-18 07:48] JoakimJoensuu opened #2213 "Reading geotiff data from S3 Bucket is slower if tifs are in the same folder (having same prefix)"
## Expected behavior and actual behavior.

Let's say we have two S3 buckets `bucket1` and `bucket2` visualized like this:

[code]
[code]

Both contain the exact same GeoTIFFs, but in `bucket2` each GeoTIFF is in its own folder.

I would expect that reading GeoTIFF crs and bounds would take the same amount of time no matter which bucket I am using. However using `bucket2` is a lot faster and readin

[2021-06-18 07:52] vincentsarago commented on #2213
@JoakimJoensuu can you try doing:

[code]

ref: https://developmentseed.org/titiler/advanced/performance_tuning/#gdal_disable_readdir_on_open

[2021-06-18 08:07] JoakimJoensuu commented on #2213
@vincentsarago
Thanks for a quick reply!

Everything works like a charm now.

[2021-06-18 08:07] #2213 closed

[2021-06-18 15:18] #2194 closed

[2021-06-18 15:36] #2144 closed

[2021-06-18 18:34] groutr commented on #2205
Noted. Would it be possible for merge to detect this situation and issue a log message to inform the user?

[2021-06-18 18:37] sgillies commented on #2205
Maybe! And if so, we should do it.

[2021-06-18 18:53] groutr commented on #2165
Are bounding boxes supposed to accommodate rotations? What is stopping rasterio from making bounding box semantics unambiguous?

[2021-06-21 13:33] snowman2 opened #2215 "BUG: Merge output width/height negative"
From: https://github.com/corteva/rioxarray/issues/357

## Expected behavior and actual behavior.

[code]

I am thinking the output height/width should be made absolute, but haven't dug into it enough to be entirely sure.

## Steps to reproduce the problem.

[code]

## Operating system

Ubuntu 20

## Rasterio version and provenance

[code]
Also same with master branch.

[2021-06-21 15:51] sgillies commented on #2215
@snowman2 the affine transform matrix of `cube_nan.tif` is `Affine(-1.0, 0.0, 189050.0, 0.0, 1.0, 429150.0)`. X coordinate decreasing with raster column index and Y coordinate increasing with raster row index. This is incompatible with EPSG:28992, which is oriented east and north (X increasing with raster column, Y decreasing with raster row). In other words, I believe the inputs are invalid.

[2021-06-21 15:59] sgillies commented on #2215
@snowman2 I'm going to continue with the 1.2.5 release. Whatever resolution this requires will have to come after.

[2021-06-21 16:43] sgillies commented on #2213
Thanks @vincentsarago !

[2021-06-21 16:57] snowman2 commented on #2215
Makes sense to me :rocket:

[2021-06-22 02:37] sgillies commented on #2211
Had some trouble with Travis-CI's docker quotas today, but got the wheels built at the end of the day: https://pypi.org/project/rasterio/1.2.5/#files.

[2021-06-22 02:38] #2211 closed

[2021-06-22 02:39] #2202 closed

[2021-06-22 02:39] #2206 closed

[2021-06-22 02:40] #2125 closed

[2021-06-22 22:23] sgillies opened #2218 "1.2.6 release"
I left a `import pdb; pdb.set_trace()` in the 1.2.5 sdist (.tar.gz) :facepalm:

There will be no other changes than removal of that line.

Target date: 2021-06-22.

[2021-06-23 00:41] #2218 closed

[2021-06-23 00:41] sgillies commented on #2218
https://pypi.org/project/rasterio/1.2.6/#files

[2021-06-23 01:10] snowman2 commented on #2218
I did something similar with `rioxarray` recently. If you look on pypi there is a `0.4.1.post1` but no `0.4.1` :smile: .

[2021-06-23 08:58] daniel-j-h commented on #2205
Interesting! Thanks for flagging :bow: In the past I ran into one pixel seam issues with merge (https://github.com/mapbox/rasterio/issues/2032) - is this related?

[2021-06-23 09:26] clausmichele opened #2219 "Rasterio does not apply scale factor defined in GeoTIFF"
## Expected behavior and actual behavior.

Reading a GeoTIFF with a scale factor should apply the scaling to the data. Currently the data is not scaled.

[EURAC_NDVI_P.alps.complete.2000.MCD4.120.eurac.02.06.LAEA.tif.zip](https://github.com/mapbox/rasterio/files/6700430/EURAC_NDVI_P.alps.complete.2000.MCD4.120.eurac.02.06.LAEA.tif.zip)

## Steps to reproduce the problem.

Extract the GeoTIFF from

[2021-06-23 11:37] daniel-j-h commented on #2205
I just looked over my merge use-cases and indeed found an unnoticed off-by-one issue :zap:

Here is a self-contained test case https://gist.github.com/daniel-j-h/05d30cf034b5155cb9cd99585f490308

Quick explanation
- I'm creating four raster tifs, they are exactly next to each other (think: quadkeys)
- all four datasets have the same data shape (2370, 2370) and same resolution
- all four datasets h

[2021-06-23 15:00] sgillies commented on #2219
@clausmichele we've already decided in #1882 that we're not going to automatically apply scale/offset to rasters data. GDAL doesn't do it, rasterio isn't going to do it.

[2021-06-23 15:00] #2219 closed

[2021-06-23 15:15] sgillies commented on #2205
@daniel-j-h I'm happy to report that with rasterio 1.2.6 I see the following output and no AssertionError.

``
(1, 4740, 4740)
[[1 1 1 ... 1 1 1]]
[[1 1 1 ... 1 1 1]]
[code]

[2021-06-23 15:35] snowman2 commented on #2215
Issue closed downstream. I am fine punting on this one.

[2021-06-23 15:35] #2215 closed

[2021-06-23 18:21] andrew-hardin opened #2220 "Metadata tags - splitting XML into (key, value) pair"
## Expected behavior and actual behavior.

When accessing the `xml:TRE` metadata domain of a NITF file, I expected to receive back the XML document as a single string.
Instead, the XML document was split into a key-value pair based on the first occurrence of `=`.

## Steps to reproduce the problem.

[code]

At a high level, the issue is that not every metadata field returned by GDAL is a key-value

[2021-06-23 18:40] daniel-j-h commented on #2205
Well, this is embarrassing 😬 🙈 I should have updated to the latest release first. Awesome to see it fixed 🙌

On June 23, 2021 3:15:37 PM UTC, Sean Gillies ***@***.***> wrote:
***@***.*** I'm happy to report that with rasterio 1.2.6 I see the

[2021-06-27 09:22] alexgleith opened #2222 "Rasterio warp issue for antimeridian bounding box"
-->

## Expected behavior and actual behavior.

Transformation between two coordinate systems yields the correct result

## Steps to reproduce the problem.

Notebook is here: https://gist.github.com/alexgleith/f94f3f3da2f43dd6cfab84eb9d8a13f7

Key code is this:

[code]

## Operating system

For example: Mac OS X 10.15.7

## Rasterio version and provenance

Rasterio 1.2.6 installed on a mac with --

[2021-06-27 23:07] snowman2 commented on #2222
https://github.com/mapbox/rasterio/issues/2144

[2021-06-27 23:37] alexgleith commented on #2222
It's not necessarily the same, @snowman2.

While the antimeridian results in coordinates that are confusing, they are usually correct.

From the notebook I linked above, coordinates from Proj and from Rasterio are as follows:
[code]

Note that both have issues, in that Proj coordinates have on X coord at 175 and the other at -170, which is painful to handle.

While the Rasterio coordinates are jus

[2021-06-27 23:57] snowman2 commented on #2222
Can you try `Transformer.transform_bounds` in pyproj 3.1?

[2021-06-27 23:58] snowman2 commented on #2222
https://pyproj4.github.io/pyproj/stable/api/transformer.html#pyproj.transformer.Transformer.transform_bounds

[2021-06-28 00:13] alexgleith commented on #2222
Same result as before:

![image](https://user-images.githubusercontent.com/3445853/123563700-7e41c480-d7f9-11eb-9db7-c3009c6cb9b9.png)

[2021-06-28 00:20] snowman2 commented on #2222
Perfect, that is what I was hoping to see. When you run into that scenario, you will have to split the boundary by the antimeridian and end up with two bounding polygons.

[2021-06-28 00:29] snowman2 commented on #2222
This is the logic to handle it:
[code]

[2021-06-28 00:44] alexgleith commented on #2222
Hmm. In the above example, the input coordinates are projected, so it's not until they're transformed that you know it crosses the antimeridian.

My solution is to do this, because I know that the features I'm working with are reasonable small:

[code]

[2021-06-28 00:56] snowman2 commented on #2222
Correct, I am suggesting to run the code above after projecting to geograpic. You can use the `CRS.is_geographic` property to check if the destination CRS is geographic if you aren't sure.

Side note: `Transformer.transform_bounds` code will handle the antimeridian for you in both directions [ref](https://github.com/pyproj4/pyproj/blob/79462afb39f4f0148ec24ba2ad65c9358c65e939/test/test_transformer

[2021-06-28 01:13] alexgleith commented on #2222
So Proj is fine, although, handling transformed coords is still non-trivial.

I'm not sure if it's an outstanding issue in Rasterio, but the latest version installable via pip is broken, as shown above.

[2021-06-28 01:18] snowman2 commented on #2222
Added to rasterio #2208, targeted for 1.3 release.

[2021-06-28 05:31] groutr commented on #2205
@sgillies gdal_merge.py also rounds to pixel values before doing any resampling (https://github.com/OSGeo/gdal/blob/master/gdal/swig/python/gdal-utils/osgeo_utils/gdal_merge.py#L259-L265).
They use a different rounding method: offsets < .9 are rounded down and height/width are rounded at .5. Implementing this rounding method and using it in rasterio.merge makes the white lines from #2174 disappear

[2021-06-28 08:35] remi-braun commented on #1785
@dazza-codes I've got exactly the same issues than you, have you been able to find a workaround to it ?

[2021-06-28 10:17] theendlessriver13 commented on #1965
There is a CI system based on pre-commit now as well called pre-commit.ci (https://pre-commit.ci/) which will autofix your pull requests e.g. the changes black made so you don't have to bother about style and can focus on the actual review. It can also send regular updates for the `.pre-commit-config.yaml` so your hooks stay always up to date. I think the default is weekly, but you can set it to m

[2021-06-28 15:02] SouhailAB opened #2224 "Can't import rasterio if tensorflow 2.5 is imported"
<!--

I am usinf tensorflow 2.5 and rasterio (latest version). Tensorflow is built upon numpy 1.19.2 whereas rasterio is built upon latest version. Running a script of "import tensorflow; import rasterio"  raises errors. The errors appear even when changing the installation channel (pip. conda. conda forge)
However, the bug doesn't show up in google colab.

I would like to know which version of ra

[2021-06-28 15:16] #2224 closed

[2021-06-28 15:42] sgillies commented on #2224
Please see https://github.com/mapbox/rasterio/blob/master/README.rst#support.

[2021-06-28 15:50] sgillies commented on #2222
Thanks for the report @alexgleith, and thank you for the help @snowman2 . My understanding is that our geometry transformer `rasterio.warp.transform_geom` (based on GDAL's) does antimeridian cutting properly. Is that not the case?

[2021-06-28 22:00] alexgleith commented on #2222
I haven’t tested it, but I believe it’s fixed in 1.3.

On Tue, 29 Jun 2021 at 1:50 am, Sean Gillies ***@***.***>
wrote:

--
Alex Leith
m: 0419189050

[2021-06-29 14:37] vincentsarago opened #2227 "Can't set nodata value to `inf` / `-inf`"
## Expected behavior and actual behavior.

`inf`, `-inf` are valid nodata values in GDAL.

## Steps to reproduce the problem.

[code]

I need to dig deeper but to me it seems the error comes from https://github.com/mapbox/rasterio/blob/db03b66e81b489d3f5f01c9edfb6fc720250a2c1/rasterio/_io.pyx#L309-L311

Just noting when editing nodata value from an opened file I don't get error but the nodata is t

[2021-06-30 07:03] remi-braun opened #2229 "ENH: Support pathlib-based objects (like cloudpathlib)"
Hello,

It would be nice to enable the support of every pathlib-based objects such as the ones implemented on [cloudpathlib](https://cloudpathlib.drivendata.org/), that are wrapping both usual pathlib and cloud paths (which is very very useful !)

It would be awesome to go from (my current workaround):
[code]

to simply:

[code]

Thanks a lot !

[2021-06-30 07:58] drnextgis opened #2230 "Windowed reading of a normal and north up rasters gives different results"
I'm working on adding support of rasterio 1.2.x to [telluric](https://github.com/satellogic/telluric) library. In general everything works fine except of some tests that are failing. I've reproduced the problem with a pure rasterio code. It works fine in rasterio 1.1.8 but not in 1.2.6. The idea behind the following test is to make sure that reading the same part of a normal and "north up" raster

[2021-06-30 22:57] drnextgis commented on #2230
Adding `pixel_precision=1` to `round_offsets` solved the issue.

[2021-06-30 22:57] #2230 closed

[2021-07-02 05:25] drnextgis opened #2232 "rio clip doesn't take into account mask band"
**gdal_translate**

[code]
![001](https://user-images.githubusercontent.com/866124/124267046-0e547680-db38-11eb-8704-95e765f79d97.png)

**rio clip**

[code]
![002](https://user-images.githubusercontent.com/866124/124267119-1f04ec80-db38-11eb-8031-0555c059d40a.png)

Test data: [masked.tif.zip](https://github.com/mapbox/rasterio/files/6754258/masked.tif.zip)

[2021-07-02 11:11] drnextgis opened #2233 "WarpedVRT doesn't keep PER_DATASET mask in case of NoData presence"
If both nodata value and internal mask exist than while working with `WarpedVRT` internal mask information get lost.

![image](https://user-images.githubusercontent.com/866124/124266271-0a742480-db37-11eb-8330-a9adf2a556f2.png)

Notebook: https://gist.github.com/drnextgis/d5d2561da5ae85cad74a22e31185ced7

Data: [masked.tif.zip](https://github.com/mapbox/rasterio/files/6754194/masked.tif.zip)

[2021-07-07 13:30] adehecq opened #2234 "rasterio.open does not accept several nodata value"
While rasterio can handle several nodata values, as shown by the DatasetReader.nodatavals attribute, rasterio.open() does not accept multiple nodata values.

## Expected behavior and actual behavior.

rasterio.open() should accept several (different) nodata values.
Currently, taking one of the example of the documentation:
[code]
This works.

[code]
This fails with error

## Steps to reproduce the

[2021-07-07 15:10] sgillies commented on #2234
@adehecq in the past, GDAL (the C library that rasterio uses) has not fully supported creation of datasets with multiple nodata values. As far as I know, GeoTIFFs have a single nodata tag per dataset and it is the same for all bands.

[2021-07-07 16:20] adehecq commented on #2234
Thanks, but so should I assume that ALL rasterio datasets have only a single nodata value? If so, then why have enabled several nodata values in some places, e.g. in the nodatavals attribute?
Do other drivers than GTIff accept multiple nodata values?

[2021-07-07 21:55] drStacky opened #2235 "Seg Fault when reading from S3"
## Expected behavior and actual behavior.

Expected:
Should read an image from S3.
Actual:
[code]
## Steps to reproduce the problem.

[code]

## Operating system

NAME="Red Hat Enterprise Linux"
VERSION="8.4 (Ootpa)"

## Rasterio version and provenance

`pip install rasterio rasterio[s3]`

Python 3.8.6
pip 21.1.3
rasterio==1.2.6
s3fs==0.4.2
s3transfer==0.4.2

[2021-07-07 22:01] sgillies commented on #2235
@drStacky I can't reproduce this on my Ubuntu 20.04 system or in rasterio's CI builds. Can you provide a backtrace?

[2021-07-07 22:18] drStacky commented on #2235
Here's the backtrace. It worked for me on CentOS 8 with python 3.7.8, but not python 3.8.3.
[bt.txt](https://github.com/mapbox/rasterio/files/6780316/bt.txt)

[2021-07-07 22:51] sgillies commented on #2235
@drStacky can you tell me precisely which rasterio package version was working with 3.7.8?

[2021-07-07 23:10] sgillies commented on #2235
I found a report of a crash in ASN1_TIME_print() at https://curl.se/mail/lib-2019-09/0015.html and a little more about that issue at https://curl.se/mail/lib-2019-09/0024.html. I don't see a resolution.

[2021-07-08 13:43] drStacky commented on #2235
I used `rasterio==1.2.6` for all tests.

[2021-07-08 15:40] sgillies commented on #2235
Thank you. All the wheels on PyPI for a particular rasterio version have the same versions of curl and openssl and are built in the same way. This is a puzzler.

[2021-07-11 01:49] snowman2 commented on #2227
Possible fix in #2236

[2021-07-12 22:20] #2227 closed

[2021-07-13 15:37] Ariki opened #2242 "The behavior of rasterio.transform methods on single-element iterable inputs is broken since v1.2.1"
## Expected behavior and actual behavior.

`rasterio.transform.rowcol()` and `rasterio.transform.xy()` are expected to return a tuple of two arrays when received iterables as coordinate inputs. It used to be so in versions <= 1.2.0, but since rasterio==1.2.1 these methods return a tuple of two floats in case when two single-element iterables were passed.

## Steps to reproduce the problem.

[code]

[2021-07-13 19:54] groutr commented on #2242
@Ariki I believe you are correct that the behavior has changed (just by looking at the code).
Prior to 1.2.1, rasterio would only unpack values if they were passed as scalars. That appears to have changed since 1.2.1 so it would unpack always if there was one pair of values. It should be easy to restore the old behavior. I'll submit a PR to restore the old behavior. Thank you for filing the issue.

[2021-07-15 10:42] swiss-knight opened #2244 "Corner-joined vectorized elements (features.shapes) are invalid because of undefined self-intersections vertices"
## Expected behavior and actual behavior.

Vectorized elements (using `features.shapes`) having self-intersections which are _not_ defined as a vertex, are causing some difficulties to other packages when processing them, e.g. GeoPandas (see https://github.com/geopandas/geopandas/issues/2008)

## Steps to reproduce the problem.

Play around with this function simulating a small raster dataset havi

[2021-07-16 07:40] remi-braun opened #2245 "Merge with method=max, min have aliased result on overlap"
Hello,

When working on Linux (Windows is fine), I have an aliased result on overlapping areas when merging datasets with `max` and `min` methods.
`first` method is OK.

The working area:
![2021-07-16_09h38_47](https://user-images.githubusercontent.com/67311115/125910795-1fa5fb93-5981-4ad8-b007-0788783fa05f.png)

Here is the correct screenshot (`first` method):
![2021-07-16_09h34_35](https://user-

[2021-07-16 15:28] groutr commented on #2245
I am unable to reproduce on my linux machine. What version of numpy are you using? Can you try it without docker?

[2021-07-16 16:16] remi-braun commented on #2245
I'm using numpy 1.21.0, and sadly I haven't access to a true Linux machine 😞

This is really confusing me !

[2021-07-16 18:22] drStacky commented on #2235
A colleague suggest adding `AWS_HTTPS='NO'` to the `Env`, and this seems to work, but I'm not sure why.

[2021-07-16 18:23] groutr commented on #2245
Do min and max produce the same artifacts? Are the lines caused by nodata values?

[2021-07-19 20:59] sgillies commented on #2235
@drStacky if read the GDAL code correctly, `AWS_HTTPS=NO` instructs GDAL and curl to make an HTTP request with no TLS or SSL.

[2021-07-20 07:08] somedadaism opened #2246 "rasterio CRS is broken for UTM"
[code]
Output:
[code]
Expected Output:
[code]

[2021-07-20 16:15] adamjstewart opened #2248 "rasterio.windows.from_bounds: unused parameters height, width"
The `rasterio.windows.from_bounds` function has two required parameters: height and width. However, not only are these parameters not required, they're actually not used in any way. Should these be removed, or am I missing something here?

@calebrob6

[2021-07-20 16:56] #2246 closed

[2021-07-20 17:58] groutr commented on #2248
That's a good observation. Historically, the width/height parameters were used if the window was unbounded. However, the `boundless` keyword argument was at some point deprecated and removed (https://github.com/mapbox/rasterio/commit/f0d3eb0bfb2fd7577c2fa2efca3be0fb5d7b50b0#diff-d8ea9cca7a5c9315f8992cfabcd00a9f991cab64db625fd89df7aab46d6299e3).

When `from_bounds` was rewritten to construct a Wind

[2021-07-22 06:05] zhoujianwen opened #2250 "I want to compile into a library file for use in visual studio 2019 c++ projects"
## Expected behavior and actual behavior.

[code]
or
[code]

[code]
## Steps to reproduce the problem.

Question about [Windows ](https://github.com/mapbox/rasterio#windows)compile ，How to solve？Can you give me some advice！I want to compile into a library file for use in visual studio 2019 c++ projects
## Operating system

Windows10 Professional X64

## Rasterio version and provenance

rasterio-1.

[2021-07-22 07:05] drnextgis commented on #2250
rasterio-0.32.0.post1 is too old, please try with more recent version

[2021-07-22 07:24] zhoujianwen commented on #2250
@drnextgis I downloaded the wrong version. Thanks you very much.

[2021-07-22 08:26] zhoujianwen commented on #2250
@drnextgis I use the latest version to compile this problem, how to solve Windows platform, could you provide some suggestions?

[2021-07-22 09:17] zhoujianwen commented on #2250
![image](https://user-images.githubusercontent.com/13137730/126616150-398c7c93-1288-4b0a-ae03-a274c553c22b.png)

Has been resolved

[2021-07-22 09:17] #2250 closed

[2021-07-22 12:05] somedadaism opened #2251 "Potential bug when reprojecting from Webmercator to UTM"
I think I have found a bug in `rasterio.warp.reproject` when transforming from Webmercator to UTM zones.

[code]
Output:
[code]

Expected:
I would have expected an output that has the relation 1 pixel == 1 meter as `dst_resolution=(1, 1)`,
and thus `utm_projetion_image.shape` close to `(3, 229, 226)`.
However 1 meter is transformed in more than 2 pixels.

[2021-07-22 12:10] #2251 closed

[2021-07-22 12:11] somedadaism commented on #2251
Sorry the error was using:

[code]
over
[code]
I confused `src_crs` and `dst_crs`.

[2021-07-26 13:35] woest commented on #2245
Getting similar results, though not with every dataset. A temporary solution for me was to go back to rasterio 1.2.0 with gdal 3.1.4, instead of rasterio 1.2.6 with gdal 3.3.1. I'm guessing it is in the rasterio code, because 1.2.0 works fine, 1.2.1 (with gdal 3.1.4) produces above results.

(using anaconda on windows)

[2021-07-26 15:28] groutr commented on #2245
Thanks @woest. The min/max functions changed in 1.2.1 to conserve memory by avoiding extra array allocations. @remi-braun, can you run your merge again with the following custom merge function? You would pass the function using the `method=pre121_max` keyword argument.

Max function from before rasterio 1.2.1:
[code]
Please report if this produces a correct merge or not.

[2021-07-26 16:20] woest commented on #2245
@groutr I was re-running some of these calculations anyway, and with rasterio 1.2.6 and the pre121_max function the problem is solved for me.

[2021-07-26 16:29] remi-braun commented on #2245
@groutr

The old function works for me, the merge is correct !

[2021-07-26 17:51] groutr commented on #2245
Thank you for the prompt feedback. It really helped to narrow down the scope of the problem. It is interesting that I cannot reproduce this on my linux box, maybe I will have better luck on my windows box. Do the merges that have issues have anything in common?

In the meantime, please use the custom min/max functions. The only difference is the call to np.minimum/np.maxiumum respectively.

[code]

[2021-07-26 18:23] groutr commented on #2245
I'm curious if the following two functions make a difference. @woest, @remi-braun could either of you try these functions?

[code]

[2021-07-26 18:54] sgillies commented on #2229
@remi-braun @groutr the usefulness of cloudpathlib is lessened dramatically by particulars of the GDAL library that rasterio uses for I/O and formatting. Since cloudpathlib and GDAL aren't integrated at a low level (in C), GDAL requires that objects be downloaded to disk or to a sequence of bytes in memory in their entirety before they can be read.

Here's what rasterio does for Python file-like o

[2021-07-26 21:25] sgillies commented on #2248
@groutr @adamjstewart the parameters will be deprecated in 1.3.0 (we'll see warnings if we use them) and we will remove them in a version after that.

[2021-07-26 23:22] sgillies opened #2252 "Python, Numpy, GDAL, and PROJ versions for 1.3.0"
See https://github.com/mapbox/rasterio/issues/2064 for background.

Following https://numpy.org/neps/nep-0029-deprecation_policy.html with an estimated release of Halloween 2021 we're looking at python 3.7+, numpy 1.18+, and GDAL 2.4+ since 2.4.4 was released in January, 2020 and we won't wait until January 2022 for rasterio 1.3.0.

But the GDAL project is done with versions 2.x. There will not be

[2021-07-27 00:13] underchemist commented on #2252
Speaking as an ad hoc user of various versions of GDAL/rasterio, I think the change that can catch users off guard between GDAL 2.x/3.x is the coordinate ordering which rasterio has handled well (with setting of traditional gis ordering https://gdal.org/tutorials/osr_api_tut.html#crs-and-axis-order).  I'm not a maintainer of any system that still depends on a 2.x version of GDAL but I would imagin

[2021-07-27 11:15] remi-braun commented on #2229
I think implementing ffspec support is the best way to manage cloud files and is a good normalization between GIS libs, as geopandas, xarray and zarr use it.

For now, I personnally don't bother about performances as I cache my files for other reasons.
However, I work with file-like objects and I need to convert them to string which in my opinion is bug-prone :

[code]

I saw the pull request of @

[2021-07-27 11:18] remi-braun commented on #2245
These two functions have the same glitches than the new min/max 😓 :
[unsafe_max.zip](https://github.com/mapbox/rasterio/files/6884948/unsafe_max.zip)

[2021-07-27 14:15] groutr commented on #2245
Thanks @remi-braun. Since I'm still unable to reproduce this issue, let me see if some debug info from the custom function is possible. This will basically dump the arrays to disk. Could you please upload the resulting file so I can take a look at the arrays?

[code]
Then afterward run:
[code]

[2021-07-27 14:23] remi-braun commented on #2245
Here you go:
[results_dump.zip](https://github.com/mapbox/rasterio/files/6886261/results_dump.zip)

[2021-07-27 16:41] groutr commented on #2245
Thank you @remi-braun. Making progress. I think the issue is happening in the first half of the function. I've modified the dump function to dump every step of the computation. What I do know is that when the `np.maximum` function finishes, the issue has occurred. I would like to narrow down if it is an issue with computing the mask or not. This appears to be a machine specific issue as I still ca

[2021-07-27 17:07] sgillies commented on #2229
Indeed I did @groutr ! Thank you for the correction.

[2021-07-27 22:27] RY4GIT commented on #2072
Run into the same issue.

[2021-07-28 07:12] remi-braun commented on #2245
Here are the results:
[results_dump_2.zip](https://github.com/mapbox/rasterio/files/6891044/results_dump_2.zip)

[2021-07-28 14:05] groutr commented on #2245
Thanks again @remi-braun. I appreciate your assistance. I've narrowed down the problem to the numpy maximum (and minimum) functions. It might be helpful to report this to numpy. Initially, I thought it might have to do with some strange interaction between docker and windows, but if @woest is also experiencing the issue in windows itself, perhaps it might have something to do with specific systems

[2021-07-28 14:07] remi-braun commented on #2245
Thanks a lot for your persistence !
I will use this workaround 😄

[2021-07-28 14:16] snowman2 commented on #2252
I support going GDAL 3+. It should simplify maintenance.

Also, PROJ 8.1.1+ has some nice performance improvements and would be good to consider adding that to the wheels in the next release:
- https://github.com/OSGeo/PROJ/pull/2738#issuecomment-855329515
- https://github.com/OSGeo/PROJ/pull/2787