[2019-10-16 14:51] sgillies commented on #1805
@glostis the rasterio wheels aren't built any differently for 1.1.0. PROJ and GDAL are built the same way. Rasterio 1.1.0 did add a new _transform module but I don't see anything out of the ordinary there. Did your pyproj version change between your builds?

I'm pretty much finished with Python 2.7 and will be ignoring problems that only crop up there starting in 2020. That's not to say that I don

[2019-10-16 18:23] sgillies opened #1806 "Evaluate use of contexvars for GDAL configuration"
In https://www.python.org/dev/peps/pep-0567/#rationale, we see

Is this true for Rasterio? How true? Will contextvars help?

[2019-10-16 22:54] snowman2 commented on #1805
What versions of pyproj for each scenario?

[2019-10-17 11:57] glostis commented on #1805
Sorry for the late response.

As you can see in my Dockerfile, I was testing the bug on 4 different python virtualenvs:
1. python 2 with rasterio 1.0.28
2. python 2 with rasterio 1.1.0
3. python 3 with rasterio 1.0.28
4. python 3 with rasterio 1.1.0

In each virtualenv, I was simply requiring the latest version of `pyproj` through `pip`. I hadn't considered that the `pyproj` version could be diffe

[2019-10-17 12:46] snowman2 commented on #1805
There were some fixes in the latest pyproj and PROJ in the wheels in (2.4.0) that prevents core dumping in specific scenarios. So, I bet it is related. Not sure why importing rasterio would impact it though. Interesting 🤔

[2019-10-17 15:22] sgillies commented on #1805
@snowman2 can you link to the changes? I'd like to take a look. After that, I'm going to close this issue.  The solutions are outside the scope of the rasterio project.

[2019-10-17 20:50] snowman2 commented on #1805
I think this is definitely related to the fix in pyproj/PROJ. Does importing rasterio set the `PROJ_LIB` environment variable? If so, then that is what causes the problem.

More details in related issue: https://github.com/OSGeo/PROJ/issues/1574

[2019-10-17 21:39] sgillies commented on #1805
@snowman2 yes, when we import rasterio it peeks in the process environment and if PROJ_LIB is not set, and the rasterio package contains PROJ data (from a wheel), it patches the environment https://github.com/mapbox/rasterio/blob/059ad3e01c0da363c99cd1f2ca6c4e3353c1485c/rasterio/env.py#L648-L654. The behavior is the same in 1.0.28 and 1.1.0.

[2019-10-17 22:28] Kirill888 commented on #1686
@dionhaefner and @j08lue I think I'm facing a similar issue.

I'm using `rasterio` with `dask` to read COGs from s3 bucket on AWS in `us-west-2` and when I push number of threads per Dask worker high enough (32 is what I use on a 16 core instance) I consistently see errors. Each thread is reading a separate file and I do use `sharing=False` also.

[code]

Re-running same task with fewer threads su

[2019-10-17 23:45] snowman2 commented on #1805
That throws a wrench in the PROJ only theory. Any difference in the PROJ/GDAL versions in the rasterio wheels?

[2019-10-18 00:32] sgillies commented on #1805
No. It's PROJ 4.9.3 and GDAL 2.4.2 in each.

[2019-10-18 01:06] snowman2 commented on #1805
It is definitely related to this issue https://github.com/OSGeo/PROJ/issues/1574. I created and environment with `rasterio==1.1.0` and `pyproj==2.2.0`. Then, using `gdb` it generates the same traceback in the issue:
[code]
I then tested out unsetting `PROJ_LIB` and no segfault:
[code]

[2019-10-18 01:07] snowman2 commented on #1805
However, with `rasterio==1.0.28`:

[code]

[2019-10-18 02:54] sgillies commented on #1686
@Kirill888 to confirm: you call `rasterio.open()` within each new thread?

Would you be willing to try to see if this bug manifests with a local file using 32 Dask workers? Then we could know whether to focus more on Rasterio or more on GDAL's VSI system.

[2019-10-18 03:01] Kirill888 commented on #1686
@sgillies correct. I open new file within each thread and read the entire lot with a single read, or at least that's what I think is happening. I'm certainly not sharing open handles across threads, and unless Dask does speculative concurrent execution each file is processed exactly once by exactly one thread.

I'm hoping to make a reproducible failing test that calls directly to `rasterio` withou

[2019-10-18 13:00] glostis commented on #1805
@sgillies if I am not mistaken, the lines you refer to, which set the `PROJ_LIB` env var if PROJ data is found, were introduced in version 1.1b1 (https://github.com/mapbox/rasterio/commit/059ad3e01c0da363c99cd1f2ca6c4e3353c1485c#diff-bcec099fb5186938da74b5bfc04c1476).

@snowman2 has shown above that it is the presence of this env var that is clashing with `pyproj`.
This would explain why the bug o

[2019-10-18 13:52] larshbj commented on #1790
Any progress on this issue? I'm experiencing a similar one trying to read windows of .jp2 files stored in a Google Cloud Storage bucket (specifically Sentinel-2 satellite image data).
[code]

The error I experience:
[code]

This does not happen every time I read a window, but maybe 1/3 of the times (reading the same image). This does not seems to be related to the image itself, as the same error o

[2019-10-18 16:05] sgillies commented on #1805
@glostis no, 1.0.28 did set PROJ_LIB, but as I look more closely I remember that we removed these two lines in 1.1: https://github.com/mapbox/rasterio/blob/1.0.28/rasterio/env.py#L644-L646. The reason: PROJ data at a system path might be for a different version of PROJ than the one needed by rasterio in a wheel.

[2019-10-18 16:47] snowman2 commented on #1805
Well, this is a PROJ/pyproj issue that has been resolved in `pyproj>=2.3.1` and `rasterio` shouldn't need to do anything as it is working as expected in `rasterio==1.1.0`. In summary, need to upgrade to Python 3.

[2019-10-19 16:21] underchemist commented on #410
I know this is quite old, but I wanted to check if this was still in anyone's thoughts? I noticed that this issue is in post 1.0 milestones but we have post 1.1.0 milestones as well. If not after becoming a bit more familiar with cython I'd be happy to start taking a look :)

[2019-10-20 00:37] snowman2 commented on #1170
Current `rasterio==1.1.0` failure message is:
[code]
This is due to the use of `exc_wrap_pointer()` in the code.

[2019-10-21 13:16] digital-idiot commented on #563
Can we get this feature now?? If dependency regarding XML parsing library is an issue maybe this can be implemented as additional feature which depends on the availability of external library(s).

[2019-10-22 18:42] underchemist opened #1807 "Conflicting rio bounds optional command line arguments for GeoJSON output"
## Expected behavior and actual behavior.

Initially discussed: https://rasterio.groups.io/g/main/topic/35000585#344

When using the command `rio bounds` there is conflicting behaviour of optional command line arguments `--sequence/--collection` and `--collection`.

## Steps to reproduce the problem.

[code]

## Operating system

Tested on Windows 10 1709 and CentOS Linux release 7.7.1908

## Rast

[2019-10-23 08:01] awa5114 commented on #1796
using different BIGTIFF arguments has not solved my problem, by the way. I tried ~YES`, `IF_SAFER` and `IF_NEEDED` and I still get the same error.

[2019-10-23 08:38] awa5114 commented on #1796
Allright. I think I have it working now. What I had to do was install `gdal` version 2.4.1. See [here](https://github.com/ContinuumIO/anaconda-issues/issues/9887).

[2019-10-23 16:40] sgillies commented on #1807
Thank you for the report!

[2019-10-23 17:52] underchemist commented on #1807
from playing around with things initially, it seems that changing the `sequence_opt` to `--sequence/--no-sequence` to mirror the `sequence_opt` in https://github.com/mapbox/cligj/blob/1815692d99abfb4bc4b2d0411f67fa568f112c05/cligj/__init__.py#L97 resolves the namespace collision. I was able to then do

[code]

[2019-10-23 21:46] jterstriep opened #1808 "WarpedVRT fails when source file has bad projection"
When creating a WarpedVRT from a raster source that has problematic projection information, I get an error shown below.

[code]
I expected this to work because I'm providing the correct crs using the src_crs parameter to WarpedVRT which seems like it should take precedence over what's in the file. If I use gdal_edit to assign the crs in the original TIF file then everything works as expected.

I c

[2019-10-24 08:57] Huite opened #1809 "Differences in rasterio.crs.CRS.from_string() in version 1.0.28 and 1.10.0"
## Expected behavior and actual behavior.

I've wrapped `rasterio.wrap.reproject` to work on two-dimensional xarray DataArrays, and I've written some unit tests. My CI started breaking yesterday, and I can trace it back to the upgrade from rasterio 1.0.28 to 1.1.0.

At first I thought the break was caused by a change in `rasterio.warp.reproject`, but it looks like it's the changes in constructing

[2019-10-24 09:03] Huite commented on #1809
Whoops, accidentally pressed Enter posting this issue before I got my MWE in working order. Will probably re-open later...

[2019-10-24 12:11] Huite opened #1810 "Deprecation warning for CRS.from_proj4() but not crs.to_proj4()"
## Expected behavior and actual behavior.

Both `from_string()` and `from_proj4` method return a deprecation warning when a `+init=epsg:XXXX` string is provided. However, the `to_proj4()` method does not give a deprecation warning. I'm guessing it should be symmetric: it doesn't make sense that one is allowed to create these representation, but not use them?

## Steps to reproduce the problem.

Ra

[2019-10-24 12:23] Huite commented on #1810
I also read in #1685 that this constructor will be deprecated: `c2 = CRS({'init': 'epsg:3857'})`, but it also doesn't raise a deprecation warning.

Is there an overview somewhere of what rasterio's preferred way of working with CRS's is?
Searching the documentation and the changelog only leaves me partially wiser.

[2019-10-24 15:31] snowman2 commented on #1810
Preferred methods for EPSG initialization:
[code]
Useful reference:
https://proj.org/faq.html#what-is-the-best-format-for-describing-coordinate-reference-systems
https://pyproj4.github.io/pyproj/stable/gotchas.html

[2019-10-24 16:01] snowman2 opened #1811 "DOC: Concurrent read/write docs update"
Would be good to update example in docs based on: https://rasterio.groups.io/g/main/topic/28593754

Also, in the concurrent processing docs it states:
[code]
However, it does not actually do the read/write concurrently in the example and in the linked discussion it says read/write is not thread safe. Do you have recommendations for thread safe reading/writing?

[2019-10-24 17:24] sgillies commented on #1809
@Huite first of all, `rasterio.crs.CRS.from_string("+init=epsg:28992")` is not good usage with GDAL version 3.0 and PROJ versions 6.x (which is what you will have if you install rasterio from conda-forge). If you can, switch over to `rasterio.crs.CRS.from_string("EPSG:28992")` or `rasterio.crs.CRS.from_epsg(28992)`.

I, too, have seen projection results change for the better with GDAL 3.0 and PROJ

[2019-10-24 17:33] sgillies commented on #1810
`from_string("EPSG:28992")` is a bit better in my opinion, though rasterio is agnostic about the case.

The old form `from_string("+init=epsg:28992")` comes from a time where `+init` directed PROJ (version 4) to initialize from data in a file on disk and that file was named "epsg". On a case-insensitive filesystem (like OS X) you could also use "+init=EPSG:28992". On Linux you had to use lower cas

[2019-10-24 17:51] sgillies commented on #1808
@jterstriep I'm sorry, but we don't support rasterio 1.0.21 (8 releases ago) anymore. Can you try updating to 1.1.0 and see if the problem persists? We've fixed several bugs in the WarpedVRT class since 1.0.21.

[2019-10-24 18:50] Huite commented on #1809
I see. Together with the answers in #1810, I'm a good bit wiser, and more importantly I know what the right way is. Thanks!

[2019-10-24 18:50] #1809 closed

[2019-10-24 19:01] Huite commented on #1810
@snowman2 Thanks, those are exactly the kind of references I was looking for!

@sgillies Thanks, I appreciate the historical context. I definitely think a deprecation warning for `to_proj4()` is a good idea to discourage use.

[2019-10-24 19:11] jterstriep commented on #1808
@sgillies I upgraded to 1.1.0 and it has the same error. I looked through the code in _warp.pyx and it looks like the src_crs_wkt (created earlier in the function) should be passed to the GDALAutoCreateWarpedVRT but instead, a NULL is passed.

From line 922 in _warp.pyx with the exc_wrap_pointer throwing the error:
[code]

[2019-10-28 16:21] sgillies commented on #410
@underchemist if you're interested in this feature, then I am interested in helping you :smiley:

Are you subscribed to the developers discussion group yet? https://rasterio.groups.io/g/dev is where I'd prefer to answer questions about how we use cython and GDAL's C API.

[2019-10-28 16:29] sgillies opened #1813 "Adopt Scientific Python deprecation policy"
NEP 29 is here: https://numpy.org/neps/nep-0029-deprecation_policy.html.

[2019-10-29 01:30] underchemist commented on #410
Thanks, I hadn't subscribed to the dev discussion group yet.

I realize I also have a slightly different use case/reason to use RPCs.

I would like for rasterio to have the ability to use RPCs to transform between image coordinates and world coordinates, perhaps through `rasterio.transform.rowcol` and `rasterio.transform.xy` methods. This can be useful if you would like to calculate image coordina

[2019-10-29 01:47] jesserobertson commented on #1669
Thanks for following up both - bit of a pain to upgrade in the meantime but nice to know a fix is in the pipeline upstream.

[2019-10-29 16:02] four43 commented on #1404
@sgillies - The travis CI builds don't have 3.7 in them. Would that be a good thing to do?

[2019-10-29 18:12] sgillies commented on #1404
@four43 yes. I've been punting on it because iterating on Travis config is costly and I've blown my budget on GDAL and PROJ configuration.

[2019-10-29 18:34] four43 commented on #1404
Ha ha I kind of figured that was the case. There is a lot of setup going on in this project and adding a new environment can't be cheap. If you have an outline or something of what needs to be done (if that's worth your time) I can maybe see if I can get some time to help. Thanks for the update.

[2019-10-30 14:08] remtav opened #1815 "«is_valid_geom» fails to return index of empty feature"
## Expected behavior and actual behavior.

https://github.com/mapbox/rasterio/blob/master/rasterio/features.py#L485

I expected the function «is_valid_geom» to send index of invalid feature, but got
«TypeError: argument of type 'NoneType' is not iterable»

## Steps to reproduce the problem.

I used `rasterio.features.rasterize` to rasterize polygon features. An empty polygon (0 vertex) broke the e

[2019-10-31 10:38] ardieorden commented on #1811
@snowman2 I can add Pablo Sanfilippo's code sample to the Concurrent processing docs.

[2019-11-01 17:57] sgillies commented on #654
@lwasser I'm happy to accept a PR that improves CITATION.txt. I'm ambivalent about DOIs and badges, are there people who aren't contributing because of the lack of them?

[2019-11-01 18:07] jdmcbr commented on #654
@sgillies From personal experience, I'd guess there aren't many people who aren't going to contribute to projects like rasterio because of the lack of citability of the project. However, there's a fair amount discussion in academia around better recognition of work that researchers do that contributes to the field beyond publishing papers. People who contribute significantly to open source project

[2019-11-01 19:34] lwasser commented on #654
hi there @sgillies  and @jdmcbr !! i completely understand where you are coming from! I also really like James' comment above.

1. For those of us in academia it does help to be able to cite / track contributions. It's an odd space for us given we are supposed to "publish" but we are trying to change the mindset of what publication and contributions ARE. But you do have citation information so I c

[2019-11-04 08:03] giacomov commented on #1650
Any news on this? It seems like a pretty big bug, and the fix seems easy...

[2019-11-04 18:06] sgillies commented on #1650
@giacomov rasterio isn't a visualization library, so issues like this one are relatively low priority. I need to focus on core bugs. Of course, I'm happy to review PRs!

[2019-11-04 19:01] giacomov commented on #1650
@sgillies makes sense. PR is coming then! Thanks,

[2019-11-06 18:05] ghasemabdi opened #1821 "Inverse Transform"
Hi Guys,
I would like to use the following command (that is in GDAL) in rasterio. Is there anyone to help me?

gdaltransform -i -rpc 06OCT20025052-P2AS-005553965230_01_P001.TIF

[2019-11-06 22:33] sgillies commented on #1821
I'm sorry, but we do not accept help requests here. See the readme and the issue template for where to get help.

[2019-11-06 22:33] #1821 closed

[2019-11-07 02:33] Gundisalv opened #1822 "sample.py dataset.nodata error"
Hello! good night to all.
I just came across this issue.
in file rasterio/sample.py  line 19  the code performs a multiplication with the nodata value of the raster, if the nodata value is _None_ that multiplication ends in an exception "TypeError: unsupported operand type(s) for *: 'float' and 'NoneType"  so it would be nice if you can change line from

`yield numpy.ones((dataset.count,), dtype=d

[2019-11-07 06:49] palaiya opened #1824 "Maximum and mean value is incorrect of Landsat-8 TIF"
## Expected behavior and actual behavior.

I read a band of Lansat-8 TIF Image using rasterio using the following code and calculate max and mean of the numpy array. At the same time i open the same band in QGIS 3.6 and check the mean and max of the same. And the value of max of numpy using rasterio always comes out to be 65535 where as in QGIS it shows 32704. I checked for the other bands also an

[2019-11-07 14:13] vincentsarago commented on #1824
Hi @palaiya, I don't think there is any issue with rasterio here. QGIS might get min/max from overviews instead of the full resolution data (as you do when doing `read`).

[2019-11-07 17:45] sgillies commented on #1824
@palaiya I don't have a Landsat 8 band 7 file handy, but I checked a bunch of band 2, 3, and 4 files and didn't see anything unusual. A possible explanation for the difference between rasterio and QGIS: with read() you are getting all pixels, valid or invalid, and there might be an invalid 2**16 - 1 in the image. I suspect QGIS is excluding the invalid pixels. You can exclude invalid pixels by cal

[2019-11-08 01:51] snowman2 opened #1825 "optimizing `transform_geom` for repeated transformations"
Related to: https://github.com/Toblerity/Fiona/issues/799

Is there interest in adding this to rasterio as well?

[2019-11-08 05:44] palaiya commented on #1824
@sgillies I masked the invalid pixels as you mentioned but still i am getting the maximum value to be 65535. Moreover, I also filtered the 65535 from numpy array before calculating the max. But again i was getting the maximum around 64000 and again i filtered value above 60000 and then i got the max to be around 59000. So, it's not just giving the max value to be wrong the underlying values are di

[2019-11-08 10:39] adriantre opened #1826 "Feature request: Add pixel value scaling when writing to new dtype"
#### First off, I love using Rasterio, and it is a dream to work with rasters. After using it for a little while it supports almost everything I want to do.

## The seemingly missing feature
I have been looking for a way to scale the pixel values when changing dtype. This is an important step in e.g. preparing the data for machine learning. I know this is possible through the command line interfac

[2019-11-08 22:29] sgillies commented on #1824
@palaiya can you provide a link to the file so I can check it?

[2019-11-10 15:37] palaiya commented on #1824
@sgillies If you have the [aws cli](https://docs.aws.amazon.com/cli/latest/userguide/install-cliv1.html) installed on your machine. Then you can use the following command to download the files on which i did the testing. It will download the 4 TIF files on your current working directory.

`aws s3 cp s3://landsat-pds/c1/L8/115/036/LC08_L1TP_115036_20180126_20180207_01_T1/ . --exclude "*" --include

[2019-11-10 19:06] sgillies commented on #1824
Both the gdalinfo program and the MTL.txt file associated with the image agree with rasterio.

gdalinfo:

[code]

MTL.txt:

[code]

It seems to me that what you are doing with QGIS cannot be compared with the values read directly from the file by GDAL and rasterio.

[2019-11-10 19:06] #1824 closed

[2019-11-10 19:22] vincentsarago commented on #1824
@palaiya
in QGIS, you may want to change the statistic extent to `actual` instead of estimate (which uses overviews)
![](https://user-images.githubusercontent.com/10407788/68549400-708dc000-03c5-11ea-8bd5-d02f55cfc100.png)

[2019-11-11 06:14] palaiya commented on #1824
@vincentsarago @sgillies  Thanks a lot guys. It was a problem of QGIS only which @vincentsarago  mentioned

[2019-11-12 02:28] Kirill888 opened #1828 "Read errors when reading COGs from S3 with many threads"
## Expected behavior and actual behavior.

I'm reading a bunch of Cloud Optimized GeoTIFF images from a public S3 bucket with `aws_unsigned=True` option. I'm using many threads to speed things up. As I increase number of threads "high enough", I start seeing errors of this kind:

[code]

I suspect the problem is in GDAL code to be honest. Looks like error is triggered more often when reading the e

[2019-11-12 04:08] sgillies commented on #1828
@Kirill888 there was a thread recently on gdal-dev where @rouault suspects that there is a problem in the GDAL block cache or GTiff driver.

https://lists.osgeo.org/pipermail/gdal-dev/2019-October/051016.html
https://lists.osgeo.org/pipermail/gdal-dev/2019-November/051026.html

And there are reports that seem related like this one: https://github.com/OSGeo/gdal/issues/1244.

[2019-11-12 04:17] Kirill888 commented on #1828
@sgillies thanks, I'll read through those, from a quick glance it does look like this is the same issue.

[2019-11-12 04:30] Kirill888 commented on #1828
The fact that larger reads are more likely to cause failures is compatible with cache hypothesis. I have tried disabling cache and still seen errors, but as discussed in that issue one can not disable cache fully, it is still being used.

[2019-11-12 11:32] rouault commented on #1828
For the record, this recent thread has nothing to do with /vsicurl /vsis3 issues. It is a concurrency issue with writes to datasets and can be reproduced with only local files

[2019-11-12 14:54] rouault commented on #1828
Proposed fix for the /vsis3/ issue in https://github.com/OSGeo/gdal/pull/2012

[2019-11-12 19:21] sgillies commented on #1828
Thanks @rouault ! @Kirill888 I'm going to try your example with a patched GDAL 3.0 now.

[2019-11-12 20:44] sgillies commented on #1828
@Kirill888 using your notebook, I didn't see any failures with my patched GDAL.

[2019-11-13 00:58] sgillies opened #1829 "1.1.1 release"
Target date: 2019-11-12.

This is also a chance to patch GDAL. See https://github.com/rasterio/rasterio-wheels/pull/30.

[2019-11-13 03:13] #1650 closed

[2019-11-13 03:16] sgillies commented on #1828
I'm going to patch GDAL 2.4.3 in the wheels we upload to PyPI. See https://github.com/rasterio/rasterio-wheels/pull/30.

[2019-11-13 03:16] #1828 closed

[2019-11-13 03:26] Kirill888 commented on #1828
Awesome, thanks @sgillies  and @rouault

[2019-11-13 06:25] sgillies commented on #1822
This is resolved by 7a1d295.

[2019-11-13 06:25] #1822 closed

[2019-11-13 12:05] Gundisalv commented on #1822
Thanks!

[2019-11-13 22:16] sgillies commented on #1829
- [x] close issues
- [x] tag
- [x] update master branch
- [ ] build and upload dists

[2019-11-14 18:23] sgillies commented on #1829
Done!

[2019-11-14 18:23] #1829 closed

[2019-11-15 23:43] sgillies commented on #1632
@vincentsarago did you see Even notes in https://lists.osgeo.org/pipermail/gdal-dev/2019-November/051178.html ? Do you think these are related?

[2019-11-18 19:50] simonm3 commented on #1261
This does not seem to work for me. I copied the example in the docs and I get:

TypeError                                 Traceback (most recent call last)
<ipython-input-11-0f8dc6e7f5ba> in <module>
     32         dst_transform=dst_transform,
     33         dst_crs=dst_crs,
---> 34         resampling=Resampling.nearest)
     35
     36     # Assert that the destination is only partly filled.

~

[2019-11-18 19:51] simonm3 opened #1830 "example of reprojection in the docs throws exception"
This does not seem to work for me. I copied the reproject example in the docs and I get:

TypeError Traceback (most recent call last)
in
32 dst_transform=dst_transform,
33 dst_crs=dst_crs,
---> 34 resampling=Resampling.nearest)
35
36 # Assert that the destination is only partly filled.

~\Anaconda3\lib\site-packages\rasterio\env.py in wrapper(*args, **kwds)
392 def wrapper(*args, **kwds):
393 if l

[2019-11-18 21:58] vincentsarago commented on #1632
thanks @sgillies I'll have a look

[2019-11-19 18:07] janskorepa opened #1831 "Open one dataset at a time during merge of GeoTIFFs"
I suggest to change the behavior of rasterio.merge to always have only one dataset open. Opening all datasets at the same time can lead to Too many open files error mentioned in #1636.

There are alternatives how this error could be fixed however none of them looks optimal to me. Firstly, raising operating system's limit on open file descriptors could solve this but it does not seem to me that thi

[2019-11-19 18:14] sgillies commented on #1831
@eseglem, as the author, what's your take? I think we both imagined merge would take a small number of datasets as input. Should it work with thousands?

[2019-11-19 18:23] yowich opened #1832 "Rasterio crs returns None for GeoTIFF"
## Expected behavior and actual behavior.
Expected: I think rasterio's crs should return epsg4326 (WGS84) when I consider that ArcMap actually shows GCS_WGS_1984 for XY Coordinate System for the GeoTIFF file I downloaded from the link below:
http://rangeland.ntsg.umt.edu/data/rap/rap-vegetation-cover/v1/

Actual: Actually, rasterio's crs returned None.

## Steps to reproduce the problem.
I used th

[2019-11-19 20:26] sgillies commented on #1832
@yowich I'm almost certain this comes down to the conda env not being activated (like in https://github.com/mapbox/rasterio/issues/1789) or a GDAL_DATA or PROJ_LIB environment variable pointing to an invalid location. I can't reproduce the problem with a properly configured environment.

[code]

If I'm right, there should be evidence in your log file, a mention of GDAL_DATA or PROJ_LIB.

[2019-11-19 20:26] #1832 closed

[2019-11-19 20:46] yowich commented on #1832
I switched back to one of my conda environments and it worked! Thank you much!

[2019-11-19 23:34] sgillies commented on #654
@lwasser @jdmcbr I'm game to register with Zenodo but am slowed down by some company IT and security hurdles. I don't have a time frame for getting it done.

[2019-11-20 18:27] sgillies commented on #654
@lwasser another Zenodo question: what do you think the impact would be if rasterio was transferred to a new org in the future? Would DOIs change? Would the web of citation be broken?

[2019-11-20 18:50] lwasser commented on #654
@sgillies that is a great question. let me look into that a bit more as i don't know the answer but would like to know the answer. i will get back to you!!

[2019-11-21 16:41] sgillies commented on #1808
@jterstriep you are right and I'm fixing this now.

[2019-11-21 16:46] #1808 closed

[2019-11-22 05:32] jterstriep commented on #1808
Thank you, sir. And thank you for this terrific package. I'm constantly impressed with its capabilities. I'm sorry I wasn't able to do a proper pull request myself.

[2019-11-22 16:24] lwasser commented on #654
hey @sgillies ! i just heard back from zenodo about this question about the transfer. If you MOVE rasterio, then you might have to work with them to ensure the doi propagates. I can ask them directly if that is what they mean by the statement below (i copied their email directly).

If the organization name changes however, it should persist without having to bug them. Does that help? Do you want m

[2019-11-23 00:09] sgillies commented on #654
@lwasser thank you! Sounds like it works a lot like GitHub's automatic redirection when a project is transferred.

[2019-11-25 18:31] snowman2 opened #1833 "WarpedVRT does not permit boundless reads (sample.py)"
## Expected behavior and actual behavior.

[code]

## Operating system

For example: Mac OS, Windows, Linux

## Rasterio version and provenance

1.1.1 from conda-forge

[2019-11-25 19:01] snowman2 commented on #1833
Looks like this is likely the change: https://github.com/mapbox/rasterio/commit/7a1d295dfb51d9ba9f46188f45d612c187d2f653#diff-295d7ab62345d7c96b99de41201b1f62

[2019-11-25 19:04] snowman2 commented on #1833
How would you like to handle it? Should `sample_gen` check if the `dataset` is a `WarpedVRT`?

[2019-11-25 19:32] lwasser commented on #654
yes @sgillies that seems to be the case. and if it doesn't work as you'd like it to with the automatic redirection it sounded to me as if they could help fix it on the backend as well.

[2019-11-26 15:42] alexm98 opened #1834 "Error while trying to open MemoryFile"
I am experiencing some issues while trying to open rasterio MemoryFiles: RasterIO complains that it is not a recognized format.
The issue can be reliably reproduced using the following snippet:

[code]

This produces an RasterIoError: ''/vsimem/1ef0f3a8-08ff-436e-984d-e475fa411b3c.' not recognized as a supported file format.'. The version of rasterio I am currently using is 1.1.1.

Here is a trace

[2019-11-26 17:32] sgillies commented on #1834
@alexm98 rasterio's MemoryFile is meant for files, not numpy arrays. See https://rasterio.readthedocs.io/en/latest/topics/memory-files.html#memoryfile-bytesio-meets-namedtemporaryfile for proper usage.

[2019-11-26 17:32] #1834 closed

[2019-11-26 19:41] sgillies commented on #1833
@snowman2 something we should do is check whether the Cython bug that required me to implement sample_gen separately has been fixed. If it has, we can roll sample_gen into dataset.sample(), with a separate implementation for the WarpedVRT class.

[2019-11-26 20:26] d3netxer commented on #1285
How can we use WEBP if we are using rasterio in Ubuntu?

I am using rasterio 1.1.1 in anaconda. I installed libwebp-dev via apt-get.

I am getting the following error:

[code]

[2019-11-26 20:52] vincentsarago commented on #1285
@d3netxer if you are not using rasterio wheels, you'll need to make sure GDAL is compiled with libwebp!

[2019-11-26 22:29] d3netxer commented on #1285
Thanks @vincentsarago. After reading your advice I was able to go to pypi for rasterio and download the manylinux wheel, and then I installed the wheel successfully with pip. Now my rio-cogeo command gives a new error:

[code]

[2019-11-26 23:20] sgillies commented on #1285
@d3netxer please use the discussion group (linked in the readme) for questions like this. This issue is closed.

[2019-11-27 03:24] cartosquare opened #1835 "open /vsihdfs/ (Hadoop File System) file fail"
## Expected behavior and actual behavior.

I can use gdal python to open [vsihdfs file](https://gdal.org/user/virtual_file_systems.html#vsihdfs-hadoop-file-system)

[code]

the above script can execute successfully. However when i switch to rasterio:

[code]

outputs:

[code]

## Steps to reproduce the problem.

1. Compile `GDAL 3.0.2, released 2019/10/28` from source with java and hdfs support

2

[2019-11-27 06:21] cartosquare commented on #1835
compile rasterio from source instead of  using pip solve this problem.

[2019-11-27 06:21] #1835 closed

[2019-11-28 10:40] DanielFEvans commented on #1831
On a related point, should this tool handle datasets that are too large to fit into memory? I'd blindly attempted to use it to merge a global set of tiles at 30m resolution, which works with `gdal_merge.py`, but fails in rasterio as an array of the required size can't be allocated in memory.

(This is possibly a somewhat wider question, and maybe I should make a different issue. I've not spotted a

[2019-11-28 13:13] awa5114 opened #1837 "rasterio merge giving incorrect result"
I have 4 separate ASCII grids which all contain the same data:

    1 2 3 4
    3 4 5 6
    4 5 6 8
    7 9 5 4

The metadata, however, is different:

    ncols 4
    nrows 4
    xllcorner x
    yllcorner y
    cellsize 1
    nodata_value -9999

Where `x`  and `y` take on the values (0,0), (4,0), (4,4) and (0,4) repectively. I then Try to run a merge operation as follows using `rasterio`:

    fro

[2019-11-28 13:53] awa5114 commented on #1837
I've realized that adding the argument `precision=50` to the merge call solves the problem. I don't fully understand why, though.

[2019-12-02 12:21] msrickettsOS commented on #1159
Hi - please could you update the links for the above? URLs apper broken. Thanks!

[2019-12-02 15:52] sgillies commented on #1159
https://rasterio.readthedocs.io/en/latest/topics/memory-files.html#in-memory-files

[2019-12-02 15:58] msrickettsOS commented on #1159
Many thanks! I'm looking to take the numpy array result from rasterio.mask and push the masked output into a GeoTIFF in to an S3 bucket. Should the result of  `dataset` from Writing MemoryFiles pass through `s3.upload_fileobj(image,BUCKET_NAME, SOURCE_FILENAME)`? Having some problems. Do let me know if this is the wrong place to raise this..! Thanks

[2019-12-02 16:12] sgillies commented on #1159
@msrickettsOS we don't take support questions here. Please use the discussion group linked in the readme. You could also ask on SO or the GIS SE, but I myself only answer questions in the discussion group.

[2019-12-02 17:26] sgillies commented on #1837
@awa5114 we've got a test of merging quadrants into a seamless tile in the project test suite https://github.com/mapbox/rasterio/blob/master/tests/test_rio_merge.py#L445-L458 and it has been passing. Can you double-check the metadata of your grids to be sure that they are correct? Also can you paste them in here so I can check?

[2019-12-03 20:00] snowman2 opened #1838 "[proposal] support vsicurl when opening netCDF subdatasets"
Currently rasterio supports passing in a path such as `https://path/to/file.tif` and it will open it just fine with `vsicurl` by modifying the path internally to be `/vsicurl/https://path/to/file.tif`. With the correct dependency set, you can also [open `netCDF` files with `vsicurl`](https://gdal.org/drivers/raster/netcdf.html#vsi-virtual-file-system-api-support). An example would be: `netcdf:http

[2019-12-03 20:46] sgillies commented on #1838
@snowman2 yes, this would be a good bug fix for 1.1. It's too bad it requires a special case for netcdf, but that's how GDAL rolls.

[2019-12-03 20:54] snowman2 commented on #1838
Sounds good. I have two potential options in my head for pursuing this.

1. Add a another parsed path class specific to `subdatasets` with additional atttributes such as `driver` and `variable` to handle this case.
2. Check the `UnparsedPath` to see if it is a `subdataset` and modify the URL accordingly.

Thoughts? Preference? Other ideas?

[2019-12-03 22:00] sgillies commented on #1838
@snowman2 I think we need to have some discussion about what a netcdf URL looks like.

I'm a big :-1: on formalizing `NETCDF:https://example.com/file.nc:myvar` because sticking close to the web, and using URLs, is one of rasterio's design principles. I think that `NETCDF:/vsicurl/https://example.com/file.nc:myvar` might work right now?

I'd love to see URLs like `https://example.com/file.nc#myvar`

[2019-12-03 22:16] snowman2 commented on #1838
It would definitely be nice to have a simpler URL string for `rasterio` for the netCDF format. But, with a change like that, the `subdatasets` interface may need to follow suit.

I am not 100% sure, but your suggested reason for it sounds right to me.

I think that would be a good first step. It supports existing behavior and would work using the `subdatasets` interface.

[2019-12-04 16:14] awa5114 commented on #1837
There is no metadata. I just made the grids in a notepad exactly as shown in my previous posts. That's all you should need to replicate the results I think....

[2019-12-04 22:41] sgillies commented on #654
Update: Zenodo didn't get a passing grade from Mapbox's security team and we won't be able to use it.

[2019-12-04 23:24] sgillies commented on #1837
@awa5114 it would really help me out if you would paste the 4 files in here. I don't have time to type them down and want to be 100% sure I'm looking at the same ones as you (whitespace and everything).

[2019-12-05 06:38] jdmcbr commented on #654
@sgillies Appreciate you looking into it!

[2019-12-05 15:15] vincentsarago commented on #1504
I've taken a first look at how this could be done.
I found out that GDAL has a `GDALCreateOverviewDataset` but as @rouault in https://github.com/mapbox/rasterio/pull/1161#issuecomment-333960122 the function `is C++/internal only` 😞 https://github.com/OSGeo/gdal/blob/master/gdal/gcore/gdal_priv.h#L2739

In GDAL the overview dataset are usually `per band` (e.g `dst.GetRasterBand(1)->GetOverview(leve

[2019-12-05 16:32] sgillies commented on #1504
@vincentsarago I think an in-memory VRT wouldn't be too hacky and would adequately hide the details from users. Want to give that a try?

[2019-12-05 16:39] vincentsarago commented on #1504
@sgillies I'm not sure to understand, can you explain a bit more how to use the in-memory VRT ?

[2019-12-05 20:54] lwasser commented on #654
ahhhh interesting! @sgillies i second @jdmcbr comment -- thank you for considering this even if it didn't fly with security!!

[2019-12-06 15:35] sgillies commented on #1837
Resolved by #1840.

[2019-12-06 15:35] #1837 closed

[2019-12-09 17:36] sgillies opened #1843 "Catch CPLE_OpenFailedError in rasterio.open and raise a proper error"
An exception like

`rasterio._err.CPLE_OpenFailedError: '/vsicurl/http://oin-hotosm.s3.amazonaws.com/59c66c5223c8440011d7b1e4/0/7ad397c0-bba2-4f98-a08a-931ec3a6e943.tif' does not exist in the file system, and is not recognized as a supported dataset name.`

might be true, but isn't very helpful. Also it's a private exception that API users shouldn't see.

See discussion in https://rasterio.groups.

[2019-12-10 02:20] mathause opened #1844 "result of rasterize can depend on handedness of geometry"
## Expected behavior and actual behavior.

When I use `features.rasterize` I expect that the result does not change if the passed `Polygon` is clockwise or counterclockwise.

## Steps to reproduce the problem.

[code]
This does not lead to the same result, although the only thing I changed is the direction of the `outline`. The plot below illustrates the problem: the red and the blue gridpoints ar

[2019-12-10 11:09] mathause commented on #1844
I was able to simplify the problem a bit (no transform, simpler coordinates):

[code]

To plot the resulting rasters:

[code]

I have not managed to create an example where the left, right or bottom grid cell is inconsistent. I did also not manage to create an example where a ccw polygon causes the problem. This sounds a bit as if one case with Bresenham's line algorithm was inconsistent in gdal.

[2019-12-10 16:40] underchemist commented on #1807
I'll close this as fixed by #1841

[2019-12-10 16:40] #1807 closed

[2019-12-11 18:32] daniel-j-h opened #1846 "Support Slippy Map datasets"
Right now rasterio works great when working e.g. with GeoTIF datasets.

Certain use-cases require us to transform these TIFs to Slippy Map datasets
- https://wiki.openstreetmap.org/wiki/Slippy_map_tilenames
- https://gist.github.com/tmcw/4954720

for example
- [raster layer](https://docs.mapbox.com/mapbox-gl-js/style-spec/#sources-raster) in a mapbox gl map
- [machine learning models](https://gith

[2019-12-12 17:37] glostis opened #1847 "HDF5 error with rasterio wheel"
## Expected behavior and actual behavior.

The HDF5 library that comes packaged with the `rasterio` wheel seems to have an issue because it prints errors to stderr when doing a `rio info` on a file for example.

## Steps to reproduce the problem.

I've made a Dockerfile to reproduce the issue:

[code]

In this Dockerfile I make two virtualenvs:
- `rio-wheel` where I simply install the `rasterio` w

[2019-12-12 17:54] glostis commented on #1847
I've "bisected" the error by hand, and something seems to happen between `rasterio` versions `1.0.24` and `1.0.25`.

The `1.0.24` wheel (and previous versions) prints the following:
[code]

whereas the `1.0.25` version (and the following versions) prints the message I have reported in the issue:
[code]

This matches with a change in GDAL version: `1.0.24` came with `GDAL 2.4.1` whereas `1.0.25` ca

[2019-12-13 05:03] sgillies commented on #1847
@glostis I see this in the change log for 2.4.2 which looks relevant:  https://github.com/OSGeo/gdal/blob/release/2.4/gdal/NEWS. I'm not sure what can be done about the errors printed to stderr, that looks like a HDF5 library choice that can probably only be prevented in GDAL.

[2019-12-13 16:52] sgillies commented on #1846
@daniel-j-h take a look at https://gdal.org/drivers/raster/wms.html#tms-gdal-1-7-0-and-later. It's been a long time since I've tried this, but there is some basic support in GDAL for reading from slippy map tiles on the web. The driver may lack optimizations like HTTP/2 multiple requests per connection, &c.

If I remember, you will need to create an XML file to describe the tileset (there are seve

[2019-12-13 16:56] sgillies commented on #1846
@daniel-j-h take a look at https://gdal.org/drivers/raster/wms.html#tms-gdal-1-7-0-and-later. It's been a long time since I've tried this, but there is some basic support in GDAL for reading from slippy map tiles on the web. The driver may lack optimizations like HTTP/2 multiple requests per connection, &c.

If I remember, you will need to create an XML file to describe the tileset (there are seve

[2019-12-13 17:02] sgillies commented on #1846
I downloaded https://github.com/OSGeo/gdal/blob/master/gdal/frmts/wms/frmt_ags_arcgisonline.xml and verified that rasterio can read it.

[code]

![Figure_1](https://user-images.githubusercontent.com/33697/70817831-aab8fb80-1d8f-11ea-88c6-600cbe66ac1c.png)

[2019-12-13 17:27] sgillies commented on #1846
And with this XML file

[code]

I ran `rio convert -f PNG mapbox.satellite.xml mapbox.satellite.PNG`.

![mapbox satellite](https://user-images.githubusercontent.com/33697/70819128-a8a46c00-1d92-11ea-8f41-cefab1ebe4ae.png)

[2019-12-13 21:54] sgillies commented on #1844
Thanks for the report and code @mathause . This gives us plenty to go on. If `all_touched=True` is passed are the results the same?

[2019-12-13 22:34] sgillies commented on #1846
To use this kind of input with rio-calc, we will need to add a `--format` option to that command. I'm working on that now.

[2019-12-13 22:38] sgillies commented on #1846
`$ rio calc "(asarray (read 1 3) (read 1 2) (read 1 1))" -f PNG ~/work/tilesets/mapbox.satellite.xml reversed.png` will be allowed in 1.1.2. Otherwise, the output format is the same as the input -- a read-only format.

[2019-12-14 16:53] AliFlux opened #1849 "Add out_dtype parameter to WarpedVRT"
Hi.

The out_dtype for datasets is super useful. Are there any plans for supporting it for WarpedVRT class read() method?

Usecase:
WarpedVRT has a lot of advantages for dataset tiling. When faced with grayscale imagery or imagery with custom palette. The read() method of WarpedVRT outputs a shape that doesnt have three channels. The out_dtype method caters that (probably). Are there any plans to

[2019-12-15 17:29] daniel-j-h commented on #1846
Woah :open_mouth: this is amazing! :tada:

Thank you for this detailed description and for adding the driver option to `rio calc`! :bowing_man: If I had known about this feature before we should have designed robosat in a way to just rely on rasterio for all raster operations :thinking:

[2019-12-16 09:10] ClaireBrenner commented on #1787
I have the same problem with GDAL 3.0.2 installed from conda forge and rasterio also installed from conda forge. Is there a solution to this problem?

[2019-12-16 09:49] ClaireBrenner commented on #1787
Sorry, I missed that I have to downgrade to an older version of GDAL.

[2019-12-16 15:42] sgillies commented on #1787
@ClaireBrenner no, that's not true. The lastest version of rasterio works fine with GDAL 3.

[2019-12-16 15:43] #1846 closed

[2019-12-16 16:02] sgillies commented on #1849
Yes, good idea!

[2019-12-16 17:13] #1849 closed

[2019-12-16 19:00] ClaireBrenner opened #1850 "Error using CRS.from_epsg(): cannot find proj.db"
Hello,

when I install rasterio from conda forge and GDAL 3.0.2 also from conda forge I get the error already described in an earlier issue:

rasterio.errors.CRSError: The EPSG code is unknown. PROJ: proj_create_from_database: Cannot find proj.db

I then thought that rasterio is not compatible with GDAL 3.0.2 and downgraded to an earlier version (also from conda forge) and it works fine.

Now @sgi

[2019-12-16 20:46] sgillies commented on #1850
Have you activated your conda environment @ClaireBrenner ? Activation is required and is the missing piece in almost all reports of this kind.

[2019-12-16 21:32] ClaireBrenner commented on #1850
Yes, I use the environment to which I installed GDAL and rasterio if this is what you mean. I can also import rasterio without any errors. I can try to clone your github repository and try to install from there. Maybe that works.

[2019-12-16 21:49] sgillies commented on #1850
What I'm specifically asking is if you have activated it before use. See https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#activating-an-environment. Unless you do that, the script at https://github.com/conda-forge/proj.4-feedstock/blob/master/recipe/scripts/activate.sh#L14 won't be run, and PROJ_LIB won't be set.

[2019-12-16 22:02] ClaireBrenner commented on #1850
Yes, it is active when I run the code. I use pycharm and the specific environment is selected as python interpreter.

[2019-12-16 22:29] sgillies commented on #1850
@ClaireBrenner will you please check the Pycharm documentation and tracker to see if your issue has been reported there? I did a Google search for "pycharm conda environment activate" and found a number of links to reports like this one: https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000660264-Pycharm-doesn-t-activate-Anaconda-virtual-environment-on-Windows-7. I think it's much

[2019-12-17 04:13] snowman2 commented on #1850
I would recommend opening an issue here: https://github.com/conda-forge/rasterio-feedstock/

[2019-12-17 23:22] sgillies commented on #1791
There's nothing else we can do for this one.

[2019-12-17 23:22] #1791 closed

[2019-12-17 23:35] sgillies commented on #1826
@adriantre I'm not opposed to making the internals of rio-convert part of rasterio's API. We've done this already for the merge tool. But since it can be accomplished with only a few lines of code using numpy, I can't put a high priority on this feature right now. I would be happy to review and mentor however.

[2019-12-18 15:08] #1833 closed

[2019-12-18 15:08] sgillies opened #1852 "1.1.2 release"
Target date: 2019-12-18 (today).

[2019-12-18 15:22] glostis commented on #1847
@sgillies Thanks for looking into this, and sorry for replying late!

The entry in the changelog does indeed look relevant.

However, I still don't understand why the error message appears when using `rasterio`'s wheel, and not when using `rasterio` built with a local GDAL installation. In both cases, `GDAL>2.4.2` is used, so the behavior should be consistent: either we see the error message in bo

[2019-12-18 16:07] snowman2 commented on #1833
Thanks!

[2019-12-19 09:23] mathause commented on #1844
I was not able to construct an inconsistent example with `all_touched=True`, also when shifting the `Polygon` by 0.5.

I can try to reproduce directly in `gdal`.

[2019-12-19 14:41] sgillies commented on #1852
Done.

[2019-12-19 14:41] #1852 closed

[2019-12-20 16:32] adriantre commented on #1826
@sgillies yes, in retrospect I agree that it is not worth prioritising. I guess I was just looking for the one-liner equivalent to rasterio's and at the same time reduce extra overhead. In most cases, one will scale and/or normalize the images anyway, when loading them for analysis.

I may look into it in the future if I get a deeper understanding of it.

[2019-12-25 15:08] abpoll opened #1854 "Resampling documentation discrepancies"
There are two links with documentation on resampling rasters

1) https://rasterio.readthedocs.io/en/latest/topics/resampling.html
2) https://readthedocs.org/projects/rasterio/downloads/pdf/stable/

For the latter, see 5.21.1 for the code.

In the first, I believe the order of height and width are incorrect
`with rasterio.open("example.tif") as dataset:

    # resample data to target shape
    data

[2019-12-25 15:13] abpoll commented on #1854
The transform line doesn't matter, I think, since data.shape is updated by the same upscale_factor. With that being said, data.shape[-1] would refer to columns so for consistency it should be

`# scale image transform
transform = dataset.transform * dataset.transform.scale(
    (dataset.height / data.shape[-2]),
    (dataset.width / data.shape[-1])`

[2020-01-07 20:49] sgillies commented on #278
Stale.

[2020-01-07 20:49] #278 closed

[2020-01-08 15:12] kannes opened #1855 "Add warning in mask example about transform from source"
https://rasterio.readthedocs.io/en/latest/topics/masking-by-shapefile.html includes the following bit of code:

[code]

`out_meta `now includes the `src`'s original transform and that is inviting to an inattentive user (HI!) to use as transform for the masked and cropped new image. This is mentioned only below a shiny and beautiful image in the next section.

Please add a comment to the line, like

[2020-01-08 15:13] kannes commented on #1855
Feel welcome to assign this to me but it might be weeks until I would do the PR.

[2020-01-08 15:45] vincentsarago opened #1856 "`dataset_mask` return data as int64"
First reported in https://github.com/cogeotiff/rio-cogeo/issues/115

Since rasterio >= 1.1.2 [`rasterio._io.DatasetReaderBase. dataset_mask`](https://github.com/mapbox/rasterio/blob/master/rasterio/_io.pyx#L714) is returning data array as `int64` when using internal nodata.
The problem is then when we want to write this array back to a dataset, we will get `rasterio._shim.io_band KeyError: 'int64'

[2020-01-08 15:59] sgillies commented on #1856
Confirmed.

[2020-01-08 16:35] vincentsarago commented on #1856
My understanding is that in https://github.com/mapbox/rasterio/blob/0027034d9eebe012e140260e2cc18acd4123939d/rasterio/_io.pyx#L806 when doing `255 * ` numpy is translating `255` to `numpy.array(255)` which is then in `int64` dtype.

[code]

@sgillies I think the quick fix is to cast `out` to `uint8` datatype:

[code]

[2020-01-08 17:17] sgillies commented on #1856
Resolved by 07d47ef.

[2020-01-08 17:55] #1512 closed

[2020-01-08 17:59] sgillies commented on #1632
@vincentsarago is there still an issue here? I'm reviewing rasterio issues and would like to close this one if we can.

[2020-01-08 18:10] sgillies commented on #1685
@Juanlu001 can you explain why you are reporting about pyproj in this issue? Rasterio doesn't use pyproj. Do you suspect some kind of conflict?

Is performance still a problem with Rasterio 1.1?

[2020-01-08 18:19] sgillies commented on #1717
@vesnikos is casting your input to float32 an option? Have you found another workaround?

[2020-01-08 18:22] #1743 closed

[2020-01-08 18:30] sgillies commented on #1745
@snowman2 looks like this has been fixed upstream? Please reopen if that's not the case.

[2020-01-08 18:30] #1745 closed

[2020-01-08 18:36] sgillies commented on #1759
The project is not going to add a new multidimensional API.

[2020-01-08 18:36] #1759 closed

[2020-01-08 18:40] vincentsarago commented on #1632
Thanks for the ping @sgillies

This is still valid but should be split into 2 issues.
1. GDAL/Rasterio convert `nan` to 0.0 when using WarpedVRT

[code]

2.  GDAL is unable to fetch the internal mask for GDT_Float64 dataset when using WarpedVRT.

[code]

I believe the second (**2**) issue is a pure GDAL one (see: https://github.com/mapbox/rasterio/issues/1632#issuecomment-463388607) but the the fi

[2020-01-08 18:51] sgillies commented on #1790
I strongly suspect after reading that this issue doesn't occur with local files that this is the same issue as #1828, which has been resolved. I'm going to close this. Please reopen if necessary @JaviBecerra.

[2020-01-08 18:51] #1790 closed

[2020-01-08 18:56] sgillies commented on #1803
@rbavery yes, I agree this is a GDAL issue if it affects gdal_translate. I'm going to tag and close this.

[2020-01-08 18:56] #1803 closed

[2020-01-08 18:59] #1805 closed

[2020-01-08 19:06] sgillies commented on #1826
Closing for now, we can reopen when there is action to take.

[2020-01-08 19:06] #1826 closed

[2020-01-08 19:13] sgillies commented on #1847
Continuing at https://github.com/rasterio/rasterio-wheels/issues/39.

[2020-01-08 19:13] #1847 closed

[2020-01-08 19:15] sgillies commented on #1850
I'm going to close this. Please reopen if needed @ClaireBrenner .

[2020-01-08 19:15] #1850 closed

[2020-01-08 19:42] vesnikos commented on #1717
Hmm, it has been a long time since I did that, but if I remember correctly I remade the input rasters to conform with the expected input (int32), I was lucky enough that my ranges were within the int32 positive spectrum.

 Casting to float32 needlessly is possible but I don't know if advisable because of following [caveat](https://gdal.org/doxygen/gdal__alg_8h.html#a7a789015334d677afcbef67e5a6b4a7

[2020-01-08 20:24] #1717 closed

[2020-01-09 21:30] sgillies opened #1857 "Make transform arg of from_bounds required again"
rasterio.windows.from_bounds() effectively requires a transform arg, but doesn't advertise this fact. The bug was reported in https://rasterio.groups.io/g/main/message/403.

Looking back, the function did at one time have transform as a positional and required argument, but I changed that for no particular reason in https://github.com/mapbox/rasterio/commit/361112e825c5f85e8e82ef07c96baaffea1beaaa

[2020-01-09 22:13] sgillies commented on #1857
I didn't revert the change because of course someone may have written code with `transform=Affine(...)` since 1.0.0. I did add a guard against `transform=None`. Note that `height` and `width` are keyword arguments to help callers *not* mix them up.

[2020-01-09 22:13] #1857 closed

[2020-01-09 22:47] tomkralidis commented on #1857
Thanks @sgillies for the quick fix!

[2020-01-13 10:47] Juanlu001 commented on #1685
You're right about pyproj, I repeated my benchmarks:

### rasterio 1.0.13

[code]

### rasterio 1.0.28

[code]

### rasterio 1.1.2

[code]

There is a very noticeable slowdown between 1.0.13 and 1.0.28 (which can be traced to 1.0.14 if I recall correctly) and no significant difference between 1.0.28 and 1.1.2.

[2020-01-13 10:55] Juanlu001 commented on #1685
Also, @sgillies could you please clarify which constructor will be deprecated?

[2020-01-21 15:19] snowman2 opened #1859 "[proposal] allow users to write nodata values per band via nodatavals"
I see that it is currently not allowed:
https://github.com/mapbox/rasterio/blob/ef8a82fd083958d2561ac97b45812db0b88901ef/rasterio/_base.pyx#L465-L486

Thoughts on allowing this to happen?

[2020-01-21 15:26] snowman2 commented on #1859
To clarify, it is currently allowed on `DatasetWriterBase` but it is with a private method `_set_nodatavals`. I am thinking of adding a property setter for `nodatavals` similar to `scales` and `offsets` to `DatasetWriterBase`.

[2020-01-21 16:55] valpesendorfer opened #1860 "Read remote netcdf from ftp"
## Expected behavior and actual behavior.

I'm trying to read a `netCDF` file from an `ftp` server. Works in `gdal` (both cli and py api).

When trying with `rasterio`, it takes quite a long time and finally I'm receiving the following exceptions:

Also tried without `netcdf:/vsicurl/` as it works with `gdal`, but this raises an `rasterio.errors.RasterioIOError` which makes sense.

## Steps to rep

[2020-01-22 00:20] sgillies commented on #1859
@snowman2 does GDAL support per-band nodata values? I don't recall that it does, but I'm mostly using GeoTIFF and am not up to date with new features of all the other formats.

[2020-01-22 01:48] sgillies commented on #1860
Confirmed. I'm not quite sure how to fix this one yet.

[2020-01-22 01:51] snowman2 commented on #1859
The API seems to support it from what I can see in the `rasterio` code in the `_io` module. The previous version of `rasterio` had a public `set_nodatavals` according to: https://github.com/mapbox/rasterio/blob/master/docs/topics/migrating-to-v1.rst. I guess I assumed it was theoretically possible to do since it was supported in the past and there is currently a way to read per-band nodata values

[2020-01-22 21:09] snowman2 commented on #1859
@sgillies, I see what you mean. When writing to a tif, GDAL will allow you to set the nodata value for each band. However, when reading the nodatavals value back in it only preserves the last nodata value written to any band. Interesting. Well, I see that this is not desirable to be made public since it doesn't really work for a GeoTIFF. Well, that is unfortunate. Thanks for the response!

[2020-01-22 21:09] #1859 closed

[2020-01-27 18:13] ciaranevans opened #1861 "Merging rasters that cross the Anti Meridian fails (Goes the long way around)"
## Expected behavior and actual behavior.

Expected:
Merging 3 rasters results in a merged raster.
Actual:
[code]

It appears that Rasterio's `merge.merge()` method doesn't work well with merging tiles which cross over the International Dateline. My guess is because the left most longitude of the tiles is around +178 and the right most longitude of the tiles is around -179. Which is understandably

[2020-01-28 09:25] Juanlu001 commented on #1685
For future reference, according to some comments I've read in the pyproj documentation, I understand that the deprecated constructor is `{"init": "epsg:3857"}`.

[2020-01-28 10:36] ciaranevans commented on #1861
@sgillies many thanks for the label 😄

What is the normal time period for fixes potentially going in?

I'd be interested in contributing a fix but unsure where to start within the merge function... If you've got a rough idea I'd be up for taking a crack at this!

[2020-01-28 15:23] sgillies commented on #1861
@ciaranevans here's the thing, which may be a blocker: rasterio's merge requires all inputs to have the same coordinate reference system and requires the output to have that same coordinate reference system. Unless your inputs are in a coordinate reference system centered on the antimeridian, we can't make an output centered on the antimeridian.

A workaround/hack that you could try: wrap the geor

[2020-01-28 16:37] ciaranevans commented on #1861
Woops wrong button.

@sgillies thanks for the reply! Ah right, I thought it might be a bit of a PITA!

I took a chance and calculated the distance between the left most bound of the left tile and the right most bound of the right tile and then set the bounds I passed into merge as
`left, bottom, left + distance_between_left_and_right, top`

It passed and wrote a tiff but the data inside didn't loo

[2020-01-28 23:18] QuLogic opened #1862 "Tests fail with Proj 6"
## Expected behavior and actual behavior.

When building rasterio for Fedora 32, which has Proj 6.2.0, 4 tests fail.

Some are checking for zero stderr, but the warning from Proj breaks it:
[code]

See https://github.com/pyproj4/pyproj/issues/355 and https://github.com/OSGeo/PROJ/issues/1895 for information on that warning.

I'm not sure if these 3 failures are due to Proj, but maybe, if some proj

[2020-01-29 20:12] sgillies commented on #1862
@QuLogic thanks for the heads up. We're only testing against PROJ 6.1 at the moment https://travis-ci.org/mapbox/rasterio/jobs/634987801 and need to add 6.2 or 6.3.

[2020-01-29 22:03] ciaranevans commented on #1861
@sgillies tweet was made before I raised this, removed, will be giving your workaround a go!

[2020-01-30 18:07] tovogt opened #1863 "segfault from windowed boundless read of VRT with shared="0" set"
##  Expected behavior and actual behavior.

I expected to read a windowed (important!) band with `boundless=True` (important!) from a VRT dataset that has the `shared="0"` (important!) option set and a segmentation fault occurred.

## Steps to reproduce the problem.

Execute this script:
[code]
After 1000-2000 reads, execution will be interrupted due to a segmentation fault. Here is a backtrace:

[2020-01-31 15:18] ciaranevans commented on #1861
So, with a bit more Googling and experimenting, we've found a work around @sgillies

Steps go as follows:

1. For each tile to merge `calculate_default_transform()` to required CRS (In this case, we're going from the SRTM tiles CRS to the MGRS squares
1. Reproject the tile using the calculated values, but pass in the following kwargs:
[code]
Appears that https://trac.osgeo.org/gdal/wiki/ConfigOpti

[2020-01-31 19:19] sgillies commented on #1861
Fiji is such a good test case. And I'm glad to know about CENTER_LONG, that's an obscure one.

There's a lot of overlap beween warping and merging; the latter is kind of a short cut when the input and output have the same CRS. I'm curious about what would happen if you skipped MGRS and called reproject using the same src_crs and dst_crs *but* with CENTER_LONG set to 180.0, with a destination file

[2020-01-31 19:27] ciaranevans commented on #1861
Yeah, annoyingly the GDAL docs don't elaborate on what it actually is 😂

Just so I'm sure I understand your question, you'd like me to try the reproject with 180 center using the same CRS' for src and dst and then merge after? Happy to give it a go!

[2020-01-31 19:30] sgillies commented on #1861
Or even skip the merge. If you create an output dataset that spans the inputs and has a central longitude of 180, you can reproject the inputs, one-by-one, directly into it.

[2020-01-31 19:32] ciaranevans commented on #1861
Ah I see what you mean. I'll try give it a go tomorrow (finished work for today as I'm in the UK)

I should probably know this, but what's a easy way to make a dataset just based on bounds? I'm always just loading and transforming data rather than making it from scratch! 😓

[2020-02-04 22:29] vincentsarago commented on #1504
@sgillies ping, could you give more information about the `in-memory VRT` ? 🙏

[2020-02-05 10:59] normanb opened #1864 "Env always uses boto3"
## Expected behavior and actual behavior.
When creating a rasterio.Env() with a DummySession object I shouldn't require boto3 for files with a s3:// uri. Setting the environment without aws credentials should remove this dependency.

In addition without using an Env() and specifying the GDAL driver directly and a s3:// uri the code looks to use the virtual file system instead of the specified driv

[2020-02-05 16:49] ciaranevans commented on #1861
@sgillies been giving this a bit of a go.

Steps:
* Load in all tiles to 'merge'
* Find top, bottom, right and left (right goes +180 rather than wrapping to -180)
* Write a empty tiff out with those bounds that is the total size of the merged tiles (height + width), also has the same CRS as those tiles
* Load empty tiff, load tiles
* Reproject each tile into the big empty one
Code for reprojecting

[2020-02-05 16:53] ciaranevans commented on #1861
Not sure if this is the order of things you suggested to try!

[2020-02-05 18:13] ciaranevans commented on #1861
@sgillies I think I got it!

Annoyingly simple in the end!

**Looks like a blob appeared on my AM!**
![image](https://user-images.githubusercontent.com/9111975/73868762-fabcb780-4840-11ea-8b11-941517b9197a.png)

**Zoomed in without the basemap as my QGIS cries**
![image](https://user-images.githubusercontent.com/9111975/73869484-3c019700-4842-11ea-839b-0d7b52588f8a.png)

**Steps to reproduce**

*

[2020-02-06 11:49] ciaranevans commented on #1861
Sad times. For some reason QGIS reprojection works, see:
**Merged tile in EPSG:32701**
![image](https://user-images.githubusercontent.com/9111975/73934192-e5de3380-48d5-11ea-9670-d6be529386ef.png)

However, when I do the same with the following code in rasterio:
[code]

**First tile is merged, second is reprojected**
![image](https://user-images.githubusercontent.com/9111975/73934405-3ce40880-48d6

[2020-02-06 12:02] ciaranevans commented on #1861
Sad times. For some reason QGIS reprojection works, see:
**Merged tile in EPSG:32701**
![image](https://user-images.githubusercontent.com/9111975/73934192-e5de3380-48d5-11ea-9670-d6be529386ef.png)

However, when I do the same with the following code in rasterio:
[code]

**First tile is merged, second is reprojected**
![image](https://user-images.githubusercontent.com/9111975/73934405-3ce40880-48d6

[2020-02-06 13:24] ciaranevans commented on #1861
Ah. Read some more into the docs for `calculate_default_transform()` and only noticed the **Notes** section. Also noticed that `CHECK_WITH_INVERT_PROJ` is defaulted to `True`.

Tried with:
`with rasterio.Env(CHECK_WITH_INVERT_PROJ=False):` wrapping it all and:
![image](https://user-images.githubusercontent.com/9111975/73940712-db2a9b00-48e3-11ea-80a8-e03b12234a50.png)

Which doesn't mess with the

[2020-02-07 11:26] ciaranevans commented on #1861
### Summary

So, I have finally, **finally** got a perfect tile. We found that `calculate_default_transform()` didn't like the AM as our tiles were being shifted hundreds of meters off from the ground truth. I think this was due to the fact that these tiles stretch over two UTM Zones (Sad trombone) 🎺

We've got a work around though:
1. Merge tiles as per https://github.com/mapbox/rasterio/issues/1

[2020-02-07 11:36] geotheory commented on #1861
Most interesting, but just WRT the title the International Date Line is not the same thing as 180 meridian.

[2020-02-07 11:37] ciaranevans commented on #1861
Yes good shout, sorry we'd been using it colloquially at work but have changed now!

[2020-02-07 20:31] sgillies commented on #1861
Thanks for summarizing @ciaranevans. I'm going to remove the bug label as merge can't merge at the edges of a reference system and the solution involves reprojecting the data.

[2020-02-07 20:31] #1861 closed

[2020-02-07 21:45] ciaranevans commented on #1861
No worries @sgillies thanks for the input through it!

[2020-02-08 10:19] geotheory commented on #1861
Ah good. I can stop being offended now.

[2020-02-10 21:21] snowman2 commented on #1838
There are three main parts to a netCDF path:

DRIVER: e.g. NETCDF
PATH/URL: e.g. https://path/to/file.nc or /path/to/file.nc
GROUP/VARIABLE: e.g. varname

Examples:
[code]

The GROUP/VARIABLE are optional, so it could be opened like:
[code]
or
[code]

It would be nice to have a more clear delimiter between the DRIVER, PATH, and VARIABLE.

One idea I has was to double up on `:` to divide the three

[2020-02-10 21:28] snowman2 commented on #1838
Another option could be to add a `rasterio.path.Subdataset` object. It's `__repr__` and `__str__` methods could build a GDAL compatible URL. And it could have the `driver`, `path`, and `variable` attributes that you can access.

[2020-02-11 22:52] #1825 closed

[2020-02-11 23:10] mwtoews commented on #1862
I should chime in here to mention there are no issues with PROJ 6.2.0 or 6.2.1. I think some of the reported errors above (e.g. `test_zz_no_dataset_leaks`) are gone with newer GDAL releases, so perhaps these were GDAL issues, and not PROJ.

However, new issues start with PROJ 6.3.0, e.g. [see here](https://travis-ci.org/mapbox/rasterio/jobs/645200654). Many of the form:

These are different issues

[2020-02-12 14:29] sgillies commented on #1862
@QuLogic which version of GDAL do you have?

[2020-02-12 15:56] sgillies opened #1867 "Allow merge tool to take a dataset opened in w/r+ mode for output"
So that we can create very large mosaics (see comment in #1831).

I'm going to use the size-based chunking approach of rio-calc  https://github.com/rasterio/rasterio/blob/main/rasterio/rio/calc.py#L226 unless this will not work with important data formats.

[2020-02-12 16:00] sgillies commented on #1831
In #1867 I propose to change the merge tool so that an open dataset can be passed in to serve as output. This should help with both a) very large output cases and b) improving the efficiency of merging in batches (reuse of the output across batches).

[2020-02-12 16:27] sgillies commented on #1504
@vincentsarago what I meant is that a `dataset.overview(level)` method could create some VRT XML in Python describing a virtual overview dataset and then would `return rasterio.open(overview_vrt_xml)`. It would be read-only, however.

However, I'm going to close this issue. Passing the overview level option is good enough for reading cases, now. Writing overviews is a separate issue.

[2020-02-12 16:27] #1504 closed

[2020-02-12 16:30] vincentsarago commented on #1504
thanks @sgillies

The `dataset.overview(level)` will still be a good solution because right now we cannot access the overviews of a warpedVRT (specific to my use case I know)

[2020-02-12 17:18] sgillies commented on #1863
@tovogt thank you for the program. I can confirm that it's a problem and not just with the conda packaged rasterio.

A rasterio boundless read uses a VRT internally. I suspect there is disagreement about the sharing mode at the two VRT levels and I will look there. I get some confirmation of this hypothesis in seeing that your program will run to completion if I set `VRT_SHARED_SOURCE=0` in the en

[2020-02-12 17:44] sgillies commented on #1863
Fixed by adbd848 and will be fixed in 1.1.3, coming soon.

[2020-02-12 20:49] sgillies commented on #1864
@normanb I think we should be able to not require boto3 there. I'll look into it.

It's a surprise to me that the TileDB driver would want to not use vsis3. I'm inclined to keep translating "s3" URIs to "/vsis3/" filenames and not make a special case for TileDB. Here https://gdal.org/drivers/raster/tiledb.html#driver-capabilities it says that the virtual file systems are supported, so the translat

[2020-02-12 21:01] normanb commented on #1864
@sgillies not requiring boto3 would be a good step. I don't see an issue in translating to `/vsis3/` and not making an exception for TileDB, I can add a check in the TileDB format driver to see when to use virtual file systems and when to use the S3 drivers directly.

Direct S3 access within the TileDB driver is in parallel and separate to the implementation in GDAL for virtual file systems.

[2020-02-12 21:10] QuLogic commented on #1862
The full build is [here](https://koji.fedoraproject.org/koji/taskinfo?taskID=41162464). GDAL appears to be (see `root.log`): gdal-2.3.2-15.fc32.

[2020-02-13 00:12] sgillies opened #1868 "Move session class choosing logic out of rasterio.env"
As I was monkeypatching imports of boto3 in [both rasterio.session and rasterio.env in a test](https://github.com/mapbox/rasterio/blob/0c7a2e2d4eb04e238e84efbe821db07e6cb49ab1/tests/test_env.py#L332-L333), I realized that rasterio.env should delegate to the session module and Session class more than it does. Our current situation is complicated and messy.

[2020-02-13 19:42] sgillies commented on #1864
@normanb boto3 is optional in the maint-1.1 branch now. You shouldn't need a DummySession or outer Env either. It's my intent that the following should let the TileDB driver configure S3 access for itself.

[code]

[2020-02-13 19:59] normanb commented on #1864
@sgillies I think you need to move the declaration of log up in the code above the try statement for boto3 in both env.py and session.py. I have made these changes locally and I can confirm that the "s3://" uri does get picked up by the TileDB driver. Thanks!

[2020-02-13 20:55] #1786 closed

[2020-02-13 20:55] #1863 closed

[2020-02-13 20:55] #1864 closed

[2020-02-13 22:56] normanb commented on #1864
@sgillies you have closed the issue, but maint-1.1 branch fails because of the order creating the log object Loading rasterio without boto3 fails for me without the changes above ^^. I might be missing something that you are doing differently though.

[2020-02-14 00:10] sgillies commented on #1864
@normanb I've made a mess of this work. The issue was closed prematurely and I made more commits after that to really solve it (I think!). Here's the one to test 15bf16c.

[2020-02-14 15:02] #1856 closed

[2020-02-14 16:31] sgillies commented on #1788
@00krishna I cannot reproduce the problem using rasterio 1.1.2 and GDAL 3.0.3. I think this bug was fixed between rasterio 1.0.28 and 1.1.2.

BTW, you can speed up reprojection by warping all the bands at once. See the modified code below:

[code]

Here's the result, looking pretty normal in matplotlib.

![Figure_1](https://user-images.githubusercontent.com/33697/74549281-9965aa00-4f0c-11ea-9658-e

[2020-02-14 16:31] #1788 closed

[2020-02-14 16:51] sgillies commented on #1810
I'm going to close this one. The warning is coming from GDAL and appears in your terminal because your code hasn't activated a GDAL error handler. If you do

[code]

then GDAL warning and error messages will be intercepted properly by Python's logger and exception mechanisms.

I'm going to think about whether we should warn in rasterio and take it up in a separate issue.

[2020-02-14 16:51] #1810 closed

[2020-02-14 18:13] sgillies commented on #1721
@vincentsarago can you let me know what you think of this b50b1cc ?

[2020-02-14 19:44] vincentsarago commented on #1721
looks good to me @sgillies

[2020-02-15 03:10] geowurster commented on #1721
@sgillies @vincentsarago This is incorrect, partly due to [premultiplied alpha bands](https://en.wikipedia.org/wiki/Alpha_compositing#Straight_versus_premultiplied) and partly due to GDAL weirdness that may or may not have been addressed in more recent versions.

___

I have provided some examples below but do not currently have an up-to-date Rasterio or OSGeo GDAL environment. The Rasterio code i

[2020-02-15 12:53] vincentsarago commented on #1721
great write up @geowurster (really appreciated).
Just to make sure, you are saying we shouldn't change what was in place before?

if we keep what was in place I'll just add `mask = np.where(mask != 0, 255, 0).astype("uint8")` on my application.

[2020-02-15 15:14] geowurster commented on #1721
@vincentsarago Depends on the goal. Without actually testing this commit, I am pretty sure that `read_masks()` (without a boundless read per https://github.com/mapbox/rasterio/issues/1266) produced whatever `GDALGetMaskBand()` provided prior to https://github.com/mapbox/rasterio/commit/6f91107f278a4c3e6d67b99c0d56c5f5f2ef56e0 (part of PR https://github.com/mapbox/rasterio/pull/1378). In this state

[2020-02-17 19:23] vincentsarago commented on #1721
@sgillies from my understanding of @geowurster comments, it's better not to change the actual behavior (meaning keep non binary mask values.

I've patched this in rio-tiler directly https://github.com/cogeotiff/rio-tiler/blob/e798adc1d521dc4b6fb5ae42432f553652287217/rio_tiler/utils.py#L477-L479

[2020-02-18 12:10] dionhaefner opened #1870 "src.dataset_mask() is not uint8 anymore"
I noticed that, since rasterio 1.1.2, `src.dataset_mask()` returns the mask with `int64` dtype, which breaks code like this:

[code]

[The docs](https://rasterio.readthedocs.io/en/latest/api/rasterio.io.html#rasterio.io.BufferedDatasetWriter.dataset_mask) still say the return type is `uint8`, though.

Was that change deliberate?

[2020-02-18 13:11] glostis commented on #1870
Hi @dionhaefner !
I think the issue you report might be a duplicate of https://github.com/mapbox/rasterio/issues/1856, which was resolved in https://github.com/mapbox/rasterio/commit/07d47efa22ff411d6c77cb8731594b609f91246a

[2020-02-18 13:13] dionhaefner commented on #1870
:+1: Sorry for the noise.

[2020-02-18 13:13] #1870 closed

[2020-02-21 17:53] sgillies commented on #1721
@geowurster thank you, this is the leading candidate for Rasterio Issue Comment of the Year 2020 :smile:

[2020-02-21 18:02] sgillies commented on #1721
When I wrote the comments in 6f91107 I had seen some baffling masks in those VRTs. What I need to do is try to reproduce the problem and see if GDAL has or hasn't changed its behavior. I'm a big :+1: on walking back the mask model we've introduced almost by accident to give rasterio users more certainty.

[2020-02-24 21:10] sgillies commented on #1843
On closer examination, rasterio is in fact doing the right thing, it is raising a rasterio exception.

[2020-02-24 21:10] #1843 closed

[2020-02-24 21:22] sgillies commented on #1710
@Dehde I just now noticed that rio-info and gdalinfo disagree about the bounds of the file. Is your data South-up and rotated? Is there a chance to try rasterio 1.1.2 and see if the problem persists?

[2020-02-24 21:25] sgillies commented on #1868
Resolved by 15bf16c.

[2020-02-24 21:25] #1868 closed

[2020-02-24 23:45] sgillies commented on #1797
Resolved by a36e31a.

[2020-02-24 23:53] sgillies opened #1872 "1.1.3 release"
Lots of bug fixes!

Also: the wheels going to PyPI will include GEOS 3.8.0 as do fiona 1.8.13.post1 and shapely 1.7.0.

[2020-02-25 00:48] sgillies commented on #1872
https://travis-ci.org/mapbox/rasterio/builds/654670636 is passing so I'm going to do a prelim build.

[2020-02-25 01:57] geowurster commented on #1721
An award I would happily accept.

___

Some other thoughts on on Rasterio handles masks below.

**`dataset_mask()`**

Needs some mention of how any value `> 0` is converted to `255` on read. I recognize this would be harder to change, but if this method continues to produce a boolean mask then representing it as a Numpy-style mask may provide some clarity for some users. It looks like [`write_mask

[2020-02-25 03:24] sgillies commented on #1872
https://travis-ci.com/rasterio/rasterio-wheels/builds/150413047 1.1.3 build

[2020-02-25 10:51] Dehde commented on #1710
@sgillies thank you for coming back to me. Unfortunately I just left the company..
Great catch with the difference in Rio and gdal info, didn't notice that!

Since I no longer can check whether this issue is still open or not, should I close it?

The image was definitely (slightly) rotated, south up is very much possible (aerial imagery with North to South flights and South to North flight pattern

[2020-02-25 13:00] ciaranevans opened #1873 "Question/Issue - Can Rasterio Sessions be cleared up?"
## Expected behavior and actual behavior.
I'm running a pipeline of AWS Lambda functions which are orchestrated using Step Functions.

I have a scenario where I run ~200 concurrent Step Functions, inside these invocations, one function (we'll call it A) is invoked which has the following flow:

[code]

This works great about 90% of the time, but occasionally I'll have a function which suddenly sto

[2020-02-25 13:03] ciaranevans commented on #1873
I've got an example of the CloudWatch logs for a function that runs for a few bands and then suddenly hangs on the line:
[code]

The last log you see is the line just above this.

![image](https://user-images.githubusercontent.com/9111975/75249854-fbf15c80-57ce-11ea-8a57-d519f883c8ba.png)

[2020-02-25 14:22] ciaranevans commented on #1873
@sgillies sorry for putting this here, probably the only place I know that there's some sort of cross-over usergroup with AWS and Rasterio 😆

[2020-02-25 14:33] vincentsarago commented on #1873
@ciaranevans what happens if you create the boto3 session outside the scope of the function

[code]

The only thing I saw when using a lot of // lambda call, is that the lambda stays hot and I see some leaking memory but my understanding is that it's due to some caching or garbage collector not being cleared (see: https://github.com/developmentseed/cogeo-watchbot-light/issues/1), I've been able to

[2020-02-25 14:38] ciaranevans commented on #1873
@vincentsarago I noticed you linked StackImpact, have you had much luck with it? I was hesitant to just start using it.

I was originally creating the session outside of the handler scope, but that gave me the same error. I think it's like you said and we're getting memory leaks as the cold starts always pass if I'm not doing parallel invocations.

The most peculiar thing is that AWS doesn't tell

[2020-02-25 14:41] vincentsarago commented on #1873
@ciaranevans I haven't tried yet but I will at one point because I really want to understand what's going on.

[2020-02-25 14:51] ciaranevans commented on #1873
@vincentsarago well I'm glad (but also sad) that you're experiencing the same issues, at least I know it's not completely down to my code 😆

I'd be interested to hear about any insights you get regarding this stuff! You're one of the only people I know doing 'similar' processing!

[2020-02-25 18:45] sgillies commented on #1872
Done! https://pypi.org/project/rasterio/1.1.3/#files

[2020-02-25 18:45] #1872 closed

[2020-02-25 18:47] #1815 closed

[2020-02-25 18:47] #1721 closed

[2020-02-25 18:47] #1797 closed

[2020-02-25 19:07] sgillies commented on #1873
@ciaranevans are you willing to turn your logging up another notch to see what rasterio's logger reports at DEBUG level. It could also be helpful to see GDAL's verbose curl logs, which requires setting `CPL_CURL_VERBOSE=True` in your `Env()`.

[2020-02-25 19:12] ciaranevans commented on #1873
@sgillies sure will do! I'm back home now but I'll set it all up tomorrow at work and let you know what I get out!

[2020-02-25 22:53] geowurster commented on #1721
For the sake of the record, this ticket is currently marked as closed due to https://github.com/mapbox/rasterio/commit/b50b1cca170256f5bcad9e7edc2999604966053a, however that commit contains changes that were reverted in https://github.com/mapbox/rasterio/pull/1871 along with some alterations in behavior.

@sgillies looks like this line in `CHANGES.txt` needs to be removed/updated:

https://github.

[2020-02-26 10:31] ciaranevans commented on #1873
@sgillies anywhere I can send you this log dump?

[2020-02-26 14:19] zacharyburnettNOAA opened #1875 "issue creating transform with `rasterio.transform.from_origin()`"
## Expected behavior and actual behavior.

When doing
[code]
I expect the resulting transform to be
[code]
however, it is
[code]
instead.

I believe this is causing issues with `rasterio.mask.mask()` as well.

## Rasterio version and provenance

I have Rasterio 1.0.28 installed against GDAL 2.4.2 on an Anaconda env with Python 3.6.7, if that is helpful.

[2020-02-26 15:41] sgillies commented on #1875
@zacharyburnettNOAA the representation of rasterio's affine transformation matrix is explained at https://rasterio.readthedocs.io/en/latest/topics/migrating-to-v1.html#affine-affine-vs-gdal-style-geotransforms. It's correct.

One known issue with from_origin is that it assumes a north-up raster. The sign of ysize would need to change to describe a south-up raster.

[2020-02-26 15:41] #1875 closed

[2020-02-26 15:49] sgillies commented on #1873
Can you zip it and attach it here @ciaranevans ? That way @vincentsarago will have access too.

[2020-02-26 16:02] zacharyburnettNOAA commented on #1875
oh you're right, I had the order of the affine matrix flipped around my head for some reason, sorry. That would explain my problems with `mask`

[2020-02-26 17:22] mihi314 opened #1876 "Concurrently reading from COGs through vsicurl fails with a segfault in 1.1.3"
## Expected behavior and actual behavior.
Concurrently reading from COGs through vsicurl fails with a segfault or other error:
```*** Error in `python3': double free or corruption (!prev): 0x00007fddb4088da0 ***```

The accompanying backtrace:
<details>
<summary>Click to expand</summary>

[code]

</details>

There are a few conditions needed for the issue to pop up:
* Only occurs when fiona is imp

[2020-02-26 18:36] sgillies commented on #1876
@mihi314 sorry about the trouble and thank you for the traceback. I've found a few other issues and discussions that look related, like https://github.com/openssl/openssl/issues/2809, and am digging into them.

Fiona 1.8.13.post1 and rasterio 1.1.3 introduced GDAL 2.4.4 in their wheels. There is a small chance this is a GDAL bug and I will look into that as well.

[2020-02-27 10:32] mihi314 commented on #1876
Thanks for looking into this!

I've tried some more things and noticed that the reading part is not strictly necessary. The error also occurs when just opening the file, without reading anything. Also with non-white images. Although much less reliably. So it might be somewhat related to https://github.com/OSGeo/gdal/issues/1244 after all?

[2020-02-27 16:52] sgillies commented on #1876
@mihi314 thanks for providing the program. I've been able to trigger the `double free or corruption (!prev)` error on my thinkpad (ubuntu 18.04) and rasterio 1.1.3 and fiona 1.8.13.post1 wheels from PyPI.

And I have another data point. After getting the crash, I edited the program to comment out the import of fiona, ran it again and see a thread-related GDAL error.

[code]

[2020-02-27 18:59] sgillies commented on #1876
I've updated the test program so that we're using the latest and greatest Python modules.

[code]

This will produce the crash with rasterio 1.1.3 and fiona 1.8.13.post1.

If I downgrade fiona to 1.8.13, which has GDAL 2.4.3, I cannot produce the crash. This seems to be a clue that there is a bug related to GDAL 2.4.4.

[2020-02-27 19:10] sgillies commented on #1876
I downgraded to rasterio 1.1.2, which also has GDAL 2.4.3, and can produce the crash. It's not specific to GDAL 2.4.4. Looks to me like a function from fiona's copy of libgdal or libcurl is being called unexpectedly and results in some operation on uninitialized data. (waves hands)

[2020-02-27 19:35] sgillies commented on #1876
Here's the backtrace I'm looking at. A function in rasterio's libgdal calls a function in fiona's libcurl (we're starting to go off the rails right there), which then eventually calls a function in rasterio's libgdal (a curl callback maybe?). And... splat.

[code]

[2020-02-28 00:00] sgillies commented on #1876
I'm unable to reproduce the crash on my macbook using rasterio 1.1.3 and fiona 1.8.13.post1 wheels (GDAL 2.4.4). Looks like the differences between curl and openssl in the wheels are important.

[2020-03-02 14:53] glostis opened #1877 "vsis3 cache not cleared after AWS credentials/region change"
## Expected behavior and actual behavior.

Sorry for the unclear title of the issue, it isn't easy to describe in a single sentence.

The situation I encounter is the following: in a given Python session, if I get a `RasterioIOError` while trying to open a file on S3 (due to a `CPLE_AWSSignatureDoesNotMatchError` error triggered by an incorrect region name for example), I will keep getting a `Rast

[2020-03-02 16:15] sgillies commented on #1877
@glostis like you, I think it's possible that vsi caching may be involved. I think you should turn on the verbose curl logs and see whether a cache hit can be seen. `CPL_CURL_VERBOSE=YES python snippet.py`.  Does your fake S3 server have logs? Do you see multiple region requests there?

[2020-03-02 19:18] glostis commented on #1877
Following your advice, I have looked at the server-side logs, and at the GDAL CURL logs.
They both show the same information, which is:

1. When I first try to open the file with the bad region name, GDAL makes 2 GET requests:
[code]
If I then try to open the same file within the same python session, no further HTTP calls are made, even if I change the region name to the good one (i.e. nothing is

[2020-03-02 19:54] sgillies commented on #1877
@glostis thanks for the report. Have you tried using the CPL_VSIL_CURL_NON_CACHED option mentioned in https://gdal.org/user/virtual_file_systems.html#vsicurl-http-https-ftp-files-random-access?

I've been thinking about calling https://gdal.org/api/cpl.html#_CPPv417VSICurlClearCachev when a rasterio Env is exited. This wouldn't help the code as you've written it but would give you the option to us

[2020-03-02 20:08] glostis commented on #1877
@sgillies I've just tried running my snippet with `CPL_VSIL_CURL_NON_CACHED=/vsis3/bucket/alpha.tif`, and it solves the problem!

However, it is quite cumbersome to use in "real life" because you need to specify the filenames of all the files that you want to access.

Calling `VSICurlClearCache()` at the exit of an Env context would seem a good solution to me. I think it would help my code as I've

[2020-03-02 20:20] glostis commented on #1877
Now that I understand the issue a bit more clearly, I wonder if there is not something that could be fixed in the GDAL caching mechanism? When we change the region name, we essentially change the headers of the requests made to the server, so GDAL should not use the cached responses, it should "know" that the requests are different.

I don't know anything about GDAL's caching mechanism however and

[2020-03-03 14:23] ciaranevans commented on #1877
@glostis you mentioned you'd tried `VSI_CACHE`, what values have you tried? Just curious :)

[2020-03-03 14:39] glostis commented on #1877
@ciaranevans I have tried to set `VSI_CACHE=FALSE` in order to solve the issue I was describing, but I've since seen in the GDAL source code that `FALSE` is the default value so that explains why it had no effect in my case :)

[2020-03-03 14:41] ciaranevans commented on #1877
@glostis interesting! We've got it as `TRUE` but I don't think we've had an issue when it's been `FALSE`. Not a useful message from me unfortunately, hope it gets worked out!

[2020-03-03 15:16] sgillies commented on #1877
@glostis it's possible that headers aren't considered when making hash keys. Are you looking into this in GDAL?

I have been thinking a little more about having the VSI and curl caches cleared on Env exit... what you think about a flag for this that defaults to False? We could even add a flag for flushing the raster cache https://gdal.org/doxygen/gdal_8h.html#ad19e351b5fc67513ea36bf6a60f1120d. The

[2020-03-03 15:43] glostis commented on #1877
@sgillies I've looked around in the GDAL codebase to try and understand where the decision to serve a cached response is done, but I haven't managed to pinpoint it to a single function. I'll try to come up with a code snippet that uses `python-gdal` only to demonstrate the problem and open an issue there.

I completely agree that it is important to keep backward compatibility for `rasterio` users

[2020-03-04 09:39] glostis commented on #1877
I've managed to make a much simpler example of the issue that doesn't require setting up a fake local S3, and opened an issue upstream: https://github.com/OSGeo/gdal/issues/2294

[2020-03-04 10:10] mihi314 commented on #1876
Yes, seems to have something to do which the shared libraries that get loaded.

I tried comparing the combination rasterio==1.1.3 and fiona==1.8.13.post1 with rasterio==1.1.3 and fiona==1.8.13. The first case is the failing one, the other one works. When looking at the relevant opened libraries with strace, I see the following difference:

rasterio==1.1.3, fiona==1.8.13.post1:
[code]

rasterio==1.

[2020-03-05 00:15] Kirill888 opened #1878 "Incorrect handling of `int8` data when using InMemoryRaster"
## Expected behavior and actual behavior.

GDAL treats `signed byte` data in a special way, there is only one 8-bit data type `GDT_Byte`, unsigned by default. To represent signed version one needs to set `PIXELTYPE='SIGNEDBYTE'`. When `int8` support was added in #1595 `InMemoryRaster` class was not adjusted to support `int8` inputs. Calls to `GDALCreate` need to include `options` dictionary simila

[2020-03-05 00:29] Kirill888 commented on #1878
Same issue with `BufferedDatasetWriterBase`

https://github.com/mapbox/rasterio/blob/74bd625dfd984ca090a1ee02f4fc1940b11d7ce8/rasterio/_io.pyx#L2027-L2029

by the way, happy to do a PR for this.

[2020-03-05 02:29] Kirill888 commented on #1878
I have a patch for this here:

https://github.com/Kirill888/rasterio/commit/8885c9f1578604367dbd5bec43a54b1ddd1d9c50

However this didn't fix reproject with `int8` problem, I suspect that this might be a GDAL limitation, changing `dtype='int16'` produces correct result in the sample notebook I linked above, so I guess `rasterio` is passing on all the arguments correctly, but GDAL warp is not check

[2020-03-05 02:54] Kirill888 commented on #1878
`nodata` handling for `int8` in gdal appears to be broken:

`GDALAdjustValueToDataType` is used to enforce correct data range

Function is defined here:
https://github.com/OSGeo/gdal/blob/04a8d012807a2d2dd66085e68b167e3ade164348/gdal/gcore/gdal.h#L92

and used here by warp:

https://github.com/OSGeo/gdal/blob/04a8d012807a2d2dd66085e68b167e3ade164348/gdal/apps/gdalwarp_lib.cpp#L1758-L1761

There is

[2020-03-05 17:28] sgillies commented on #1878
@Kirill888 can you make a PR? Even if there is an underlying GDAL issue, it would be good to get this in place.

[2020-03-05 17:46] brendan-ward commented on #1878
This looks like it affects more things than just `InMemoryRaster`.

For an `int8` GeoTIFF that has nodata = -128, boundless reads with `fill_value` do not give correct results:

[code]

[2020-03-05 19:48] davidbernat opened #1879 "Rasterio/GDAL dataset identifiers: jp2 is slower to range read than download in full?"
## Expected behavior and actual behavior.

The following code accesses a jp2 file on Google Cloud Storage. Using the "https://" identifier downloads the metadata at rasterio.open(). The use of Window() within read should (for supported datatypes) only download the data within the window. Instead, you can see that this usage actually takes much longer than downloading the entire data.

For comparis

[2020-03-05 19:54] vincentsarago commented on #1879
Hi @davidbernat
you might find https://medium.com/@_VincentS_/do-you-really-want-people-using-your-data-ec94cd94dc3f interesting.

JPEG2000 is not a great format to be accessed remotely but I believe the time difference you are seeing here is also due to cache, you can try disabling the cache by doing
[code]

[2020-03-05 20:18] davidbernat commented on #1879
Right. Thanks for your reply @vincentsarago . A few questions:

1. Regarding the Medium post: yes, we must all cry in our team over the awfulness of jp2 from the Sentinel-2 dataset. CoG FTW and all. If I am understanding you correctly, you are saying that GDAL's handling of remote calls (c.f. "100 calls per band") is somehow related to the larger filesize.

2. I used you cache suggestion. Strangel

[2020-03-05 20:47] vincentsarago commented on #1879
(😭 I wrote a full response and then deleted 😭)

Yes, the bigger the Jp2 is the more GET request GDAL/Jp2 drivers will do

Yes because before removing the cache, you were first doing the partial read and that was filling the cache.

so direct HTTP download need less HTTP GET request from GDAL but I guess this could be configurable via Env variable

This is not rasterio business to tell what format

[2020-03-05 22:03] Kirill888 commented on #1878
I have raised issue on `osgeo/gdal`, basically warping is not expected to work with `int8`. But maybe this will still fix some issues with buffered writers? I could not find an example of something being broken before this change that gets fixed by this change, although I haven't looked very hard.

[2020-03-05 22:08] Stepp1 opened #1881 "Rasterio coerces netCDF float32 data to int16"
## Expected behavior
When rasterio opens netCDF variable of type float32 it returns an array of type float32.

## Actual behavior

When rasterio opens netCDF variable of type float32 it returns an array of type int16.

## Steps to reproduce the problem.

Please see attached notebook

## Operating system

Ubuntu 18.04.3  and MacOS 10.15.3

## Rasterio version and provenance
See attached notebook

C

[2020-03-06 00:19] sgillies commented on #1881
@Stepp1 can you check what the gdalinfo program reports about this file? On my computer gdalinfo and rio-info both report int16 for the data type of this file's analysed_sst variable. This suggests to me that it's a GDAL driver bug.

[2020-03-06 03:49] vincentsarago commented on #1881
@Stepp1 the data you share is tagged as int16 (gdalinfo and rasterio). The netcdf has a `scale_factor` and `offset`which is usually use in NetCDF to translate `int` data to `float`.

[code]

In your example you are using xarray to open the dataset, which will apply the rescaling + offset factor

[code]

To get the same thing from xarray and rasterio you need to apply the rescaling
[code]

[2020-03-06 03:51] vincentsarago commented on #1881
@sgillies note, maybe we could add an `unscale=True` option in `.read()` or `rasterio.open`

[2020-03-06 15:13] Stepp1 commented on #1881
@vincentsarago using your solution rasterio manages to read the `test.nc` values as float32.

Nevertheless, the resulting values are different that the ones given by xarray (which are correct).

I already knew rioxarray but had encountered an issue using it (spatial_dims not recognized)

[2020-03-06 15:36] vincentsarago commented on #1881
@Stepp1 I think the values are the same it's just that the geometry is inverted !

[code]

I wonder if this has to do with the warning displayed by GDAL

[code]

[2020-03-06 17:52] sgillies commented on #1881
@vincentsarago thanks for the diagnosis!

I'm very reluctant to add any NetCDF-specific options to rasterio. But I think adding a scaling flag to read(), that calls on https://gdal.org/api/gdalrasterband_cpp.html#_CPPv4N14GDALRasterBand9GetOffsetEPi, would be a nice format-agnostic approach.

[2020-03-06 18:03] vincentsarago commented on #1881
`scale` and `offset` are not NetCDF specific. We already set those 2 values when we open a dataset so I'm not sure what you mean by ` But I think adding a scaling flag to read(), that calls on GetOffset`. Are you saying an `unscale=True` option is valuable ?

In the link you shared GDAL says:

I'm totally 👌 with this and thinking more about this, I guess we may end up in a 🕳 if we start adding the

[2020-03-06 18:07] sgillies opened #1882 "Surface scaling and offset of dataset values in API"
Background: #1881.

I see at least three approaches.

1. Add a scaling flag to DatasetReaderBase.read.

If the flag is true and GDAL detects an offset != 0 and a scaling != 1 we can operate on read arrays to return an array of scaled and offset values. This array's dtype might differ from the dataset's stated dtype.

2. Add scaling and offset properties to DatasetReaderBase and a method to apply t

[2020-03-06 18:08] sgillies commented on #1881
As the initial report is incorrect (rasterio doesn't coerce float32 to int16, but rather fails to convert int16 to float32) I'm closing this in favor of #1882.

[2020-03-06 18:08] #1881 closed

[2020-03-06 19:40] davidbernat commented on #1879
This is informative. Thank you.

[2020-03-06 19:58] sgillies commented on #1879
There is one aspect about this that is rasterio-related.

GDALOpenEx (the C API function we all use to open datasets) acts on the argument  "https://example.com/file.jp2" by downloading the file to a temporary location and then opening it from there. To get the HTTP range reads that make cloud-optimized datasets work, you have to pass "/viscurl/https://example.com/file.jp2". As @vincentsarago poin

[2020-03-07 00:16] sgillies commented on #1876
@mihi314 thank you for that update. I am not sure why we have libcurl-ed5c192c.so.4.4.0 in the fiona 1.8.13 wheel and libcurl-ea538880.so.4.4.0 in the rasterio 1.1.3 wheel, I thought I was compiling curl the same way in each wheel builder, I'll look into that. I'm slightly optimistic that making sure the libs have unique hashes might help a lot.

[2020-03-09 09:20] ciaranevans commented on #1873
Hi @sgillies not sure if it got to you...

Attached here 😄
[pipeline_issues.zip](https://github.com/mapbox/rasterio/files/4305694/pipeline_issues.zip)

Thanks for taking a look at this!

Zip contains:
* **example_step_failure.png** – the Step Function logs I get out whenever this function fails, you’ll see that 25 gives an unknown error, 28 fails the retry (it doesn’t produce any CloudWatch logs e

[2020-03-09 14:38] himat opened #1883 "Cannot create a nan value"
## Expected behavior and actual behavior.

I loaded a geotiff, and am trying to identify which pixels are nodata values, and they should be nan, but I am not able to create a value that represents a nan.

For example: I expected to be able to check for nan values to replace them in the dataset, but I'm not able to create a value that is equal to it.
i.e. I want to be able to do `label_arr[label_ar

[2020-03-09 15:28] sgillies commented on #1883
First of all, rasterio 1.0.28 is no longer supported and we won't act on any reports unless the problem also manifests in rasterio > 1.1.0.

You would see the same results with rasterio 1.1.3. It all comes down to the fact that the dataset's nodata attribute is a Python float, not a Numpy scalar. Remember, Python's `is` compares the ids of the objects on the left and right hand side. Two instances

[2020-03-09 15:28] #1883 closed

[2020-03-09 15:43] sgillies commented on #1873
@ciaranevans In the example_step_failure.PNG picture I see botocore raising an exception where its AWS client-server connection fails. I don't see rasterio involved at all. Am I missing something?

Maybe there's an AWS misconfiguration or some transient network problems on the AWS infra?

Do you have a suspicion that rasterio or GDAL are involved in the failure with no determined cause? If the AWS

[2020-03-09 15:49] ciaranevans commented on #1873
@sgillies the exception raised is indeed not rasterio related, it's more showing that for some reason, after the first failure the AWS client stuff is kaput.

I do have that suspicion, but I'm trying to rule out rasterio/aws/me and it's proving to be a bigger pain than I thought 😆

Maybe the network is flaking out, totally understand the vsicurl stuff is relatively new! Was more trying to rule out

[2020-03-09 18:04] himat commented on #1883
That works! Thanks!

However, you said "the dataset's nodata attribute is a Python float, not a Numpy scalar."
However, like in my first piece of code, the nodata value is a Numpy float, so shouldn't I just be able to use `is`?
`print(type(nodataval)) # <class 'numpy.float32'>`

[2020-03-09 23:19] snowman2 commented on #1882
I vote for #1. This may be useful: https://github.com/corteva/rioxarray/pull/69

[2020-03-10 00:00] sgillies commented on #1882
@snowman2 I'm attracted option 1 but see a few complications: a) how do you know if an array has been scaled or not? Maybe `scale_data=True` isn't applicable because there are no scaling parameters; and b) the scaling results could conflict with read's dtype argument. Option 2 is less easy for users, maybe, but less complicated and more explicit about what operations have been applied.

[2020-03-10 00:23] snowman2 commented on #1882
There are always values for `scales` and `offsets` even if a scale and offset is not explicitly defined. If there aren't any values, than `scales` defaults to an array of `1`'s and offsets defaults to an array of `0`'s.

For `xarray` and `rioxarray` it is always `float64` when `mask_and_scale=True` regardless of input dtype. Consistency in behavior across libraries is always a plus.

[2020-03-10 00:37] snowman2 commented on #1881
Mind opening an issue for this on the [repo](github.com/corteva/rioxarray)?

@Stepp1, you can use [rioxarray.open_rasterio](https://corteva.github.io/rioxarray/stable/rioxarray.html#rioxarray-open-rasterio). The `mask_and_scale` argument should read it in as your would expect:

[code]
Here is what the repr for `xds` looks like:
[code]

[2020-03-10 00:41] snowman2 commented on #1881
Nevermind about this - just remembered you already did and it has been resolved.

[2020-03-11 15:19] glostis commented on #1877
@sgillies the issue has been fixed upstream in https://github.com/OSGeo/gdal/commit/5f22744da4d967c5a4f8699997dc0a697df5ee35

[2020-03-11 15:56] sgillies commented on #1877
@glostis thanks for figuring this one out! I'm going to close now that I've made a ticket to patch GDAL in the binary wheels.

[2020-03-11 15:56] #1877 closed

[2020-03-12 15:45] himat opened #1884 "Tif has no mask"
## Expected behavior and actual behavior.

The [docs](https://rasterio.readthedocs.io/en/latest/topics/masks.html) say: "For every band of a dataset there is a mask".

However, for a tif I have, I am not getting a mask.
For other tifs I am getting a mask, so it's strange that for one of the tifs, it's not working.

## Steps to reproduce the problem.

<output for each line is next to the line>

[co

[2020-03-12 16:40] sgillies commented on #1884
@himat `ds.read(1, masked=True)` returns a numpy masked array in your case, clearly, otherwise you'd get an AttributeError when to try to access its mask. The mask is false to indicate that every value in the masked array is a valid data element. This is consistent with numpy's masked array constructors. See for example:

[code]

Please do not bring these usage questions to the issue tracker. The

[2020-03-12 16:40] #1884 closed

[2020-03-12 16:55] nate-benton90 commented on #1087
@apiszcz the second link is broken

[2020-03-13 03:03] himat commented on #1854
Why was this closed? There is a clear discrepancy here in the documentation given.

[2020-03-13 03:13] vincentsarago commented on #1854
I'm not sure why it was closed but feel free to add open a PR if you have time!

[2020-03-13 15:53] snowman2 opened #1885 "Accept object with `__geo_interface__` in geometry builder?"
https://github.com/mapbox/rasterio/blob/74bd625dfd984ca090a1ee02f4fc1940b11d7ce8/rasterio/_features.pyx#L620-L624

The methods would always return dictionary representations, but I was wondering what your thoughts were on accepting something like a shapely geometry object with a `__geo_interface__`?

[2020-03-13 16:16] brendan-ward commented on #1885
@snowman2 we grab the `__geo_interface__` if available [here](https://github.com/mapbox/rasterio/blob/1.1.3/rasterio/features.py#L293) for `rasterize` and pass the object from that  into the Cython layer to the geometry builder.

This should allow shapely geometry objects and other things that provide a '__geo_interface__` to be supported for `rasterize`.

Are you finding this is not working as ex

[2020-03-13 16:22] snowman2 commented on #1885
Was thinking about it being accepted everywhere a geometry is accepted in rasterio. For example `transform_geom`.

I am not partial to where it is implemented. I just found a place that I thought was a generic enough spot that would be able to handle it such that the behavior propagates everywhere without having to add code everywhere. But, doesn't necessarily have to be added there.

[2020-03-13 16:23] sgillies commented on #1854
@himat thanks for speaking up about this! I can't remember why I closed this one, it may have been a wrong click in the GitHub UI. Both the "latest" and "stable" docs are wrong, and in different ways. I'll clear this up now.

[2020-03-13 16:32] #1854 closed

[2020-03-13 16:48] brendan-ward commented on #1885
I think we should add `__geo_interface__` support to `transform_geom` in the Python layer.

It might be good to add a little more validation at the same time:
[code]

Looking over the `rasterize` implementation, it is more ideal to handle and then validate the geometry in the Python layer rather than in Cython.

[2020-03-13 17:09] snowman2 commented on #1885
One thing to note is that the `transform_geom` accepts an array of geometries (#1825). That could potentially impact performance iterating over the array in python vs cython. If it is just as performant in python, then moving it there works for me.

[2020-03-13 17:15] brendan-ward commented on #1885
@snowman2 Good catch (looks like our docstring needs an update).

I'm not sure about performance impacts in this case, that would need to be tested.  I think it is more likely that the bottleneck would be geometry validation, since it inspects various properties of the geometry.  It isn't strictly necessary for `transform_geom` but I think the reason that we added it to `rasterize` is that it allo

[2020-03-13 17:25] snowman2 commented on #1885
Segfaults shouldn't be happening in the cython code when raising an exception. It may take some tweaking depending on the situation, but they can propagate up through without segfaults.

[2020-03-13 17:29] brendan-ward commented on #1885
I don't remember the specifics, but it wasn't exceptions that we were specifically handling that were causing segfaults, but rather that we were handing off to GDAL geometry object that were not completely valid and they were failing within internal GDAL operations...

[2020-03-13 17:35] snowman2 commented on #1885
Makes sense.

[2020-03-13 18:24] sgillies opened #1886 "CI builds breaking"
https://travis-ci.org/github/mapbox/rasterio/jobs/662038320#L4925.

This has to be a change in one of our dependencies.

[2020-03-13 20:51] sgillies commented on #1886
This is a manifestation of https://github.com/pallets/click/issues/1499. Fix coming up.

[2020-03-13 21:11] sgillies commented on #1886
See follow up commit 6ddd82b that makes the test compatible with click versions 7.0.0 and 7.1.0.

[2020-03-16 19:16] dazza-codes opened #1889 "Consistent bounds, index, xy API"
[code]

Lastly, could the `src.bounds` use attribute names that match those of the `src.xy(offset="NAME")` identifier; i.e. use consistent `lower` or `bottom` and `upper` or `top`.

### versions

These are older versions, since updates to gdal, proj and rasterio are breaking some unit tests for reasons I need to punt on for now.

[code]

### Related issue(s)

#1726 could be related to this and poi

[2020-03-16 22:38] sgillies commented on #1886
Resolved by #1890 .

[2020-03-16 22:38] #1886 closed

[2020-03-18 17:49] glostis opened #1891 "src_transform ignored by WarpedVRT?"
## Expected behavior and actual behavior.

I use `WarpedVRT`s to reproject and crop [Sentinel-1 GRD images on AWS](https://registry.opendata.aws/sentinel-1/). These images don't have a geotransform, but they have GCPs, and thanks to #1773 we can estimate a transform from the GCPs.

I use something like this (inspired by what @vincentsarago does in [rio-tiler](https://github.com/cogeotiff/rio-tiler

[2020-03-18 18:12] vincentsarago commented on #1891
@glostis indeed, this is interesting you can also totally remove any transform and you'll get the same result

[code]

[code]

As you pointed because we don't pass width and height to WarpedVRT, rasterio will go directly  to https://github.com/mapbox/rasterio/blob/6c9816cb10876cd25dd5c802a52490628adc0ec1/rasterio/_warp.pyx#L940-L943 and thus ignore input transform

[2020-03-18 18:22] glostis commented on #1891
@vincentsarago yes I've also seen that removing the argument has the same effect.

I've naively tried to force the `src_dataset`'s transform with this diff:
[code]

but that doesn't work because `src_dataset.transform` is a read-only attribute.

[2020-03-18 19:12] vincentsarago commented on #1891
other interesting notes, the transform resulting from gdalwarp is not equal to the one we get with `from_gcps`

`gdalwarp -ot float32 -multi -t_srs EPSG:4326 -tps  iw-vv.tiff iw-vv.vrt`
[code]

when using rasterio WarpedVRT we get
[code]

Not sure which one is the best one though.

- passing width, height and src_transfrom doesn't change anything

[code]
[code]

Summary of the BUG:
WarpedVRT doesn

[2020-03-18 19:20] glostis commented on #1891
The fact that `from_gcps` doesn't give the same result as `gdalwarp` is interesting indeed. Maybe the underlying GDAL function being used is not the same, or not called with the same parameters?

Concerning width and height, you need to also pass `transform` to `WarpedVRT` (which is then internally assigned to `self.dst_transform`) in order for the `src_transform` to be effectively taken into acco

[2020-03-18 19:51] vincentsarago commented on #1891
thanks @glostis I've updated my previous comment.

so with the file I'm using the transform created from gcps has `78.20` value while with gdalwarp it's `75.61`

when checking the gcps, the value `78.20` comes from the first gcps point, which IMO make sense.
[code]

[2020-03-19 18:21] glostis commented on #1891
@vincentsarago `GCPsToGeoTransform` is defined here: https://github.com/OSGeo/gdal/blob/master/gdal/gcore/gdal_misc.cpp#L2371-L2690, but this file also contains what looks like a different implementation of more or less the same problem: https://github.com/OSGeo/gdal/blob/master/gdal/alg/gdal_crs.cpp

This could be why the two methods give different results?

But maybe we could take the `GCPsToGeo

[2020-03-19 22:29] CamiloEr commented on #1830
I think this is related to this topic: Migrating to Rasterio 1.0
https://github.com/mapbox/rasterio/blob/master/docs/topics/migrating-to-v1.rst

So, following the ```Reprojection example``` of the rasterio web page, the GDAL-style geotransforms:
[code]
has to be changed by the affine.Affine() form:
[code]
and so it works.

[2020-03-20 19:43] #1830 closed

[2020-03-20 19:44] sgillies commented on #1830
Docs are rebuilding now, should be only a few minutes until the "latest" docs are re-built. The "stable" docs won't be updated until we have a 1.1.4 release.

[2020-03-23 21:47] sgillies opened #1892 "Quit use of mapbox S3 bucket in test_env.py"
Once upon a time we were using `s3://mapbox/rasterio/RGB.byte.tif` to test that we could open a GeoTIFF on S3, but now it's only used to check that we're not authenticated: https://github.com/mapbox/rasterio/blob/master/tests/test_env.py#L794-L796. Let's assert we're unauthenticated in another way, such as by using the AWS SDK.

[2020-03-23 23:24] mark-boer commented on #1811
I have a question after reading the concurrent docs. What is the purpose of the `rasterio.Env` in the example? Perhaps this could use a comment?

Related the actual issue: Could this use an another look? I can open a PR.

[2020-03-24 23:27] NikosAlexandris opened #1893 "Retrieving metadata tags for a single (HDF5) subdataset"
Consider a somewhat large [HDF5 file structure](https://gist.github.com/NikosAlexandris/29461b3dcd1cc10d28dc413797a0dff9):
[code]

Reading this file with `rasterio` lists subdatasets and tags as a property and a method respectively, in a new object. For example,
[code]
stores the _Subdatasets_ under `hdf5.subdatasets` while the _Metadata_ can be retrieved via `hdf5.tags()`.

If one tries to load,

[2020-03-25 00:41] NikosAlexandris commented on #1893
Even GDAL seems not to handle this. See also https://github.com/OSGeo/gdal/issues/2346.

[2020-03-25 13:36] SaschaHeyer opened #1894 "module 'rasterio' has no attribute 'open'"
## Expected behavior and actual behavior.
rasterio should open the file

## Steps to reproduce the problem.
pip install rasterio

with rasterio.open(".sample.tif") as src:

## Operating system
Mac OS X 10.13.6.

## Rasterio version and provenance
rasterio==1.1.3

[2020-03-25 13:54] SaschaHeyer commented on #1894
solved

[2020-03-25 13:54] #1894 closed

[2020-03-25 14:06] NikosAlexandris commented on #1893
GDAL can do this.

[2020-03-25 15:33] sgillies commented on #1893
@NikosAlexandris thank you for the excellent report and engagement with GDAL. This is definitely something we need to fix in rasterio.

[2020-03-26 03:39] NikosAlexandris commented on #1893
@sgillies Here's how I use currently GDAL: https://gitlab.com/thermopolis/public/ecor/-/blob/6ad5a2c4f6e1bdb00d8b5c46265d82fda0ce6ee3/ecor/metadata.py#L28

For what is worth, installing `gdal` in a Python virtual environment is somewhat challenging. Version 3.0.4 fails to compile, and if it does it takes a lot of time. I need to test/work in an environment without `sudo` which makes things harder.

[2020-03-26 07:23] drnextgis commented on #1893
@NikosAlexandris [pygdal](https://github.com/nextgis/pygdal) is virtualenv and setuptools friendly version of standard GDAL python bindings.

[2020-03-26 09:20] NikosAlexandris commented on #1893
Thank you so much the tip @drnextgis! I managed, somehow, to install the old version of pygdal that corresponds to the system's GDAL available version. I can move forward!

[2020-03-26 17:03] sgillies commented on #1893
@NikosAlexandris thank you for posting your gdal.py usage. In fact, it is possible to do the same with rasterio, but due to a documentation bug the rasterio docs don't show how. The `.tags()` method has an optional `bidx` argument and you'll want to use it like `subdataset.tags(bidx=1)`.

https://github.com/mapbox/rasterio/blob/master/rasterio/_base.pyx#L987

But due to a defficiency in the Cython

[2020-03-26 18:30] NikosAlexandris commented on #1893
Thank you. A bit unfortunate but _c'est la vie!_  I did consume the rasterio documentation extensively. I was actually "convinced" it is possible, but I had to move on with my work so I dived in what was more obvious to do.

Thanks for reminding that _the source code itself is the best documentation_ :-). I should have insisted a bit more searching/reading. The argument might not appear, however,

[2020-03-26 19:29] #1893 closed

[2020-03-26 19:42] NikosAlexandris commented on #1893
For the sake of completeness:
[code]

[2020-03-27 20:56] sgillies commented on #1811
@snowman2 @ardieorden I spent some time today updating my concurrency example gist. What do you think about what's in https://gist.github.com/sgillies/b90a79917d7ec5ca0c074b5f6f4857e3 now? You can easily see the interleaving of read and writes by using a pair of print statements and you can also time the program and see an increase in throughput with number of threads. The program runs 6x as fast

[2020-03-27 20:59] sgillies commented on #1811
@mark-boer without an Env(), GDAL errors don't go to the Python logger. Since that doc was written, we've changed rasterio so that there are implicit Envs for the contexts created by `with rasterio.open() as x:`. That particular Env can be deleted.

[2020-03-28 00:38] snowman2 commented on #1811
@sgillies  and @ardieorden, it looks like both of your examples allow for concurrent reading. However, I noticed that writing is not something that is done. Is concurrent writing something that should be avoided? What are some of the problems that arise when attempting to do concurrent writing?

[2020-03-28 19:32] mark-boer commented on #1811
@sgillies (thx for the answer on Env ;-)) is there a performance gain when you do the concurrent reading? The example in the link (I added it below) shared one filehandle (DatasetReader) with multiple threads, using a lock to prevent race conditions. I mean the creation of the additional filehandles (1 per window) should result in some overhead right?

Also what is the purpose of the chunking with

[2020-03-29 22:26] liampingu commented on #1791
This was causing me problems, so for anyone that just wants a quick hack to make it run, edit the end of rasterio/path.py:
[code]

[2020-03-31 04:33] khornlund opened #1896 "Writing per-band masks"
I'm trying to write out a multi-band masked numpy array, and can't find a way to preserve each band's mask.

## Steps to reproduce the problem.

[code]
[code]
We'll try write a simple (2, 2, 2) masked array into a dataset.
[code]
[code]
The mask is preserved for the first band, but the second band has no masked values.

What's the proper way to do this? Am I doing something wrong? It doesn't look

[2020-03-31 05:50] vincentsarago commented on #1896
Hi @khornlund
Thanks for opening this issue. We usually use https://rasterio.groups.io/ when facing this kind of problem.

The GDAL Mask specification (described in https://gdal.org/development/rfc/rfc15_nodatabitmask.html) says that there can be only one mask layer per dataset and is shared with all the data band. Thus you cannot save `per band` mask.

I suggest to use `nodata` value.

[2020-03-31 06:47] rbavery opened #1897 "rasterio 1.1.7 does not preserve CRS information, older version does"
## Expected behavior and actual behavior.

rasterio version 1.0.23 (installed from pypi) can correctly read in a Landsat ARD geotiff with the CRS info

[code]

But with the newest version, 1.1.7 (installed from conda), rasterio.open does not read the CRS info. The crs is None.

[code]
The file is linked here: https://ucsb.box.com/s/wyda693k599g2fww2ybrnf7c45mxk55s

[2020-03-31 17:21] sgillies commented on #1896
Thanks @vincentsarago ! That's right, there's only one per-dataset mask.

[2020-03-31 17:21] #1896 closed

[2020-03-31 17:24] sgillies commented on #1897
I can't reproduce the problem using a 1.1.3 package downloaded from PyPI.

[code]

[2020-03-31 17:26] #1897 closed

[2020-03-31 20:19] rbavery commented on #1897
Thanks for testing this @sgillies . I get a different error when I pip install rasterio where a GDAL ENV variable isn't set, so I'll move this issue to the rasterio conda feedstock github

[2020-03-31 20:52] rbavery opened #1898 "Proposal: switch from using rasterio.crs.CRS to pyproj.CRS"
Now that geopandas has switched to using prproj.CRS, it'd be helpful to have rasterio also use this as this same representation of CRSs. @nrweir has documented issues with converting between rasterio.crs.CRS classes and pyproj.CRS classes in this gist: https://gist.github.com/nrweir/cb42a44745ce00f2842b7bec7419280b

Long story short from the gist above is that if the CRSs don't have EPSG codes, th

[2020-03-31 21:13] vincentsarago commented on #1898
Hi @rbavery, the subject has already been adressed by @nrweir and @snowman2 couple weeks ago I think.

The problem is pyproj CRS is only present in the latest release of pyproj which HAVE to use proj4 version > 6.0. On the rasterio side this will means we will have to switch to a GDAL>=3.0 support which is a huge blocker.

previous discussion
- https://rasterio.groups.io/g/main/topic/interconverti

[2020-03-31 21:25] sgillies commented on #1898
Right. Rasterio should integrate better with the latest pyproj and use compatible PROJ 6/7 features, but rasterio will not directly use pyproj or any other C extension module that links GDAL or GDAL's own dependencies.

[2020-03-31 21:25] #1898 closed

[2020-03-31 21:36] snowman2 commented on #1898
@rbavery, this will likely help:
[code]

[2020-04-01 00:46] rbavery commented on #1897
It turns out this issue was from the VSCode debugger terminal not reading some GDAL configs properly.

[2020-04-01 10:19] vesnikos commented on #974
is this issue still open? I see a reference to 'tar' files in the supported schemes dict in path.py (or am I misinterpreting how it works?)
https://github.com/mapbox/rasterio/blob/d62805ec4963efa3d0e6813b4d2473c26062f1f4/rasterio/path.py#L12-L23

[2020-04-01 15:44] YuhangCh opened #1899 "Open remote cog file in docker image 'aliyunfc/runtime-python3.6' raise an error"
## Expected behavior and actual behavior.

 I expected to read the profile from a cog file store in alibaba OSS and raise an error below:
[code]
Alibaba function compute local debug logs show below :
[code]
## Steps to reproduce the problem.

Use docker image : aliyunfc/runtime-python3.6
[code]
Run scripts :
[code]
On my mac (10.15) ,create a new env ,install rasterio  then run scripts above , **w

[2020-04-01 19:59] sgillies commented on #974
@vesnikos that mapping concerns tar files on disk. I'm going to close this issue: in-memory zip seems to cover the bases well enough.

[2020-04-01 19:59] #974 closed

[2020-04-01 22:11] sgillies commented on #1899
@YuhangCh I found the problem in this warning: `CPLE_AppDefined in /vsicurl/https://bucketname.oss-cn-hongkong.aliyuncs.com/origin.tif:ZSTD compression support is not configured`.

The rasterio wheels on PyPI do not include support for ZSTD compression and so the origin.tif file cannot be read. I would guess that the rasterio installed on your mac comes from conda or you built it from a source dis

[2020-04-01 22:11] #1899 closed

[2020-04-02 09:38] YuhangCh commented on #1899
Thanks again, after switching the compression type, the script worked, I will try to install everything to make zstd available.

[2020-04-03 16:04] himat opened #1900 "Changing dtype of raster makes all values nodata"
## Expected behavior and actual behavior.

I expected all the values to be preserved, and just to now be floats instead of ints. But they were all turned into nodata instead.

Here's the output of the code below:

[code]

## Steps to reproduce the problem.

[code]

Here's a link to [download](https://www.dropbox.com/s/yz3jhg13b4ca7f0/in.tif?dl=0) the in.tif file. This code worked with other tifs w

[2020-04-06 08:41] julianaddison commented on #1681
hi @rbavery, i'm encountering the same error. Did you manage to figure out how to set the GDAL variable? I tried setting it as a linux environment variable `export VRT_SHARED_SOURCE=0` but it didn't work.

[2020-04-06 15:10] sgillies commented on #1681
@julianaddison can you upgrade to GDAL 2.4.4? that release has an important bug fix: https://github.com/mapbox/rasterio/issues/1828#issuecomment-552855809.

[2020-04-06 15:34] sgillies commented on #1900
@himat can you look a little more closely at the value of send_arr from `send_arr = in_arr.astype(rio.float32)` ? There could be some clue there. Can you also check to see if writing a not-masked array like `out_ds.write(send_arr.data)` helps?

[2020-04-06 16:26] himat commented on #1900
@sgillies
I updated these lines to print out `send_arr`, and it looks fine.
And I also tried writing `send_arr.data` and it made no change (everything still becomes nodata)
[code]

[2020-04-06 16:32] himat commented on #1900
I also tried this
[code]

[2020-04-06 16:44] himat commented on #1900
I tried again with a different file, and it's working fine. So do you have any suggestions on how to debug what's wrong with this specific file?

I ran `gdalinfo` on it, and got this
[code]

[2020-04-06 17:27] sgillies commented on #1900
@himat thanks for providing the file. I've figured out what the problem is: your source file's compression algorithm and photometric parameter are incompatible with float32 data. If you update your output profile like below, you'll be able to write a proper float32 file:

[code]

[2020-04-06 17:27] #1900 closed

[2020-04-06 18:04] himat commented on #1900
This is amazing, thank you!
I can also just delete profile["compress"] as well with no harm right?

[2020-04-08 01:58] julianaddison commented on #1681
@sgillies managed to figure out the what was causing the issue after some troubleshooting. I'm using the gdal package from SNAP (Sentinel Application Platform) to run this [code](https://github.com/yannforget/landsat-sentinel-fusion). There was a problem with the images i was saving through SNAP's graph processing tool. There was no error message generated but rasterio had trouble opening it.

Not

[2020-04-08 16:01] sgillies commented on #1681
Thanks for the followup @julianaddison !

[2020-04-09 13:36] snowman2 commented on #1248
Just ran into this again recently: https://gis.stackexchange.com/a/357686/144357

[2020-04-09 14:57] sgillies commented on #1248
@snowman2 it's not a rasterio regression. If PROJ_LIB is set, there won't be a problem.

[2020-04-09 15:07] snowman2 commented on #1248
I just tested that as I was pretty sure `PROJ_LIB` was set:
![image](https://user-images.githubusercontent.com/8699967/78909966-dd2aea80-7a49-11ea-9014-2dfd70acede5.png)

[2020-04-15 10:55] QuLogic commented on #1862
You're right; this seems related to GDAL, as after it was updated the build started passing again.

[2020-04-15 10:55] #1862 closed

[2020-04-17 10:34] mdhurst1 opened #1904 "Sampling outside the bounds of a raster"
## Expected behavior and actual behavior

Sampling raster at a series of points I wish to get nodata values returned when the point lies outwith the raster extent. Instead I get an error but it is inconsistent depending on where the outlying points sit.

[code]

## Steps to reproduce the problem.
The script below reproduces the error, while also giving examples that will execute and give the desir

[2020-04-17 16:52] sgillies commented on #1904
@mdhurst1 I'm sorry, but version 1.0.21 is no longer supported. Can you try to reproduce the problem with 1.1.3?

[2020-04-21 14:58] daniel-j-h opened #1907 "Should rio clip fill nodata at borders?"
Hello lovely people :hugs:,

I'm using `rio clip` to quickly cut out z10 tiles for raster image. The raster image is not divisible by the z10 tiles, so I expect the border tiles to contain nodata. But more importantly I expect all z10 tiles I cut out to be of the same dimension. This is not the case with rio clip right now.

Here is an example where I first convert my raster image to WGS84 and the

[2020-04-21 23:32] drnextgis opened #1908 "Cubic resampling causes useless requests"
This is probably GDAL issue but the thing is I have at hand only rasterio snippet to reproduce it.

I run following scripts with `CPL_CURL_VERBOSE=YES`.

This one works fine without any problem:

[code]

But if I uncomment *resampling* parameter and run it again then I see GDAL tries to reach out \*.msk/\*.MSK files:

[code]

I'm wondering how is resampling method connected with list of sidecars f

[2020-04-22 19:47] sgillies commented on #1907
:wave: @daniel-j-h. Currently, rio-clip does not pad. It trims and the trimming happens here: https://github.com/mapbox/rasterio/blob/master/rasterio/rio/clip.py#L111-L112. We could make that statement optional, defaulting to True, if that helps you?

Otherwise, do you find the tile sizes consistent and correct? At first I thought 2857x1744 looked wrong, but then I realized you're extracting merca

[2020-04-22 19:57] sgillies commented on #1904
@mdhurst1 this is related to issue #1833 and was fixed in #1851. You'll need to upgrade to version 1.1.3 to get the fix.

[2020-04-22 19:57] #1904 closed

[2020-04-23 08:05] daniel-j-h commented on #1907
Making the trimming optional and filling with nodata would be awesome! :rocket:

Thanks for the take on the projection - you are right it should be `3857` - I'm trying to extract mercator zoom 10 tiles for a raster image in a different projection. Changing it to

[code]

(changing the crs in rio warp and adding mercator flag to mercantile shapes)

results in 2370x2370px raster tiles now (except fo

[2020-04-24 14:23] ciaranevans opened #1909 "MemoryFile loses geocoding when opened"
## Expected behavior and actual behavior.

I expect that when I open a MemoryFile, with or without provided key word args, that it retains its geocoding. However when I open a MemoryFile, the Affine is set to the Identity Matrix and the CRS is `None`.

## Steps to reproduce the problem.

* Create `MemoryFile`
* Write 1 band of a `.jp2` to the `MemoryFile`
* Open `MemoryFile` and view `.meta` prope

[2020-04-24 14:33] ciaranevans commented on #1909
Well. Turns out it was PEBCAK, messed with the indentation and this works:
[code]

[code]

[2020-04-24 14:33] #1909 closed

[2020-04-24 20:26] sgillies commented on #1907
@daniel-j-h I've got a solution in #1910 . It adds a new `--with-complement` option, which is described like this.

[code]

[2020-04-24 20:39] sgillies opened #1911 "1.1.4 release"
Target date: 2020-05-01.

[2020-04-26 12:04] carlogarro opened #1912 "Speed up reading rasters"
Hello,

I am trying to read many many raster and I need to reduce the amount of time. I realized that reading one band of the raster takes less time than reading the hole raster.
My question is... is it possible to read in parallel each band in order to reduce the amount of time?
Or , is there any other way to read images in less time?

Thank you.

[2020-04-26 17:19] erelin6613 opened #1913 "AttributeError: module 'rasterio' has no attribute 'plot'"
Am I the only one getting this error?
``AttributeError: module 'rasterio' has no attribute 'plot'``
I am trying to reshape rasterized image to image array with
``rasterio.plot.reshape_as_image(arr)``

## Expected behavior and actual behavior.

The function should return numpy array of shape (heigth, width, bands), but the error arises even earlier when I simply try to access module rasterio.plot f

[2020-04-26 18:22] underchemist commented on #1913
Not all models are imported when you do `import rasterio`. To import the plotting model add an additional import `import rasterio.plot`

[2020-04-26 18:46] erelin6613 commented on #1913
That simple? It really solved it. I should have thought about it. Thank you!

[2020-04-26 18:47] #1913 closed

[2020-04-28 09:10] daniel-j-h commented on #1907
I just built your branch and gave it a try: works perfectly! :tada:

You rock! :rocket:  Much thanks! :bow:

[2020-04-29 17:00] brendan-ward opened #1914 "BUG: features::bounds() does not support GeometryCollection"
As implemented in `_features.pyx` we support `FeatureCollection` and individual geometries, but we don't support `GeometryCollection`.

Fix coming up...

[2020-04-30 17:01] SBCV opened #1916 "Rasterio does not read CRS information, but QGis and GDAL do"
## Expected behavior and actual behavior.

When I open a certain GTiff file with rasterio, I receive the following warning:

However, when using QGis or GDAL the CRS information is parsed correctly.
See for example, the corresponding information in QGIS:

![image](https://user-images.githubusercontent.com/19491335/80736801-ea03a100-8b12-11ea-89dc-8b9d690c58a2.png)

## Steps to reproduce the proble

[2020-04-30 17:07] brendan-ward commented on #1914
Closed by #1915

[2020-04-30 17:07] #1914 closed

[2020-04-30 18:46] vincentsarago commented on #1916
Hi @SBCV,
The problem is your GeoTIFF is geo-referenced via **gcps**. GDAL/QGIS translate the GCPS to a geotransform automatically while rasterio let the user do it.

[2020-04-30 18:48] sgillies commented on #1916
@SBCV the file has no affine geotransform https://gdal.org/user/raster_data_model.html#affine-geotransform.

[code]

But it does have GCPs.

[code]

Rasterio doesn't promote the GCP crs to be the dataset's crs, but applications might choose to use it. Rasterio's rio-warp program (like gdalwarp) will do that.

[2020-04-30 18:52] sgillies commented on #1916
Note that GDAL doesn't promote the GCP CRS either, as you can see in the output of gdalinfo

[code]

This is just one of those things we need to know about our data files, that in some cases they might have GCPs.

[2020-04-30 18:52] #1916 closed

[2020-05-01 13:49] SBCV commented on #1916
Thank you guys for the fast responses!

@vincentsarago
You wrote:

Can you recommend a specific rasterio function to achieve that? Should I use something like
`rio warp input.tif output.tif --dst-crs EPSG:4326`
to compute the transformation from the control points?

[2020-05-02 00:28] snowman2 commented on #1912
Here is a gist by @sgillies that might be helpful: https://gist.github.com/sgillies/b90a79917d7ec5ca0c074b5f6f4857e3

[2020-05-04 19:48] sgillies commented on #1912
@carlogarro we're not accept "help" type issues in this tracker. There's a link to our support forum in the README and in the project's issue template.

[2020-05-04 19:48] #1912 closed

[2020-05-04 20:28] #1892 closed

[2020-05-04 20:49] sgillies commented on #1882
I'm changing this one to a "wontfix". The scaling and offset properties already exist. We'll leave their application up to the user, as GDAL does: https://gdal.org/api/gdalrasterband_cpp.html#classGDALRasterBand_1a4468122d33adb8978c242a0d6bdc5f0f.

[2020-05-04 20:49] #1882 closed

[2020-05-05 00:21] sgillies commented on #1911
New target date: 2020-05-05. Gotta adapt to some changes in the wheel building tools.

[2020-05-05 15:39] sgillies commented on #1847
Reported to GDAL: https://github.com/OSGeo/gdal/issues/2480.

[2020-05-05 22:09] daniel-j-h commented on #1907
Hey quick follow up question - say I have a z10 tile in EPSG:3857 and get its bounds

    mercantile shapes --extents --mercator "[550, 332, 10]"
    1487158.822316389 7005300.768279833 1526294.5807983992 7044436.526761846

and now run `rio clip` with these bounds, I'm getting a tif with (height, width) of (243, 236)

    1202102310.tif: TIFF image data, little-endian, direntries=16, height=243, b

[2020-05-05 22:48] sgillies commented on #1907
@daniel-j-h is there any chance that the raster file you're clipping has non-square pixels?

[2020-05-05 23:20] daniel-j-h commented on #1907
I'm trying this right now on the scene classification mask of a Sentinel-2 tile.

Re-projecting and clipping like described above.

For the z10 tile in the comment above I used

    S2B_MSIL2A_20200426T101549_N0214_R065_T33UVU_20200426T141031

but gdalinfo on the `SCL_60m.jp2` shows me ([more](https://gist.github.com/daniel-j-h/613c1ffa7c103eae904128e552f838bf))

    Pixel Size = (99.0812967046222

[2020-05-06 10:04] daniel-j-h commented on #1907
Ok my mistake :facepalm: I was using the system-wide installed rio by accident and was not prepending the locally compiled rio 1.1.4dev from your branch to my PATH. The universe makes sense again! :hugs:

[2020-05-06 11:14] Ixiodor opened #1918 "Rasterio write undefined behaviour with numpy masked array"
## Expected behavior and actual behavior.

Writting a numpy masked array, i get the correct masked values to nodata value on write. Well i noticed that with some other values that doesn't happen and i don't know why(same type and ~same values)

## Steps to reproduce the problem.

1) Read some data
2) Mask 0(nodata=0, this i why i mask)
3) Convert array as float32
4) Do some math(NDVI, NDWI are ok,

[2020-05-06 21:21] Alfred-Mountfield opened #1920 "Bad Error Message on missing Writer"
When trying to write to a file, if there isn't a writer for that driver (i.e. AIG) the error message is really unclear. Googling ended up making me think I had a bad Conda installation amidst other red herrings.

When picking a driver for writing to a file, if the writer doesn't exist the package reports back this error:
[code]
(This happened for me when trying to re-project a dataset with the AIG

[2020-05-06 23:03] sgillies commented on #1876
I'm happy to say that I can't reproduce the segfault using rasterio 1.1.4.dev0 wheels built by https://github.com/rasterio/rasterio-wheels/pull/47 and fiona 1.8.13.post1. I still do see a printed warning about a mutex that I mentioned in https://github.com/OSGeo/gdal/issues/2278, but it doesn't halt the program.

[2020-05-06 23:06] sgillies commented on #1876
In conclusion, this is not a rasterio or GDAL bug, but a problem with shared library SONAMEs that I'm solving in https://github.com/rasterio/rasterio-wheels/issues/44.

[2020-05-06 23:06] #1876 closed

[2020-05-07 00:00] sgillies commented on #1920
Resolved by #1919 and cherry picked for 1.1.4.

[2020-05-07 00:00] #1920 closed

[2020-05-07 00:01] sgillies commented on #1911
Wheels are sorted out. Waiting for a response on one PR. New date: 2020-05-07.

[2020-05-07 17:15] sgillies commented on #1911
Done! https://pypi.org/project/rasterio/1.1.4/#files

Please note that there is no wheel for Python 2.7 on OS X. We've lost the ability to build them. Might need some support from Travis to solve that. Letting it go for now.

[2020-05-07 17:15] #1911 closed

[2020-05-07 17:20] #1907 closed

[2020-05-07 17:20] #1878 closed

[2020-05-08 20:42] rdhite opened #1921 "WarpedVRT Resizing Fails"
I'm trying to resize and reproject using the WarpedVRT class. Reprojection works, but specifying a width or height has no effect. Below is a minimal example operation on [a NAIP image pulled from the TNM Downloader](https://prd-tnm.s3.amazonaws.com/StagedProducts/NAIP/nv_2015/36115/m_3611563_ne_11_1_20150606_20150923.jp2)

[code]

I have also tried this with the original .jp2 as well as some tiffs

[2020-05-12 09:28] trog-levrai commented on #1777
With poetry, on version `1.1.4`, `enum34` gets installed:
[code]

Which does not happen when using `1.1.3`:
[code]

Here's my `pyproject.toml` (I just changed the `rasterio` version bvetween the 2 examples):
[code]

Is it possible that the last release introduced a regression for this ticket or am I missing something ?

[2020-05-12 09:33] thomascoquet opened #1926 "MemoryFile and seek"
# Expected behavior and actual behavior.

I am trying to download a file from AWS to a MemoryFile using boto3 (Sentinel 2 JP2). I would like to use `client.download_fileobj()` because I have finer control over the download :

https://boto3.amazonaws.com/v1/documentation/api/latest/guide/s3-example-download-file.html

## Steps to reproduce the problem.

[code]
Raises:

[code]

This works fine with

[2020-05-12 16:35] sgillies commented on #1777
@trog-levrai rasterio's pyproject.toml and setup.py didn't change, but there is this: https://github.com/mapbox/rasterio/commit/4006a7f4196de6c2cc235d6dd1c1a5fc0c8d028f. Poetry shouldn't be using rasterio's requirements.txt, though, it's intended only for our CI. All the dependencies are specified in setup.py.

[2020-05-12 16:49] snowman2 commented on #1777
Based on https://github.com/mapbox/rasterio/issues/1777#issuecomment-627455748, it seems that was the change that did it. But, I agree that `poetry` shouldn't use the `requirements.txt` file. @sgillies is the `requirements.txt` included in the distribution on pypi?

[2020-05-12 16:55] sgillies commented on #1777
@snowman2 @trog-levrai it might be that the problem is in PyPI's metadata and how it is misled by rasterio's conditional requirements in setup.py. I believe #1777 is going to resolve this nicely.

[2020-05-12 21:54] sgillies commented on #1926
@thomascoquet thank you for the report. MemoryFile doesn't support multi-part writing. I'd like to see if we can, will report back here.

[2020-05-13 02:03] vincentsarago commented on #1926
@thomascoquet I've done it in the past but in a slightly different way
https://github.com/developmentseed/cogeo-watchbot-light/blob/master/app/translator.py#L22-L26

[code]

[2020-05-13 08:01] thomascoquet commented on #1926
@vincentsarago I ended up doing something similar with BytesIO, thanks for the reply!

[2020-05-13 16:46] sgillies commented on #1926
Though if you use TransferConfig https://boto3.amazonaws.com/v1/documentation/api/latest/reference/customizations/s3.html#boto3.s3.transfer.TransferConfig to disable concurrency, download_fileobj should (untested) work and then you can remove the configuration when we fix this in rasterio.

[2020-05-13 16:52] sgillies commented on #1926
Confirmed, no error from this.

[code]

[2020-05-13 16:55] sgillies commented on #1926
Leaving this as a note to myself: https://github.com/boto/boto3/issues/1304.

[2020-05-17 19:20] mihi314 commented on #1876
Thank you very much :)

[2020-05-19 19:23] snowman2 opened #1927 "Reading int8 data with mask"
## Expected behavior and actual behavior.

[code]
For some reason `mask=False`:
[code]
If I set `data.mask= data.data == data.fill_value`:
[code]

Is there a reason why it is not masked by default?

## Operating system
[code]

## Rasterio version and provenance
[code]

[2020-05-19 19:39] snowman2 commented on #1927
`mask_flag_enums` -> `[<MaskFlags.all_valid: 1>]`

[2020-05-19 20:40] drnextgis opened #1929 "OVERVIEW_LEVEL open option doesn't work for Slippy Map dataset"
I'm looking for a way to translate to rasterio this GDAL CLI command:

[code]

I wrote the following snippet:

[code]

It works fine but when I add `OVERVIEW_LEVEL=1` to `open` method it fails.

[code]

It seems in this case rasterio makes queries to non-existing tiles and gets 404 from Google.

http://erouault.blogspot.com/2014/10/warping-overviews-and-warped-overviews.html

[2020-05-19 20:51] drnextgis commented on #1929
Removing `boundless=True` has helped. @sgillies feel free to close this if you don't think this is a bug.

[2020-05-19 20:59] JesseCrocker opened #1930 "Error when using Resampling.max with DataSetReader.read()"
Calling DataSetReader.read() with Resample.max, min, med, q1, or q3 produces the error `ERROR 1: GDALGetResampleFunction: Unsupported resampling method "UNKNOWN".` and dies with a segfault.  The [documentation](https://rasterio.readthedocs.io/en/latest/api/rasterio.enums.html#rasterio.enums.Resampling) seems to indicate that these should work when used with gdal >= 2.0.

The error seems to [come f

[2020-05-20 15:46] sgillies commented on #1927
@snowman2 this might be related to an issue that GDAL won't fix. See https://github.com/OSGeo/gdal/issues/2298 and https://github.com/mapbox/rasterio/issues/1878. Can you look into those issues and see if there's anything for rasterio to do?

[2020-05-20 15:51] sgillies commented on #1929
@drnextgis I don't use the WMS driver very much but it looks like the behavior with respect to unaddressable tiles can be configured in your XML: https://gdal.org/drivers/raster/wms.html#xml-description-file.

[2020-05-20 15:53] sgillies commented on #1930
@JesseCrocker thanks for the report.

[2020-05-20 15:54] drnextgis commented on #1929
Yes this is what I actually use. But the question is why rasterio requests unavailable tiles in case of `boundless=True` and works fine without it.

[2020-05-20 15:56] snowman2 commented on #1927
It does seems like nodata and `int8` don't go well together in `GDAL`. Thoughts on always masking when the`dtype` is `int8` and the nodata value is negative (ignore the `mask_flag_enums`)?

[2020-05-20 16:04] sgillies commented on #1927
@snowman2 yes, that seems pragmatic. Perhaps a special case for int8 could be implemented in the mask_flag_enums property code?

[2020-05-20 16:46] snowman2 commented on #1927
Sounds like a good plan to me :+1:

[2020-05-20 20:48] snowman2 commented on #1927
I hacked something together, but it seems like something else may be needed:
[code]

[2020-05-20 23:03] drnextgis opened #1931 "Add pixel alignment for rio clip"
`gdal_translate` [produces](https://lists.osgeo.org/pipermail/gdal-dev/2016-July/044911.html) an output whose cell alignment and content matches the source dataset if `-projwin` option is passed. For now there is no way to achieve the same result using rasterio. `rio clip` doesn't perform any alignment. `rio warp` has `--target-aligned-pixels` but it cannot be combined with `--src-bounds`:
[code]

[2020-05-21 22:55] sgillies commented on #1930
Resolved (soon) in maint-1.1 and will be fixed in 1.1.5.

[2020-05-21 22:55] #1930 closed

[2020-05-21 23:17] drnextgis opened #1932 "Reading data using windowed reading returns shifted output"
Take a look at the following notebook:

https://gist.github.com/drnextgis/156a8f38fdfab23dad118890b1e258cd

There are two rasters created with `gdal_translate` and `rasterio`. Is it expected that reading data using the same window gives different result?

Affines are equals so I expect to get the same rasters but as you can see raster created with rasterio a little bit shifted.

[2020-05-22 08:30] drnextgis commented on #1932
Also I wonder why if I change window offset in some cases it doesn't have any effect:

![image](https://user-images.githubusercontent.com/866124/82647921-2f4d5700-9c17-11ea-99f0-4e96b068c42c.png)
https://gist.github.com/drnextgis/bc25c54a672ea1f25142c4aa7690393a

[2020-05-22 18:24] rdhite commented on #1921
Do I need to provide more details for this issue?

[2020-05-22 18:39] sgillies commented on #1921
@rdhite in the issue template we ask for various software versions. Can you provide those?

[2020-05-22 20:38] rdhite commented on #1921
On Windows 10 Pro build 1809, using Conda 4.8.3 and Python 3.7.7, I installed rasterio 1.1.0 backed by gdal 3.0.2.

On Ubuntu 18.04.1, I used apt to install python3-gdal (yielding gdal 2.2.2 and Python 3.6.9) and python3-pip (yielding pip 20.1.1 after a --upgrade) to install rasterio version 1.1.4

I got the same results in both systems.

[2020-05-23 12:15] jnhansen opened #1934 "Inconsistent relation between raster width/height and resolution"
I am confused as to how exactly `rasterio` allocates coordinates to each pixel.
Say I have an image of 6x6 pixels in EPSG:4326 with a bounding box of
`dict(left=-10, bottom=50, right=0, top=60)`, i.e. 10x10 degrees.

In my books this should correspond to a resolution of 2 degrees per pixel if the coordinates are measured at the same location for each pixel (say center of the pixel, or bottom left

[2020-05-23 19:31] sgillies commented on #1926
Fixed! I wasn't so much the multithreading, but that parts of the multi-part writes could come in arbitrary order. We need to support arbitrary seeking so that we could, for example, write the last bytes of a file before the first bytes have been written.

[2020-05-23 19:45] ardieorden commented on #1811
If anyone else would like to work on this issue, please feel free to do so! cc @mark-boer @snowman2

I just copied the code block from the gist that @sgillies wrote and I put it in the documentation. I'm afraid I can't help answer the technical questions.

[2020-05-26 16:37] sgillies commented on #1934
No, this is incorrect. 10 degrees and 6 pixels wide means 5/3 degree or 1.6666666666666667 degrees per pixel. 1 degree per pixel would require a 10 x 10 image. The coordinates of the upper left corner of the dataset are the coordinates of the upper left corner of the upper left pixel (row 0, column 0). The coordinates of the lower right corner of the dataset are the coordinates of the lower right

[2020-05-26 16:37] #1934 closed

[2020-05-26 16:46] jnhansen commented on #1934
Okay, but that doesn't explain the discrepancy between the two scenarios as mentioned in my report:

Using `rasterio.warp.calculate_default_transform`, when I ask for the new image size given a resolution of 1.0, I get an image size 11x11, but when I ask for the transform for a new image size 11x11, I get a resolution of 0.909... .

[2020-05-26 17:12] sgillies commented on #1934
At the heart of this is the fact that `calculate_default_transform` is intended to be called with *different* coordinate reference systems in its first two arguments and uses some approximations internally so that the suggested transform and extent for warp output is fast and at least as large as you need. So if you have the same CRS for input and output and fix the output resolution it's expected

[2020-05-27 10:19] jnhansen commented on #1934
Okay, that makes sense. I had been using `calculate_default_transform` to get the transform for both reprojections and resampling, and the mentioned issue caused some of my internal tests to fail. I suppose I will resort to manually calculating the resampling transforms then.

[2020-05-27 22:14] sgillies commented on #1932
@drnextgis as far as I can tell, the problem is between the window and the overview level. I think some modification to the window needs to be made to access an overview level. gdal_translate might be doing some scaling that rasterio does not?

I checked rasterio's RGB.byte.tif file and rasterio.read and gdal_translate give the same results for the same window when no overview_levels are involved.

[2020-05-27 23:14] sgillies commented on #1921
@rdhite thanks for the report! This is largely a documentation problem. The WarpedVRT class is designed to handle two cases: 1) projecting pixels from one coordinate reference system to another analogous space in another coordinate reference (derived from the source's extents, changing the resolution as little as possible), and 2) projecting pixels from one coordinate reference system to another s

[2020-05-29 01:40] drnextgis commented on #1932
During debugging I compare `xoff` and `yoff` values [here](https://github.com/mapbox/rasterio/blob/98c69203386bcb6e0c24d7816df2a9ef1a93dc53/rasterio/_io.pyx#L695) and [here](https://github.com/mapbox/rasterio/blob/98c69203386bcb6e0c24d7816df2a9ef1a93dc53/rasterio/shim_rasterioex.pxi#L128) and see that they are different. @sgillies how come it is possible?
[code]

[2020-06-01 20:13] evanmpicard commented on #1551
hey y'all, I am planning on adding docs for the kwargs (and anywhere you suggest?) from:
 https://gdal.org/programs/gdalwarp.html

[2020-06-02 01:05] snowman2 commented on #1248
Just did some debugging and it seems to have something to do with defaults used in `Env.from_defaults()`:

[code]

[code]

I modified this part:
https://github.com/mapbox/rasterio/blob/5af075c1c0f260100e831b281909e8e5dee7f571/rasterio/env.py#L226-L228
To return just the `Env` object without the default options and it works:
[code]

[2020-06-02 01:08] snowman2 commented on #1248
I think it has to do with this option:
https://github.com/mapbox/rasterio/blob/5af075c1c0f260100e831b281909e8e5dee7f571/rasterio/env.py#L101

![image](https://user-images.githubusercontent.com/8699967/83468856-a10d7800-a443-11ea-96c8-de1c7b4cbaf9.png)

[code]

[2020-06-02 01:12] snowman2 commented on #1248
More debugging:
[code]

[2020-06-02 14:30] snowman2 commented on #1248
Using GDAL Python, we get a useful error message:
[code]

[2020-06-02 15:05] sgillies commented on #1248
Interesting :thinking:  By the way, you see an error message with the Python bindings because it prints to stderr by default regardless of error level. Rasterio sends this to the logger, which has to be configured.

[2020-06-02 15:33] sgillies opened #1941 "1.1.5 release"
Target: 2020-06-03.

[2020-06-02 15:44] sgillies commented on #1248
@snowman2 without setting `CHECK_WITH_INVERT_PROJ` in that script, do you get the results you expect?

And what is up with this GRIB file that PROJ functions are called when it is opened? Generally, `Open` does very little work at all, but the GRIB driver must be an exception.

[2020-06-02 15:55] snowman2 commented on #1248
I just checked that the CRS and geotransform were provided.

:man_shrugging:. I guess GRIB stores things in a different way.

[2020-06-02 20:56] sgillies commented on #1248
Resolved in #1942. Thanks for your persistence and patience @snowman2 !

[2020-06-03 00:46] sgillies commented on #1941
Done: https://pypi.org/project/rasterio/#files.

Huge thanks to @drnextgis @normanb @JesseCrocker @n00bsys0p @QuLogic @snowman2 and all our other contributors :heart:

[2020-06-03 00:46] #1941 closed

[2020-06-03 00:49] #1926 closed

[2020-06-03 00:49] #1921 closed

[2020-06-03 00:49] #1932 closed

[2020-06-03 00:49] #1248 closed

[2020-06-03 00:49] sgillies commented on #1929
Resolved by #1939

[2020-06-03 00:50] #1929 closed

[2020-06-03 02:05] snowman2 commented on #1838
I think that this should be an issue to discuss upstream in GDAL as you mentioned @sgillies.

[2020-06-03 02:05] #1838 closed

[2020-06-03 02:08] snowman2 commented on #1927
I'm not quite sure I am liking the idea of adding a hack-like solution in rasterio. I think that the ideal solution should come from upstream in GDAL.

[2020-06-03 02:08] #1927 closed

[2020-06-03 14:45] sgillies commented on #1551
Excellent, @evanmpicard ! Count on me for review and help.

The gdalwarp docs can provide some useful context, but
https://gdal.org/api/gdalwarp_cpp.html#structGDALWarpOptions is more immediately relevant. The extra `**kwargs` of `rasterio.warp.reproject()` (see https://github.com/mapbox/rasterio/blob/master/rasterio/warp.py#L179) are literally converted to GDALWarpOptions members.

Cutlines are s

[2020-06-03 18:36] evanmpicard commented on #1551
Thanks.  Can you point me toward an example of passing arguments using the kwargs?

[2020-06-03 19:24] sgillies commented on #1551
* num_threads: https://github.com/mapbox/rasterio/blob/master/rasterio/rio/warp.py#L322
* warp_mem_limit: https://github.com/mapbox/rasterio/blob/master/tests/test_warp.py#L1512

[2020-06-05 18:28] QuiteAFoxtrot opened #1946 "rasterio.transform.TransformMethodsMixin .xy() row-col switch"
Line 29 in:
https://github.com/mapbox/rasterio/blob/master/rasterio/transform.py

defines the .xy() method as:
```def xy(self, row, col, offset="center"):```

But this contains two contrary ideas - the ordering "xy" is actually the ordering "col, row" since x pixel location is a column, and y pixel location is a row.  The method should either be renamed .yx() or the arguments should be swapped as

[2020-06-05 18:31] QuiteAFoxtrot commented on #1946
I apologize, I should have checked the existing issues more thoroughly before posting this issue:

https://github.com/mapbox/rasterio/issues/1726

[2020-06-08 21:20] jhamman opened #1948 "Support Requestor Pays for data in Google Cloud Storage"
Rasterio supports reading from Requester Pays buckets in AWS S3 via the following syntax:

[code]

It would be great if this functionality existed for similar data in [Requester Pays buckets Google Cloud Storage](https://cloud.google.com/storage/docs/using-requester-pays).

## Expected behavior and actual behavior.

A first step would be to expose similar functionality for GCS:

[code]

## Steps t

[2020-06-10 07:42] glostis commented on #1948
`rasterio` uses GDAL for file reading, including reading from remote files.

It looks like GDAL has not (yet) implemented access to Requester Pays buckets for GCP, only for AWS (that's what a [quick search](https://github.com/OSGeo/gdal/search?q=requester+pays&unscoped_q=requester+pays) seems to indicate).

I guess a patch would first need to be contributed to GDAL (as it was done for AWS here: ht

[2020-06-11 04:29] jhamman commented on #977
@sgillies - quick question on one part of this document (which is very useful by the way).

Can you help me understand the technical reasons as to why this is the case? Would it be possible in rasterio to pass file-like objects that are not immediately read into memory? Obviously some streaming access is possible for other buffer types (local file, s3, etc.).

[2020-06-11 13:40] martindurant commented on #977
Yes, you would think that you can pass any type compatible with that MemoryFile interface, where methods to return sets of bytes from the target were implemented to read on demand, not hold everything literally in memory.

[2020-06-11 18:49] sgillies commented on #977
@jhamman GDAL requires a `GByte *` (`unsigned char *`) buffer: https://gdal.org/api/cpl.html#_CPPv420VSIFileFromMemBufferPKcP5GByte12vsi_l_offseti, hence we read file objects entirely into memory and then provide that buffer to GDAL.

[2020-06-11 20:46] drnextgis opened #1950 "Raster is cutted after reprojection"
I want to warp raster using the same crs as for input but different affine transformation. As you can see below result is cutted. Is there a way to overcome this issue?

[code]

Before:
![image](https://user-images.githubusercontent.com/866124/84437163-d892d600-ac34-11ea-8c1b-b1da88bac1db.png)

After:
![image](https://user-images.githubusercontent.com/866124/84437183-dd578a00-ac34-11ea-846d-92f9db

[2020-06-11 20:54] vincentsarago commented on #1950
I think WarpedVRT is what you need @drnextgis

[2020-06-11 21:39] drnextgis commented on #1950
Thanks @vincentsarago but WarpedVRT doesn't work too.

https://gist.github.com/drnextgis/4af1b8780a67159241f2c7f89edfe5b9

[2020-06-11 21:44] drnextgis commented on #1950
Recently @sgillies extended WarpedVRT, probably this case is not yet supported.

[2020-06-13 18:20] kylebarron opened #1951 "WarpedVRT with unchanged projection changes image width, height"
## Expected behavior and actual behavior.

When using `WarpedVRT()` with no other arguments and with an unchanged CRS, the width and height of the source dataset are changed.

Problem originally found when trying to convert a GeoTIFF to a COG using `rio-cogeo`, but the problem might be in `rasterio` itself.

## Steps to reproduce the problem.

Example file: [451512145_Government_Camp_FSTopo.tif](h

[2020-06-14 00:24] drnextgis commented on #1950
I made a working example of raster rotation. It looks quite cumbersome and I'm wondering if it is possible to add something to rasterio to make that solution nicer or maybe I overlooked a more simpler approach to do that. But it is definitely not a bug. Closing.

https://gist.github.com/drnextgis/4cf66dc6faa9e33fc4d7ed896728b752

[2020-06-14 00:24] #1950 closed

[2020-06-15 17:44] sgillies commented on #1950
Thanks for writing to gdal-dev @drnextgis . I'm eager to see what Even says.

[2020-06-15 17:49] sgillies commented on #1951
@kylebarron can you try version 1.1.5 please? We made some changes in this area https://github.com/mapbox/rasterio/blob/master/CHANGES.txt#L19-L21. Note that WarpedVRT with default arguments, does not guarantee that the output size and extents won't be changed.

[2020-06-15 17:51] #1951 closed

[2020-06-15 18:49] vincentsarago commented on #1951
@sgillies I did try this with 1.1.5 and was getting the same result.

I'll dig deeper because I still don't get why

I get that using WarpedVRT without a `Warp` goal is kinda strange anyway (I do this everywhere, because it's a really nice (and only) way to create VRT within rasterio)

[2020-06-15 20:13] sgillies commented on #1951
I forgive you @vincentsarago as long as you don't lead other innocent people into this temptation :smile:

[2020-06-18 11:06] slettner opened #1952 "Segmenation Fault on rasterio.warp.transform on specific inputs"
## Expected behavior and actual behavior.

I expected that transforming an empty array with rasterio.warp.transform returns an empty array. Instead, it causes a Segmentation Fault but only on specific inputs.

## Steps to reproduce the problem.

`import rasterio.warp`
`rasterio.warp.transform("EPSG:3857", "EPSG:4326", [], [], zs=None)`

causes the Segmentation Fault but

`import rasterio.warp`
`ra

[2020-06-18 16:44] sgillies commented on #1952
Thanks for the report @slettner. I expect that we'll short circuit in this case and return empty arrays or raise an exception instead of calling into C.

[2020-06-22 09:55] valpesendorfer opened #1953 "Memory leak when using MemoryFile"
Memory used with `MemoryFile` doesn't seem to be released after the reference is gone. When creating `MemoryFiles` iteratively, the memory consumption continues to increase with every iteration.

Seems to be an issue with version `1.1.5` - works as expected with version `1.1.4`.

## Expected behavior and actual behavior.

### Expected:

Memory to be released after reference is gone, no memory incr

[2020-06-22 16:12] sgillies commented on #1953
Thanks for the report @valpesendorfer . We did change the implementation in 1.1.5. I'll look into it soon.

[2020-06-22 23:34] cmarshak opened #1954 "KEA driver not found"
## Expected behavior and actual behavior.

I want to use the `KEA` driver, which is good at compressing the size of rasters. I just updated rasterio on several machines with `pip` and am now getting the following error: `DriverRegistrationError: ('No such driver registered: %s', b'KEA')`

I was using the `KEA` driver previously without any problems.

## Steps to reproduce the problem.

[code]

##

[2020-06-22 23:52] sgillies commented on #1954
@cmarshak the rasterio wheels on PyPI don't include support for the KEA driver and we're not going to add that support.

I recommend doing a `conda install rasterio` using the conda-forge channel. In fact, if you're using anaconda python, you should strictly avoid using pip to install extension modules like rasterio (or fiona or shapely). Is it possible that you had installed rasterio in that mann

[2020-06-22 23:52] #1954 closed

[2020-06-23 00:16] cmarshak commented on #1954
I am fairly certain I used some `conda install` previously. I am glad to know `conda-forge` is preferred with the anaconda distribution.

FYI, I am getting an error with conda install as well on my Linux and Mac machines, i.e. `CPLE_OpenFailedError: Attempt to create file 'darn.kea' failed. Invalid creation option(s)`

I will link this on the feedstock, then. Thank you so much for your response.

[2020-06-25 21:07] d-diaz commented on #1860
I'm able to read a zipped GeoTiff on a publicly-accessible FTP server like this:

[code]

[2020-06-26 21:42] sgillies commented on #1860
@d-diaz yes, the reported issue is specific to netcdf and still persists with the manylinux1 wheels for rasterio 1.1.5. Either netcdf and FTP don't work together with GDAL 2.4.4, or I am build netcdf and/or GDAL improperly.

GDAL and rasterio have a different approach to opening remote datasets.

What happens with `ds = gdal.Open(ftp_uri)` is that first GDAL downloads the entire `"ftp://ftp.cdc.no

[2020-07-02 05:45] kylebarron commented on #1686
Just FYI, I've been hitting these same errors _without_ threading when I'm reading a COG from a requester pays bucket.

It turns out that you get these errors when you assign `AWS_REQUEST_PAYER` using `os.environ` from within Python, after having failed once to read from a requester pays bucket. This fails consistently for me:

[code]

[2020-07-02 21:37] bw4sz commented on #1471
Just a tiny note for anyone coming here. fill_value accepts only positive values.

[code]

Fails

[code]

Succeeds

[code]
@sgillies this might want to be added. https://rasterio.readthedocs.io/en/latest/api/rasterio.io.html?highlight=index#rasterio.io.BufferedDatasetWriter.read

"a positive scalar"

[2020-07-03 07:34] Geo-Genius opened #1955 "rasterio cannot read info from s3 datasource"
## Expected behavior and actual behavior.

After I installed rasterio using whl, rasterio was able to read the image located on s3. But when I installed rasterio with tar. gz, rasterio couldn't read images on s3, but could read local images. What are the differences between whl and tar.gz of the same version?

![image](https://user-images.githubusercontent.com/65746695/86443826-664c7780-bd42-11ea-

[2020-07-04 19:24] dassatabdi24 opened #1956 "How can I mask with rasterio mask so that outside of the shapefile is labeled with different values? If I update with no data as a particular value,then the inside the raster zeroes values are updated"
## Expected behavior and actual behavior.

For example: I expected to read a band from a file and an exception occurred.

## Steps to reproduce the problem.

For example: a brief script with required inputs.

## Operating system

For example: Mac OS X 10.12.3.

## Rasterio version and provenance

For example: the 1.0a11 manylinux1 wheel installed from PyPI using pip 9.0.1.

[2020-07-06 18:02] sgillies commented on #1686
@kylebarron I think you're seeing an unintended effect of the VSI subsystem cache. If you forget to specify requester pays for a particular dataset, your cache is going to block access to that dataset until you've made enough requests to other datasets to have evicted the problematic dataset.

[2020-07-07 01:12] snowman2 opened #1957 "PROPOSAL: Support obects with __array__ method"
Related: https://github.com/pyproj4/pyproj/issues/573

Currently get errors like:
[code]
This would enable passing in an `xarray.DataArray` or `dask.array` directly into any of the rasterio methods that accept a numpy array.

Option 1: Use `__array__()` method at the start of methods requiring a `numpy.array`.
Option 2: Call `numpy.array()` on all inputs requiring a `numpy.array` if it is not one

[2020-07-07 14:35] #1956 closed

[2020-07-07 15:39] sgillies commented on #1957
@snowman2 I like option 2. With `copy=False` so that we don't have a performance regression for the standard use cases. This feature will touch a lot of code, for sure, I think it would be good for us to find another reviewer than myself as I'm going to be focusing on packaging, bug fixes, fiona, and shapely for the rest of the summer.

[2020-07-08 01:34] snowman2 commented on #1885
#1958 has a potential implementation. I went with the Cython layer as that was the simplest route with the least amount of code changes required. The validation complicated things and I was thinking more thought and testing/timing/discussion would be beneficial before moving forward on that part.

[2020-07-08 01:50] snowman2 commented on #1885
One thought I had was to update the docs to demonstrate to users how to check their geometries and ensure that they are valid. That would remove some of the overhead of checking the geometries every time.

Another thought I had was to add a bool kwarg that enables checking for and removing invalid geometries from a list.

[2020-07-08 17:56] #1885 closed

[2020-07-09 09:51] glostis commented on #1955
The main difference between the wheel and the source distribution (`tar.gz`) is that the wheel comes with its own copy of GDAL included, whereas if you install from source the installation uses your own local GDAL.

It may be that your local GDAL does not have support for `vsicurl` (could be the case if you don't have `libcurl` installed on your system for example).

You can check if it comes from

[2020-07-09 10:01] glostis commented on #1686
@kylebarron the issue you point out looks similar to something I reported in GDAL a few months ago, and that was fixed and included in GDAL 3.1:
https://github.com/OSGeo/gdal/issues/2294

[2020-07-09 13:35] daniel-j-h opened #1960 "Have a rio download command to mirror remote datasets"
Hey lovely people :hugs: again and again I'm catching myself writing small scripts to download e.g. remote slippy map tiles and mirror them on my disk. As I learned a while ago, rasterio already supports slippy map endpoints (by providing a xml file).

What do you think of having a sub-command to download and mirror remote datasets? It seems like rasterio knows about these datasets already, and al

[2020-07-09 16:18] sgillies commented on #1960
@daniel-j-h GDAL's resolution of WMS tiles is hidden by its API and is not available to rasterio. We don't know exactly which tiles it has requested or retrieved and we only see the materialized output. I think this means that rasterio will not be extra useful for mirroring a WMS.

The GDAL project has a contributed program named gdal2tiles: https://gdal.org/programs/gdal2tiles.html. It also doesn

[2020-07-09 16:44] daniel-j-h opened #1961 "`rio mask` does not work correctly when raster crs != geojson crs"
Hey folks,

I have a tif file in EPSG:3857 and want to use `rio mask` with a geojson feature to mask out valid pixels and then crop the raster to the feature. When I run `rio mask` it seems like we're not able to mask rasters in a different crs than the geojson default.

[code]

The geojson feature is within the raster's bounds - it's just in EPSG:4326 (per geojson spec) and not in the raster's EP

[2020-07-09 16:46] daniel-j-h commented on #1961
Also I should have RTFM

still leaving this ticket open for discussion :stuck_out_tongue:

[2020-07-09 17:13] daniel-j-h commented on #1961
This is a related question - say we want features and raster to have the same CRS. What's the best way to get the GeoJSON feature into the raster's EPSG:3857? I'm trying various fiona commands from `fio cat | fio load` to `fio cat` with an dst crs but so far found it impossible to convert GeoJSON features to EPSG:3857 for rio mask to be able to pick it up, e.g. see

[code]

[2020-07-09 17:22] daniel-j-h opened #1962 "`rio info` allows `--height` and `--width` but only prints dimension for argument coming last"
Hey folks, this is unexpected. When I use `rio info` I can pass `--height` or `--width` or both. But when I pass both, `rio info` reports the dimension of the argument coming last.

[code]

It would be best to either make them mutually exclusive or report both dimensions.

[2020-07-09 19:42] kylebarron commented on #1686
Thanks, that's good to know. I'm still on GDAL 2.4 because I found that GDAL 3.1 was ~15x slower for my main use case (dynamic image tiling from Lambda) (see: https://github.com/developmentseed/cogeo-mosaic-tiler/issues/4#issuecomment-604120617, https://github.com/lambgeo/docker-lambda/issues/2)

[2020-07-11 08:56] naseefo opened #1963 "Installation of rasterio for Python 3.7.4 in Windows 10 (64-bit)"
I had done the following steps:

1. **_Configured and installed GDA_**: I had downloaded and installed gdal-300-1911-x64-core.msi and GDAL-3.0.4.win-amd64-py3.7.msi. Also configured the values in `Path`, `GDAL_DATA`, and `GDAL_DRIVER_PATH` (Followed the guidelines given in the following link: https://sandbox.idre.ucla.edu/sandbox/tutorials/installing-gdal-for-windows). Apart from the step given in

[2020-07-12 01:16] snowman2 opened #1965 "PROPOSAL: Code linting?"
What are the current thoughts on adding code linter support?

Here are some potentially useful ones:
- [black](https://github.com/psf/black) - really nice because it forces all programmers on the project to use the same code style regardless of our individual preferences
  - Unfortunately, doesn't work with cython yet (https://github.com/psf/black/issues/359), but still nice to have for the regula

[2020-07-12 02:32] vincentsarago commented on #1965
👍 and if we ever drop python2 I'll add mypy (type) to the list!

[2020-07-12 22:10] sgillies commented on #1963
@naseefo rasterio developers are rarely using windows and the instructions are lacking, but you're on the right track. You must pass some extra options to pip so that the install script can find the GDAL header files like cpl_conv.h. At https://github.com/mapbox/rasterio#windows-1 we have an example for passing options to the setup.py script. At https://github.com/Toblerity/Fiona/blob/master/appve

[2020-07-16 03:55] Tokusei opened #1966 "Reprojected raster does not contain lat/lon metadata"
Hi, I need to reproject a source GeoTIFF to another CRS, Afterwards, I need to provide the lat/lon data of the tile + CRS to download additional data. Right now, Printing the metadata of the reprojected file is not showing lat/lon data. I am pretty new to GIS, Is the lat/lon the same as the source, or do some reprojection methods modify it?

source:
`GridTIF.meta`
[code]
`GridTIF.crs.data`
[code]

[2020-07-16 21:06] sgillies commented on #1966
@Tokusei I'm sorry, but as it says at https://github.com/mapbox/rasterio#support questions like these are not welcome in the issue tracker. In the future, will you bring these questions to the discussion group?

Reprojection doesn't change the longitude and latitude of the elements in the dataset. The values of `wgs84TIF.lnglat()` and `sourceTIF.lnglat()` should be almost exactly the same. You may

[2020-07-16 21:06] #1966 closed

[2020-07-17 19:39] sgillies commented on #1471
@bw4sz the intent is that `fill_value` can be any value that's within the range of the dtype. `-9999` is out of range for uint16, but would be within range for int16. We've borrowed the concept from https://numpy.org/devdocs/reference/generated/numpy.ma.masked_array.fill_value.html and are trying to get by on that documentation indirectly, but I wouldn't mind being more specific in rasterio's docs

[2020-07-17 19:47] sgillies commented on #1471
Doc change made in adf1bd6
.

[2020-07-23 09:28] thomascoquet opened #1967 "Typo in rasterio.path"
Hi Sean,
Here's a small bug in rasterio.path.ParsedPath.is_remote.

## Expected behavior and actual behavior.

[code]

returns `None` instead of `False`. Comes down to:

[code]

Thomas

[2020-07-23 16:49] sgillies commented on #1967
Thanks @thomascoquet !

[2020-07-23 21:23] G-Guillard commented on #1867
I encountered the "_MemoryError: Unable to allocate 11.9 GiB for an array with shape (1, 80000, 40000) and data type float32_" error using `rio merge`and found [this seemingly working implementation](https://gis.stackexchange.com/a/349642/159691), it may help.

[2020-07-28 19:08] anshver92 opened #1968 "ResamplingAlgorithmError when reading tif file with med method"
I am downsampling a tif file by a factor of 1/5. I am trying to use resampling with the med method. The code used is taken direcly from the documentation [here](https://rasterio.readthedocs.io/en/latest/topics/resampling.html). I get the following error after running the code below in Jupyter

[code]

I tried with max, min, q1, q3 all with the same error. Seems to work fine with other options e.g.

[2020-07-28 19:39] sgillies commented on #1968
@anshver92 this is expected behavior. `ResamplingAlgorithmError: <Resampling.med: 10> can be used for warp operations but not for reads and writes` means that the GDAL library cannot do dataset I/O using that resampling method. I'll make a note to update the documentation for https://rasterio.readthedocs.io/en/latest/api/rasterio.enums.html#rasterio.enums.Resampling.

[2020-07-28 19:39] #1968 closed

[2020-07-28 19:42] sgillies opened #1969 "Clarify which resampling options are available for read/write"
See https://github.com/mapbox/rasterio/issues/1968. Would better documentation suffice? Should we use two different enums?

[2020-07-29 04:38] #1957 closed

[2020-07-30 10:46] daniel-j-h commented on #1960
Ah, too bad we do not have direct access the the WMS API. I was thinking, would it work to run `rio convert` with a WMS as an input source and a local Slippy Map output source? This should mirror remote tiles to a local directory, no?

What is the difference of `rio clip`ping Slippy Map tiles out of a raster compared to gdal2tiles? rasterio should already be capable to replace gdal2tiles if I'm no

[2020-07-31 09:22] 12rambau opened #1970 "GDAL doesn't include file gcs.csv anymore"
## description

I'm using [geemap](https://github.com/giswqs/geemap) to display a raster on a created map.
This lib use `xarray_leaflet` to display the raster and this lib will end up using `rasterio` to manipulate the .tif file.

When I launch my display :

[code]

I get the following error :

This error is everywhere on SO so I tried to verify if my GDAL_DATA env variable was coorectly set :
[co

[2020-07-31 14:11] sgillies commented on #1970
@12rambau We're sorry, but support questions are not welcome in the issue tracker. We say so in the readme and in the issue template. Please use the rasterio discussion group.

[2020-07-31 14:11] #1970 closed

[2020-07-31 17:18] davidbernat opened #1971 "Applying the same Resampling & Projection to many rasters at once."
The reproject method is a handy way to reproject a numpy array from one CRS/Transform to another CRS/Transform without needing to open/read/write a rasterio source file.

[code]

In my application, I have a time-stack of rasters, all of which need to be projected from and to the same CRS/Transforms. It is the slowest part of the entire pipeline. Presumably this could be vectorized within the repro

[2020-07-31 17:34] 12rambau commented on #1970
I had the feeling that pointing to a file that doesn't exist in gdal since V2.5 was a bug... but ok I'll see on SO if I have more luck

[2020-08-05 11:30] digital-idiot opened #1973 "Image Compression"
I have noticed that result of image compression in `rasterio` is **not** exactly identical to that of `GDAL`. For example:

I am trying to compress a GeoTIFF of size **171.7 MiB** (5 × 6000 × 6000 | `uint8`) as follows:

[code]
The size of compressed file `'RGBIR_Potsdam_04_12_RIO.tif'` is **147.6 MiB**. However, when I compress the same file using:
[code]
The resultant file `'RGBIR_Potsdam_04_12.

[2020-08-05 14:53] digital-idiot commented on #1973
`predictor` option is available in `rasterio` but not clearly documented.

[2020-08-05 14:53] #1973 closed

[2020-08-06 20:41] snowman2 opened #1975 "CRS.from_string() PROJ string check"
https://github.com/mapbox/rasterio/blob/00b5096015a2e1b737c8902abc2b48c6394ff08c/rasterio/crs.py#L362-L363

Sometimes WKT can contain PROJ strings. I am thinking should check if it endswith `]` as well.

Or, change it to:

[code]

 Thoughts?

[2020-08-06 20:55] snowman2 commented on #1975
Example:
[code]

[2020-08-10 15:09] sgillies commented on #1975
Indeed @snowman2 this should be fixed!

[2020-08-11 20:28] byander commented on #1963
To solve the instalation on Windows:
1) Enter in the site (https://www.lfd.uci.edu/~gohlke/pythonlibs)
2) Download the correct GDAL version according with Python and OS version, e.g, GDAL-3.1.2-cp37-cp37m-win_amd64.whl if you use Python 3.7.x and Windows 64 Bits.
3) Download the correct rasterio version according with Python and OS version, e.g, rasterio-1.1.5-cp37-cp37m-win_amd64.whl
4) Install t

[2020-08-16 17:34] pepeto opened #1977 "Installation Failure"
It seems like is not ready for Python 3.8. Do I have to downgrade the python version? I don't know how to solve the CUDA problem. Please help, tahnk you!

After executing:

conda install -c conda-forge/label/cf201901 rasterstats

or

conda install -c conda-forge/label/gcc7 rasterstats

**I receive this message**:

Specifications:

  - rasterstats -> python[version='2.7.*|3.5.*|3.6.*|3.4.*']

Your

[2020-08-17 10:42] mazzma12 opened #1978 "Virtual Warping example fails: AttributeError: 'Window' object has no attribute 'num_cols'"
## Expected behavior and actual behavior.

Run the first example of Virtual Warping in the [documentation](https://rasterio.readthedocs.io/en/latest/topics/virtual-warping.html), but there seem to be an error with the `Window` Object

[code]

## Operating system

Ubuntu 18.04

## Rasterio version and provenance

rasterio 1.1.15 installed with pip
python 3.7.7

[2020-08-17 14:30] sgillies commented on #1977
Conda is telling you your issue is with the rasterstats package. You've come to the wrong issue tracker.

[2020-08-17 14:30] #1977 closed

[2020-08-17 14:32] sgillies commented on #1978
Thanks for the report @mazzma12!

[2020-08-18 13:46] byander opened #1979 "[Question] - How sum two raster with different shapes"
Hi, I'm developing a system and I need sum two raster with different shapes.
I've a DEM raster with a resolution of 30 meters and another raster with a resolution of 10 meters, both clipped in the same area by a polygon.

When I trying sum the rasters I get the error: `ValueError: operands could not be broadcast together with shapes.`

I know that rasterio read raster as numpy array, but If I use

[2020-08-18 15:45] sgillies commented on #1979
@byander we don't accept usage questions here. Please see the notes in the issue template and in the readme about how to get support.

[2020-08-18 15:45] #1979 closed

[2020-08-19 15:55] 00krishna opened #1980 "CRS linear units show as "unknown" for EPSG:4326 -- Latitude/Longitude. Should show "Degree" instead"
## Expected behavior and actual behavior.

I am looking at a raster tif file in `rasterio`--link provided below. The file is using EPSG: 4326 for its coordinate system, and the measurement unit for each pixel should show "degrees." But instead the metadata for the `rasterio.crs.linear_units` shows "unknown."

This issue is probably related to https://github.com/mapbox/rasterio/issues/1634

I think

[2020-08-19 18:12] sgillies commented on #1980
@00krishna thanks for the report. I can confirm this and I think this is an issue with GDAL. I see `ANGLEUNIT` in gdalinfo's WKT but I don't see any sign that `GDALGetLinearUnits` would return "degree". Are you a GDAL-python user? If so, could you check using that API?

[2020-08-19 18:31] 00krishna commented on #1980
@sgillies I can take a look at GDAL python api docs. Famous last words :). I will see if I can find anything on this.

[2020-08-19 21:17] 00krishna commented on #1980
Hey Sean, yeah it looks like GDAL python separates Linear and Angular units, with no relationship between them.

So from https://gdal.org/python/osgeo.osr-pysrc.html#SpatialReference.GetLinearUnitsName

The function is:

[code]

But there is a separate set of functions for Angular functions.

[code]
The C function for getting angular units just assumes "degrees" if the field is empty. https://gdal

[2020-08-19 22:10] sgillies commented on #1980
@00krishna I've been overlooking `GDALGetAngularUnits`, thanks for the pointer. I think I'd rather not add such a convenience function, because it would be little more than `return crs.linear_units or crs.angular_units` and that's easy enough for users. So what I'd like to do is add an `angular_units` property and have each of these properties return `None` instead of "unknown" so that we can use

[2020-08-20 05:44] andrewmwilson commented on #1831
@DanielFEvans I'm having the same issue in that most of the rasters I am working with are far too large to load into memory all at once. Being able to read/write windows is very helpful, but higher-level functions like `merge` and `rasterize` don't really take advantage of them to the full extent. I feel like I'm writing the same code as other people in order to make this work, so I'm potentially

[2020-08-20 12:11] olegsson opened #1981 "Windowed write fails with TileDB driver"
## Expected behavior and actual behavior.

When windowed writing to a `tiledb` raster:
 - in `r+` mode write fails silently (doesn't write anything)
 - in `w` mode write produces a `[TileDB::Writer] Error`
   - EDIT: this happens unless the entire array is populated beforehand (which seems to defeat the purpose of parallel writes on large arrays); this is also true for `w+` mode

Code and output p

[2020-08-20 18:51] 00krishna commented on #1980
@sgillies I can start a PR if it will help. Seems like a pretty easy addition to the `rasterio.crs` module. Unless there are other things that you want to handle yourself. But it is no problem to at least start the PR. I think you laid out how you want to behavior to work.

Haha, there is one really hacky thing in the C code I believe. Basically if no units are available, it may default to a value

[2020-08-27 08:21] drnextgis opened #1982 "Overviews are not used while boundless reading with non-nearest resampling algorithm"
[code]

Depending on combination of `resampling` and `boundless` parameters this snippet produces different amount of HTTP
requests. In my case:

| boundless | resampling | *.vrt.ovr is used | total requests |
| ------------- | ------------- | ------------- | ------------- |
| True  | cubic  | No | 900 |
| False  | cubic  | Yes | 60 |
| True  | nearest | Yes | 60 |

https://lists.osgeo.org/piperma

[2020-08-27 12:51] drnextgis commented on #1982
If remove this section from intermediate VRT file for each band then everything works fine:

[code]

[2020-08-27 14:36] drnextgis commented on #1982
@sgillies please take a look https://lists.osgeo.org/pipermail/gdal-dev/2020-August/052552.html

[2020-08-27 16:41] sgillies commented on #1982
@drnextgis what do you see if you change the DstRect to

`<DstRect xOff="0" xSize="40961" yOff="0" ySize="139265" />`

?

[2020-08-27 16:44] drnextgis commented on #1982
Simple example to reproduce the issue with public dataset:

[code]

[code]

In output you can see that GDAL doesn't try to reach `green.tif.ovr` file.

[2020-08-27 16:53] drnextgis commented on #1982
It has no effect. I saved this intermediate VRT file and trying to read it with pure GDAL ans still see so many requests (*.ovr are not used):

[code]

[2020-08-28 00:02] drnextgis commented on #1982
I guess that when we read data from intermediate VRT we are hitting this code path https://github.com/OSGeo/gdal/blob/f8b7d8cb8c7df0d07be1091633116fbe4f81f247/gdal/frmts/vrt/vrtsourcedrasterband.cpp#L230 and because of `nXSize/nBufXSize` and `nYSize/nBufYSize` are almost identical (1px difference?) overviews are not used. @sgillies could you please help me to verify my assumption.

[2020-08-28 00:52] Kirill888 commented on #1637
@sgillies looks like this issue is back?

[code]

Session is always created and if `._session` exists credentials are being acquired:

`self._session` is never `None` on this line:
https://github.com/mapbox/rasterio/blob/d8f342e4e6d2a89dd17b488ec912d1e51a8f13f3/rasterio/session.py#L281

[2020-09-01 02:26] Kirill888 opened #1984 "Rasterio ignores AWS_NO_SIGN_REQUEST=YES environment variable"
## Expected behavior and actual behavior.

GDAL supports `AWS_NO_SIGN_REQUEST=YES` option, if set, GDAL assumes that all S3 access can be made without any credentials.

Accessing files from public buckets with `AWS_NO_SIGN_REQUEST=YES` is extremely slow as every `.open` call causes an attempt to obtain STS tokens from IAM service that eventually silently fails. Work around is to configure `botocor

[2020-09-01 11:41] daniel-j-h opened #1985 "Unexpected `rio convert --overwrite in.tif` hard crash"
Hey hey lovely people :hugs: here's something unexpected I just encountered.

When running rio convert with the overwrite flag, failing to pass an output file crashes (see below).

This is unexpected, instead I'd expect rio to
- either overwrite the input flag when the overwrite flag is given and there is no output file, or
- the argument parser to error out because there is no output file given

[2020-09-01 13:02] daniel-j-h opened #1986 "Warn or error out on unused profile properties"
Hey hey :artificial_satellite: folks :hugs: - I just came across the following problem. Have a look at

[code]

Can you spot the problem? Exactly, neither could I for a few months :stuck_out_tongue:

But when reading [the docs](https://rasterio.readthedocs.io/en/latest/topics/profiles.html) carefully (as one does of course :eyes:), it turns out the compression property is called

    compress="lzw

[2020-09-03 11:31] daniel-j-h opened #1988 "`rio convert` drops GCPs"
Hey folks :wave: here's a strange rio behavior.

My input raster is a Sentinel-1 GRD tif with many GCPs.

When I run

    gdal_translate in.tif out.tif

the out file still contains the GCPs.

But when I run

    rio convert in.tif out.tif

the out file does not have a single GCP.

Here are the info logs on both `rio convert`'s input and output tif
- gdalinfo on input https://gist.github.com/daniel

[2020-09-03 11:59] daniel-j-h opened #1989 "Crash when passing int values to creation options `--co key=value`"
Hellooo :ocean:

We can pass `--co` creation options to command line arguments writing new datasets.

When we pass creation options such as `blockxsize=256` we fail to convert the `str` argument to an `int` before we pass it on.

For example

    rio clip in.tif --co tiled=false --co blockxsize=256 --co blockysize=256 --co compress=LZW --bounds "1565430.3392804095 6848757.734351791 1604566.0977624

[2020-09-03 14:58] glostis commented on #1988
I can confirm that I observe the same behavior. In fact, the tags are also dropped.

See the diff between the `gdalinfo` output of `in.tiff` and `out.tiff`:

[code]
I don't know if this is the intended behavior of `rio convert`?

If not, I can work on a fix for this in `rasterio/rio/convert.py`

[2020-09-03 18:07] drnextgis commented on #1982
From [here](https://gdal.org/drivers/raster/vrt.html#overviews):

Adding this additional `ComplexSource` for each band in the intermediate VRT we are making overviews that original raster has useless. So I think we should find another way to make a background for boundless reading. @sgillies any ideas?

[2020-09-04 16:24] sgillies opened #1990 "Rewrite _reproject to use GDALDatasetHGDALWarp"
We're missing out on new features coming into https://gdal.org/api/gdal_utils.html#_CPPv48GDALWarpPKc12GDALDatasetHiP12GDALDatasetHPK18GDALWarpAppOptionsPi. For example: https://github.com/OSGeo/gdal/pull/2922.

[2020-09-08 22:49] sgillies commented on #1984
@Kirill888 your suggestions are :100: as always. Working on the fix in #1991.

[2020-09-08 23:05] sgillies commented on #1982
@drnextgis do you agree that we should ultimately fix this in GDAL? Until then, if we really want this feature to work, our only choice seems to be to composite the GDAL VRT (without background layer, which I thought was a neat hack) onto a filled array.

[2020-09-08 23:18] aj-kaufmann opened #1992 "WarpedVRT.read Hangs"
I have a long running server process rendering tiles from a GeoTiff using the WarpedVRT in the following way (simplified to only remove some math):
[code]
It works great most of the time, but after an hour or so, processes start to get hung. Using gdb, I've gotten the following stack which leads me to believe I'm hitting a deadlock in rasterio code:
[code]

## Operating system

[code]
## Rasterio

[2020-09-09 01:14] drnextgis commented on #1982
Completely agree. I was experimenting with some possible workarounds to overcome the issues but all of theam caused failing some of rasterio tests.

[2020-09-09 14:39] #1967 closed

[2020-09-09 14:39] #1978 closed

[2020-09-09 17:14] sgillies commented on #1685
In 604dca0 I have optimized the EPSG use case and observe sub-µsec equality comparison.

[code]

[2020-09-09 21:06] #1873 closed

[2020-09-09 21:11] #1879 closed

[2020-09-09 21:18] #1975 closed

[2020-09-09 21:26] sgillies commented on #1891
I'm labeling this as a documentation bug. WarpedVRT supports only 4 cases: https://github.com/mapbox/rasterio/pull/1936/files#diff-7519f03c7f3cca2b36a087ca08b1ffd1R879. The `src_transform` parameter is part of the solution for the 2nd case. If I understand yours, the following is the right usage.

[code]

[2020-09-09 21:33] sgillies commented on #1918
@Ixiodor can you provide us with some runnable code that will reproduce the problem?

[2020-09-09 21:35] #1946 closed

[2020-09-09 21:38] sgillies commented on #1955
Thanks @glostis !

[2020-09-09 21:38] #1955 closed

[2020-09-09 22:13] sgillies commented on #1961
@daniel-j-h `fio cat mask.geojson --dst-crs "EPSG:3857"` is supposed to work. I can reproduce the problem, which looks to be a packaging issue. I'm going to ticket that elsewhere and close this issue.

[2020-09-09 22:13] #1961 closed

[2020-09-10 14:02] sgillies commented on #1961
@daniel-j-h Fiona 1.8.17 (yesterday) fixes the bug you reported.

[2020-09-10 18:38] daniel-j-h commented on #1961
Awesome, as usual! :heart: Good stuff! :rocket:

[2020-09-11 16:43] sgillies commented on #1985
@daniel-j-h thank you for the exemplary report! This will be fixed in 1.1.6.

[2020-09-11 17:05] sgillies commented on #1986
@daniel-j-h you can use the `GDAL_VALIDATE_CREATION_OPTIONS` config option to have warnings sent to the Python logger. See f9a6c68.

Usage:

[code]

Should this be on by default when creating new files? I'd like to discuss that more with other users and developers.

To get Python warnings (which can be caught in our code like exceptions) and not just log messages we can add a custom filter to the

[2020-09-11 17:08] sgillies commented on #1988
It's true, rio-convert lacks features of gdal_translate. It may be worth thinking about a rewrite to use https://gdal.org/api/gdal_utils.html#gdal__utils_8h_1a1cf5b30de14ccaf847ae7a77bb546b28.

[2020-09-11 17:14] sgillies commented on #1989
@daniel-j-h thanks for the report! Generally, the `--co` args get passed straight through to GDAL without being used, and GDAL expects strings. I found one other case where the block sizes are checked: in rio-warp. I'll fix both of these.

[2020-09-11 17:46] sgillies commented on #1992
@aj-kaufmann it looks like an error of computing warp extents, maybe around some singularity in your projection? What is your destination CRS?

[2020-09-11 17:48] sgillies commented on #1971
@davidbernat can you take this question to the discussion group linked in the readme and this tracker's issue template instead? Thank you.

[2020-09-11 17:48] #1971 closed

[2020-09-11 17:53] aj-kaufmann commented on #1992
Destination CRS is longitude shifted EPSG:3857:
[code]

(Source data is GOES 16/17, so depending on the specific data it might be in either projection)

[2020-09-11 18:16] daniel-j-h commented on #1986
Understand that you can not just change defaults :hugs: I just wanted to give you my input on the api and that I've used it the wrong way for half a year before I accidentally figured it out why it was not working the way I expected :stuck_out_tongue:

[2020-09-11 21:33] sgillies commented on #1962
@daniel-j-h these options were implemented naively and it will be a fair amount of work to change this. For what it's worth, the click project doesn't see this as a bug: https://github.com/pallets/click/issues/955.

[2020-09-11 21:38] sgillies opened #1995 "1.1.6 release"
Target date: 2020-09-14.

[2020-09-11 21:53] sgillies commented on #1986
Sorry about the confusion! I've tripped over one myself.

[2020-09-11 22:55] sgillies commented on #1995
Test wheel build here: https://travis-ci.com/github/rasterio/rasterio-wheels/builds/183994140.

[2020-09-12 13:45] drnextgis commented on #1995
Thanks! When do you think build with GDAL 3 will be released?

[2020-09-12 13:48] drnextgis commented on #1982
Issue has been fixed in GDAL.

[2020-09-12 20:47] sgillies commented on #1995
It's overdue, for sure! I'm looking into it today.

[2020-09-14 15:55] sgillies commented on #1982
I agree. I'll see if we can patch https://github.com/OSGeo/gdal/commit/01961584642d79a8056d7ab56fe875f23f5d260f and https://github.com/OSGeo/gdal/commit/507451e25decfeaf7cfa8fd6696a2c4bf9488d76 onto GDAL 2.4.4 and rely on `HideNoDataValue`.

[2020-09-15 14:08] sgillies commented on #1995
Done! More discussion and work is needed before switching to GDAL 3.1. But the GDAL 2.4.4 library has been patched to fix VRT overview and background value bugs.

[2020-09-15 14:08] #1995 closed

[2020-09-15 14:15] #1685 closed

[2020-09-15 14:15] #1984 closed

[2020-09-15 14:15] #1831 closed

[2020-09-15 14:15] #1985 closed

[2020-09-15 14:15] #1989 closed

[2020-09-15 14:15] #1952 closed

[2020-09-15 14:15] #1953 closed

[2020-09-15 14:15] #1982 closed

[2020-09-15 17:51] sgillies opened #1996 "Cherry pick from #1945"
Get #1945 into maint-1.1.

[2020-09-17 01:33] sshuair opened #1997 "rasterio read file error"
tifffile package read is ok, but rasterio read error.
[code]

error

[code]

[2020-09-17 02:05] sgillies commented on #1997
@sshuair can you read https://github.com/OSGeo/gdal/issues/2165 ? Is that the problem? It looks like your TIFF file may be nonconforming.

[2020-09-17 07:26] sshuair commented on #1997
@sgillies Thanks, I will check it out.

[2020-09-17 09:59] xylar opened #1999 "test_boundless_fill_value_overview_masks failing on Linux and OSX builds"
## Expected behavior and actual behavior.

Expected: All tests pass after installing rasterio 1.1.6.

Actual behavior (see script below):
[code]

## Steps to reproduce the problem.

I have previously run:
[code]
as recommended for adding `conda-forge` as a channel (https://conda-forge.org/).

[code]

## Operating system

Ubuntu 18.04.5

OSX Catalina 10.15.6

## Rasterio version and provenance

Ins

[2020-09-17 11:18] drnextgis commented on #1999
That's already have been fixed via https://github.com/mapbox/rasterio/commit/bb0068fa48f6572e26070a11592ab87cca3fd090

[2020-09-17 12:36] xylar commented on #1999
Ah, sorry, I tried to search but missed this somehow.

[2020-09-17 12:36] #1999 closed

[2020-09-17 23:01] sgillies commented on #1999
@xylar sorry about that. It's a little hectic at rasterio HQ lately and I've dropped the ball a few times. I haven't scheduled a 1.1.7 release yet but there's no reason why we couldn't have it soon.

[2020-09-17 23:29] #1996 closed

[2020-09-18 09:28] xylar commented on #1999
No worries and no need for a new release for this. I just patched the conda-forge feedstock with the commit above and the tests were skipped as expected.

[2020-09-21 13:13] Saelyos opened #2000 "Segfault when closing WarpedVRT"
## Expected behavior and actual behavior.

I use contextily which itself call rasterio. Everything works fine with version 1.1.5, but I have a segfault with version 1.1.6 :
[code]

## Steps to reproduce the problem.

Run the following program :
[code]

## Operating system

Debian 10

## Rasterio version and provenance
1.1.6 installed from PyPI using poetry.